<ng-container *ngIf="isTicker">
  <app-ticker [setTickers]="{tickers: tickers, props: tickerProps}"></app-ticker>
</ng-container>
<div class="box" [class.__show]="initPage" #boxEl>
  <div class="floor" *ngFor="let floor of floors;">
    <div class="floor_content __1 __1160 __hoverUp" *ngIf="floor.type === 1">
      <a (click)="getArticleUrl(floor.data[0], $event)" [href]="(floor.data[0].is_link ? floor.data[0].redirect_url : '/article/' + floor.data[0].slug | langLink)" class="block __tint">



        <img (error)="img_service.onError($event, floor.data[0].cover_preload)"
             (onLoad)="imgOnLoad(floor.data[0], defImg)"
             [lazyLoad]="floor.data[0].cover_xl"/>
        <img class="cover_preload" [src]="floor.data[0].cover_preload" #defImg/>




        <div [style.color]="'red'"></div>
<!--        <div [style.BackgroundImage]="'url('+ floor.data[0].cover_preload +')'"></div>-->

        <span class="head" [style.color]="color">{{floor.data[0].title}}</span>
        <div class="tags">
          <a class="tags_item" (mouseenter)="tagMouseenter(floor.data[0].tags)" (mouseleave)="tagMouseleave(floor.data[0].tags)" [class.__opacity]="tag._hover" *ngFor="let tag of floor.data[0].tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
        </div>
      </a>
    </div>

    <div class="floor_content __2 __1440 __hoverUp" *ngIf="floor.type === 2">
      <ng-container *ngFor="let article of floor.data">
        <a [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)"
           *ngIf="article"
           (click)="getArticleUrl(article, $event)"
           class="block __tint">
          <img (error)="img_service.onError($event, article.cover_preload)" (onLoad)="imgOnLoad(article, defImg)" [lazyLoad]="article.cover_md"/> <span class="head" [style.color]="color">{{article.title}}</span>
          <img class="cover_preload" [src]="article.cover_preload" #defImg/>
          <div class="tags">
            <a class="tags_item"
                                  (mouseenter)="tagMouseenter(article.tags)"
                                  (mouseleave)="tagMouseleave(article.tags)"
                                  [class.__opacity]="tag._hover" *ngFor="let tag of article.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
          </div>
        </a>
      </ng-container>
    </div>

    <div class="floor_content __3 __1440 __hoverUp" *ngIf="floor.type === 3">
      <ng-container *ngFor="let article of floor.data">
        <a [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)"
           *ngIf="article"
           (click)="getArticleUrl(article, $event)"
           class="block __tint">
          <img (error)="img_service.onError($event, article.cover_preload)"  (onLoad)="imgOnLoad(article, defImg)" [lazyLoad]="article.cover_md" alt=""/>
          <img class="cover_preload" [src]="article.cover_preload" #defImg/>
          <span class="head" [style.color]="color">{{article.title}}</span>
          <div class="tags">
            <a class="tags_item"
               (mouseenter)="tagMouseenter(article.tags)"
               (mouseleave)="tagMouseleave(article.tags)"
               [class.__opacity]="tag._hover"
               *ngFor="let tag of article.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
          </div>
        </a>
      </ng-container>
    </div>

    <div class="floor_content __4 __1160 __hoverUpBg" *ngIf="floor.type === 4">
      <ng-container *ngFor="let article of floor.data">
        <a [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" *ngIf="article" (click)="getArticleUrl(article, $event)" (mouseenter)="upTextHandler(article, textEl)" (mouseleave)="clearTextHandler(article)" class="block __tint">
          <div class="bgTint" [style.backgroundColor]="tint"></div>
          <img (error)="img_service.onError($event, article.cover_preload)" (onLoad)="imgOnLoad(article, defImg)" [lazyLoad]="article.cover_md"/> <span class="head __delay">{{article.title}}</span>
          <img class="cover_preload" [src]="article.cover_preload" #defImg/>
          <div class="hidden_text">
            <p class="__delay" [style.transform]="'translateY(-' + article.offsetText +'px)'" #textEl>{{article.lead}}</p>
          </div>
          <div class="tags">
            <a class="tags_item" (mouseenter)="tagMouseenter(article.tags)" (mouseleave)="tagMouseleave(article.tags)" [class.__opacity]="tag._hover" *ngFor="let tag of article.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
          </div>
        </a>
      </ng-container>
    </div>

    <div class="floor_content __5 __1160 __hoverUp" *ngIf="floor.type === 5">
      <ng-container *ngFor="let article of floor.data">
        <a [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" *ngIf="article" (click)="getArticleUrl(article, $event)" class="block">
          <div class="img_wrap __tint">
            <img (error)="img_service.onError($event, article.cover_preload)" (onLoad)="imgOnLoad(article, defImg)" [lazyLoad]="article.cover_xs" class="__desktop"/>
            <img (error)="img_service.onError($event, article.cover_preload)" (onLoad)="imgOnLoad(article, defImg)" [lazyLoad]="article.cover_md" class="__tablets"/>
            <img class="cover_preload" [src]="article.cover_preload" #defImg/>

            <div class="tags">
              <a class="tags_item" (mouseenter)="tagMouseenter(article.tags)" (mouseleave)="tagMouseleave(article.tags)" [class.__opacity]="tag._hover" *ngFor="let tag of article.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
            </div>
          </div>
          <span class="head">{{article.title}}</span> </a>
      </ng-container>
    </div>


    <div class="floor_content __6 __1160 __hoverUp" *ngIf="floor.type === 6">
      <a *ngIf="floor.data[0]"
         [href]="(floor.data[0].is_link ? floor.data[0].redirect_url : '/article/' + floor.data[0].slug | langLink)"
         (click)="getArticleUrl(floor.data[0], $event)"
         class="block __tint">
        <img (error)="img_service.onError($event, floor.data[0].cover_preload)" (onLoad)="imgOnLoad(floor.data[0], defImg)" [lazyLoad]="floor.data[0].cover_sm"/> <span class="head">{{floor.data[0].title}}</span>
        <img class="cover_preload" [src]="floor.data[0].cover_preload" #defImg/>
        <div class="tags">
          <a class="tags_item" (mouseenter)="tagMouseenter(floor.data[0].tags)" (mouseleave)="tagMouseleave(floor.data[0].tags)" [class.__opacity]="tag._hover" *ngFor="let tag of floor.data[0].tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
        </div>
      </a>
      <div class="news_list">
        <div class="news_list-wrap" [perfectScrollbar]="{wheelPropagation: false}">
          <ng-container *ngFor="let article of floor.data; let indx = index">
            <a [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)"
               *ngIf="indx && article" class="news_list-item"
               (click)="getArticleUrl(article, $event)"
               (mouseenter)="tagMouseenter(floor.data)"
               (mouseleave)="tagMouseleave(floor.data)" [class.__opacity]="article._hover">{{article.title}}</a>
          </ng-container>
        </div>
        <a href="" [routerLink]="['/news']" class="allNews"> <span>{{'home.allNews' | translate}}</span>
          <svg class="svg-cursor-1">
            <use xlink:href="/assets/img/sprite.svg?v=1#cursor-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="floor_content __9 __1160 __hoverUpBg" *ngIf="floor.type === 9">
      <a *ngIf="floor.data[0]" [href]="(floor.data[0].is_link ? floor.data[0].redirect_url : '/article/' + floor.data[0].slug | langLink)" (mouseenter)="upTextHandler(floor.data[0], textEl)" (mouseleave)="clearTextHandler(floor.data[0])" (click)="getArticleUrl(floor.data[0], $event)" class="block __tint">
        <div class="bgTint" [style.backgroundColor]="tint"></div>
        <img (error)="img_service.onError($event, floor.data[0].cover_preload)" (onLoad)="imgOnLoad(floor.data[0], defImg)" [lazyLoad]="floor.data[0].cover_md"/> <span class="head __delay">{{floor.data[0].title}}</span>
        <img class="cover_preload" [src]="floor.data[0].cover_preload" #defImg/>
        <div class="hidden_text">
          <p class="__delay" [style.transform]="'translateY(-' + floor.data[0].offsetText +'px)'" #textEl>{{floor.data[0].lead}}</p>
        </div>
        <div class="tags">
          <a class="tags_item" (mouseenter)="tagMouseenter(floor.data[0].tags)" (mouseleave)="tagMouseleave(floor.data[0].tags)" [class.__opacity]="tag._hover" *ngFor="let tag of floor.data[0].tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
        </div>
      </a>
      <a *ngIf="floor.data[1]"
         [href]="(floor.data[1].is_link ? floor.data[1].redirect_url : '/article/' + floor.data[1].slug | langLink)"
         (click)="getArticleUrl(floor.data[1], $event)"
         class="advert __tint">
        <img
             (error)="img_service.onError($event, floor.data[1].cover_preload)"
             (onLoad)="imgOnLoad(floor.data[1], defImg)"
             [lazyLoad]="floor.data[1].cover_ads ? floor.data[1].cover_ads : floor.data[1].cover_md"/>
        <img class="cover_preload" [src]="floor.data[1].cover_preload" #defImg/>
<!--        <span class="head">{{floor.data[1].title}}</span>-->
<!--        <span class="adv_label">{{floor.data[1].tags[1].name}}</span>-->
      </a>
    </div>

    <div class="floor_content __7" *ngIf="floor.type === 7">
      <a [routerLink]="('/caricature/' + floor.data[0].slug) | langLink" (click)="galleryHandlerFull()" class="full_screen">
        <svg class="svg-full_screen">
          <use xlink:href="/assets/img/sprite.svg#full_screen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <div class="floor_content-list"
           #target
           [perfectScrollbar]="{wheelPropagation: true, useBothWheelAxes: false}"
           (mousedown)="mouseDown($event); onDown()" (mousemove)="mouseMove($event, target)" (mouseup)="onUp()">
        <div class="block"
             *ngFor="let cartoon of floor.data"
             (click)="$event.preventDefault()"
             (mouseup)="galleryHandler($event, cartoon.slug)">
          <img draggable="false"
               (error)="img_service.onError($event, cartoon.cover_preload)"
               (onLoad)="imgOnLoad(cartoon, defImg)"
               [lazyLoad]="cartoon.img_sm"/>
          <img class="cover_preload" [src]="cartoon.cover_preload" #defImg/>
        </div>
      </div>
    </div>

    <div class="floor_content __8" *ngIf="floor.type === 8">
      <div class="block">
<!--        <img [src]="floor.photo.photo_xl"/>-->
<!--        <img class="cover_preload" *ngIf="!floor.photo.imgIsLoad" [src]="floor.photo.cover_preload"/>-->
        <img [lazyLoad]="floor.photo.photo_xl" [defaultImage]="floor.photo.cover_preload"/>
        <div class="block_content">
          <div class="block_content-box">
            <div class="tags">
              <span class="tags_item">#{{floor.tag.name}}</span>
            </div>
            <div class="photo_label">{{floor.photo.caption}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="floor_content __11" *ngIf="floor.type === 11">
      <ng-container *ngIf="platform.check()">
        <youtube-player [class.__show]="floor.isPlay" [videoId]="floor.ytb_id" (ready)="savePlayer($event, floor)" [playerVars]="{
                       'showinfo': 0,
                       'modestbranding': 1,
                       'rel': 0
                       }"></youtube-player>
      </ng-container>

      <div class="block">
        <img [lazyLoad]="'//img.youtube.com/vi/' + floor.ytb_id + '/maxresdefault.jpg'" [defaultImage]="'//img.youtube.com/vi/' + floor.ytb_id + '/default.jpg'"/>
        <div class="playBtn" (click)="playYtb(floor)"></div>
        <div class="block_content">
          <div class="block_content-box">
            <div class="tags"></div>
            <div class="photo_label">{{floor.caption}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="floor_content __10" *ngIf="floor.type === 10">
      <div class="block">
        <div class="box360" #el></div>
        <div class="left360" (click)="rotate360(false)">
          <svg class="svg-arr">
            <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="right360" (click)="rotate360(true)">
          <svg class="svg-arr">
            <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <svg class="svg-ads360">
          <use xlink:href="/assets/img/sprite.svg#ads360" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <div class="block_content">
          <div class="block_content-box">
            <a [href]="floor.data.url" [class.__disabled]="!floor.data.url" target="_blank" class="head">{{floor.data.caption}}</a>
            <div class="adv_label" *ngIf="floor.data.is_ads">{{'home.adv' | translate}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="floor_content __12" *ngIf="floor.type === 12">
      <div class="floor_content-image">
        <div class="img_parallax" appParallax>
          <img (error)="img_service.onError($event, floor.cover_preload)" (onLoad)="imgOnLoad(floor.data, defImg)" [lazyLoad]="floor.data.cover_parallax ? floor.data.cover_parallax : floor.data.cover_xl"/>
          <img class="cover_preload" [src]="floor.data.cover_preload" #defImg/>
        </div>
      </div>
      <div class="block">
        <a [routerLink]="('/article/' + floor.data.slug)  | langLink" class="head">{{floor.data.title}}</a>
      </div>
    </div>
  </div>
  <app-more-btn [textLeft]="'moreBtn.left-2' | translate" [textRight]="'moreBtn.right' | translate" *ngIf="LastIdApi" (click)="changePage()"></app-more-btn>
</div>
