//img.ng-lazyloaded {
//  animation: fadein 5s;
//}
//
//@keyframes fadein {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}

.box {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;

  &.__show {
    opacity: 1;
    visibility: visible;
  }
}

.box360 {
  height: 500px;
  position: relative;

  ::ng-deep {
    .pnlm-load-box, .pnlm-controls-container {
      display: none !important;
    }
  }
}

.allNews {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-right: 20px;

  span {
    font-family: "GothamPro-Bold";
    font-size: 25px;
    letter-spacing: -0.12px;
    color: #1C1D1F;
  }

  svg {
    width: 33.5px;
    height: 29.4px;
    fill: #1C1D1F;
    //transform: rotate(180deg);
    margin-left: 20px;
    margin-bottom: 3px;
    animation: jump .4s linear infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0, .9, .7);
  }
}


@keyframes jump {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(20px);
  }
}

::ng-deep {
  .ps__rail-x, .ps__rail-y {
    background-color: transparent !important;
  }

  .ps__thumb-y {
    background-color: #E0E2E6;
    border-radius: 0;
  }

  .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #E0E2E6;
    width: 10px;
  }
}

.floor {
  margin-bottom: 60px;
}

.floor_content {
  position: relative;
  margin: 0 auto;

  &.__1160 {
    max-width: 1160px;
  }

  &.__1440 {
    max-width: 1440px;
  }

  youtube-player {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    min-width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &.__show {
      opacity: 1;
      z-index: 3;
    }

    &::ng-deep {
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .box360 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    min-width: 100%;
    height: 100%;
    z-index: 1;
  }

  .playBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    z-index: 5;
    cursor: pointer;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transform: translateX(3px);
      border-left: 20px solid #1C1D1F;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  img {
    display: block;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    max-height: 100%;
    z-index: -3;
    //image-rendering: crisp-edges;
    border: none;
    outline: none;
    overflow: hidden;
  }

  .cover_preload {
    display: block;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: auto;
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    max-height: 100%;
    z-index: -2;
    transition: opacity .25s ease-in-out .5s, visibility .25s ease-in-out .5s, transform .25s ease-in-out .5s;
    //image-rendering: crisp-edges;
    filter: blur(6px);
    //filter: url(#blur);


    &.__hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.__hoverUp {
    .block {
      &:hover {
        .tags {
          height: 18px;
          opacity: 1;
          margin-top: 16px;
        }
      }
    }
  }

  &.__hoverUpBg {
    .block {
      &:hover {
        .tags {
          height: 18px;
          opacity: 1;
          margin-top: 26px;
        }

        .head {
          &.__delay {
            opacity: 0;
            transition-delay: 0.1ms;
          }
        }

        .hidden_text {
          p {
            opacity: 1;
          }
        }

        .bgTint {
          opacity: 0.8;
        }
      }
    }
  }

  .block, .img_wrap {
    background-color: #F5F5F7;
  }

  .block, .advert, .img_wrap {
    overflow: hidden;
    position: relative;
    line-height: 0;
    padding: 40px 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    transition: opacity .3s ease-in-out;

    &.__hide {
      opacity: 0;
      pointer-events: none;
    }

    &.__tint {
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 0;
        transition: height .3s ease-in-out;
      }
    }
  }

  .adv_label {
    display: inline-block;
    font-family: 'GothamPro-Medium';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.08px;
    color: rgba(255, 255, 255, .85);
    padding: 0 20px;
    height: 30px;
    background-color: #1C1D1F;
    margin-top: 16px;
    z-index: 10;
  }

  .img_wrap {
    &.__tint {
      &:after {
        height: 40%;
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }
    }
  }

  .tags {
    height: 0;
    z-index: 2;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    flex-wrap: wrap;
    transition: height .2s ease-in-out, margin-top .2s ease-in-out, opacity .2s ease-in-out;
    position: relative;
  }

  .tags_item {
    font-family: "GothamPro";
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-right: 20px;
    transition: opacity .15s ease-in-out;
    margin-bottom: 5px;
    cursor: pointer;

    &.__opacity {
      opacity: .7;
    }

    &:hover {
      opacity: 1;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .head, p {
    font-family: "GothamPro-Black";
    color: #ffffff;
    z-index: 1;
    transition: color 0.3s ease-in-out;

    &.__delay {
      transition: opacity 0.3s ease-in-out;
      transition-delay: 0.2s;
    }
  }

  .bgTint {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .hidden_text {
    position: relative;
    z-index: 2;
    overflow: hidden;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 78px;
    top: 0;

    p {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      opacity: 0;
      transform: translateY(0);
      transition: opacity .15s linear;
      will-change: transform;
    }
  }

  &.__1 {
    .block {
      height: 470px;
      width: 100%;
    }

    .head {
      font-size: 55px;
      line-height: 55px;
      letter-spacing: -0.28px;
    }
  }

  &.__2 {
    display: flex;

    .block {
      height: 394px;
      width: 100%;

      &:first-of-type {
        margin-right: 19px;
      }

      &:last-of-type {
        margin-left: 19px;
      }
    }

    .head {
      font-size: 45px;
      line-height: 54px;
      letter-spacing: -0.22px;
    }
  }

  &.__3 {
    display: flex;

    .block {
      height: 394px;
      width: 100%;
      flex: 1;

      &:first-of-type {
        width: 100%;
        margin-right: 19px;
      }

      &:last-of-type {
        max-width: 500px;
        margin-left: 19px;
      }
    }

    .head {
      font-size: 45px;
      line-height: 54px;
      letter-spacing: -0.22px;
    }
  }

  &.__4 {
    display: flex;

    .block {
      height: 315px;
      width: 100%;
      flex: 1;
      padding: 30px 30px 30px;

      &:first-of-type {
        margin-right: 19px;
      }

      &:last-of-type {
        margin-left: 19px;
      }
    }

    .head, p {
      font-size: 35px;
      line-height: 42px;
      letter-spacing: -0.17px;
    }
  }

  &.__5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .block {
      padding: 0;
      flex: 1;
      background-color: transparent;

      &.__desktop {
        display: block;
      }

      &.__tablets {
        display: none;
      }

      &:first-of-type {
        margin-right: 38px;
      }

      &:last-of-type {
        margin-left: 38px;
      }

      &:hover {
        .img_wrap {
          &.__tint {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    .tags {
      height: auto !important;
    }

    .img_wrap {
      position: relative;
      height: 204px;
      width: 100%;
      padding: 20px 20px 15px;
    }

    .head {
      display: block;
      padding: 17px 20px 0;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.12px;
      color: #1C1D1F !important;
    }
  }

  &.__6 {
    display: flex;

    .block {
      max-width: 560px;
      min-width: 560px;
      height: 315px;
      flex: 1;
    }

    .head {
      font-size: 35px;
      line-height: 42px;
      letter-spacing: -0.17px;
    }
  }

  &.__7 {
    position: relative;
    background-color: #1C1D1F;
    overflow: hidden;

    .full_screen {
      position: absolute;
      right: 18px;
      top: 18px;
      padding: 4px;
      line-height: 0;
      z-index: 10;

      svg {
        width: 22px;
        height: 22px;
        fill: #fff;
      }
    }

    .floor_content-list {
      position: relative;
      width: 100%;
      display: flex;
      overflow: hidden;
      padding: 60px 0 !important;
    }

    &:before, &:after {
      display: block;
      content: '';
      top: 0;
      bottom: 0;
      width: 200px;
      position: absolute;
      z-index: 5;
      pointer-events: none;
    }

    &:before {
      left: 0;
      background: linear-gradient(270deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 1) 100%);
    }

    &:after {
      right: 0;
      background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 1) 100%);
    }

    .block {
      max-width: 250px;
      min-width: 250px;
      height: 250px;
      flex: 1;
      margin-right: 50px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    img {
      z-index: 1;
    }
  }

  &.__9 {
    display: flex;

    .block {
      height: 428px;
      width: 100%;
      flex: 1;
      padding: 20px 20px 20px;
      margin-right: 19px;
    }

    .hidden_text {
      bottom: 58px;
    }

    .advert {
      height: 428px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      margin-left: 19px;
      max-width: 360px;
      width: 100%;
      padding: 0 !important;
      overflow: hidden;

      &.__tint {
        &:after {
          display: none;
        }
      }
    }

    .head, p {
      font-size: 35px;
      line-height: 42px;
      letter-spacing: -0.17px;
    }
  }

  &.__8 {
    .block {
      padding: 0;

      img {
        position: static;
        width: 100%;
        transform: translateX(0);
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
        transition: height .3s ease-in-out;
      }
    }

    .block_content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      z-index: 3;
    }

    .block_content-box {
      margin: 0 auto;
      max-width: 1560px;
      padding: 0 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .tags {
        height: auto;
        opacity: 1;
        line-height: 1;
        flex: 1 0 auto;

        .tags_item {
          cursor: default;
          color: #fff;
          white-space: nowrap;
          line-height: 30px;
          margin-bottom: 0 !important;
        }
      }

      .photo_label {
        font-family: 'GothamPro';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.1px;
        color: #FFFFFF;
        text-align: right;
        width: 50%;
      }
    }

    .head {
      font-size: 35px;
      line-height: 42px;
      letter-spacing: -0.17px;
    }
  }

  &.__10 {
    a {
      &.__disabled {
        pointer-events: none !important;
      }
    }

    &:hover {
      .svg-ads360 {
        opacity: 0;
      }
    }

    .left360, .right360 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      cursor: pointer;

      svg {
        width: 22.5px;
        height: 45px;
        fill: #fff;
      }
    }

    .left360 {
      left: 28px;

      &:hover {
        transform: translateY(-50%) scale(1.15);
      }
    }

    .right360 {
      right: 28px;

      svg {
        transform: rotate(180deg);
      }

      &:hover {
        transform: translateY(-50%) scale(1.15);
      }
    }

    .svg-ads360 {
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      fill: rgba(255, 255, 255, .85);
      transition: opacity .2s ease-in-out;
    }

    .block {
      padding: 0;
      padding-bottom: 42.85%;

      img {
        height: 100%;
      }

      &:after {
        pointer-events: none;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 30%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
        transition: height .3s ease-in-out;
      }
    }

    .block_content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      z-index: 3;
    }

    .block_content-box {
      margin: 0 auto;
      max-width: 1160px;
      padding: 0 28px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .head {
      font-size: 35px;
      line-height: 42px;
      letter-spacing: -0.17px;
    }

    .adv_label {
      display: inline-block;
      font-family: 'GothamPro-Medium';
      font-size: 16px;
      line-height: 30px;
      letter-spacing: -0.08px;
      color: rgba(255, 255, 255, .85);
      padding: 0 20px;
      height: 30px;
      background-color: #1C1D1F;
      margin-top: 20px;
    }
  }

  &.__11 {
    .block {
      padding: 0;
      padding-bottom: 42.85%;

      img {
        height: auto;
        max-height: none;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
        transition: height .3s ease-in-out;
      }
    }

    .block_content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      z-index: 3;
    }

    .block_content-box {
      margin: 0 auto;
      max-width: 1560px;
      padding: 0 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .tags {
        height: auto;
        opacity: 1;
        line-height: 1;
        flex: 1 0 auto;

        .tags_item {
          cursor: default;
          color: #fff;
          white-space: nowrap;
          line-height: 30px;
          margin-bottom: 0 !important;
        }
      }

      .photo_label {
        font-family: 'GothamPro';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.1px;
        color: #FFFFFF;
        text-align: right;
        width: 50%;
      }
    }

    .head {
      font-size: 35px;
      line-height: 42px;
      letter-spacing: -0.17px;
    }
  }

  &.__12 {
    height: 340px;

    .floor_content-image {
      position: absolute;
      left: 0;
      right: 0;
      top: -120px;
      bottom: -120px;
      z-index: 0;
      overflow: hidden;

      .img_parallax {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        img {
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          right: 0;
          width: 100%;
          min-height: 100%;
          max-height: none;
          min-width: 100%;
          max-width: 100%;
          height: auto;
          transform: translateY(-50%);
        }
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
        transition: height .3s ease-in-out;
      }
    }

    .block {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      cursor: default;

      .head {
        font-size: 45px;
        line-height: 54px;
        letter-spacing: -0.22px;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
      }
    }
  }

  .news_list {
    flex: 1;
    height: 315px;
    //overflow: hidden;
    position: relative;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 48px;
      pointer-events: none;
      display: block;
      content: '';
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      height: 55px;
      z-index: 3;
    }

    .news_list-wrap {
      display: flex;
      //flex-wrap: wrap;
      //justify-content: flex -start;
      //align-items: flex-start;
      padding-right: 20px;
      flex-direction: column;
      margin-left: 40px;
      flex: 1;
      overflow: hidden;
      position: relative;
      //position: absolute;
      //left: 0;
      //right: 0;
      //top: 0;
    }

    .news_list-item {
      font-family: 'GothamPro-Bold';
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.09px;
      color: #1C1D1F;
      display: block;
      //max-width: 260px;
      //flex: 1 0 auto;
      width: 100%;
      //margin-left: 34px;
      margin-bottom: 11px;
      padding: 5px;
      cursor: pointer;
      transition: opacity .15s ease-in-out;

      &:last-of-type {
        margin-bottom: 35px;
      }

      //&.__opacity {
      //  opacity: .7;
      //}

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media all and (max-width: 1279px) {
  .floor {
    margin-bottom: 50px;
  }

  .allNews {
    //display: flex;
    //align-items: center;
    //margin-top: 22px;

    span {
      //font-family: "GothamPro-Bold";
      font-size: 20px;
      letter-spacing: -0.1px;
      //color: #1C1D1F;
    }

    svg {
      width: 25px;
      height: 22px;
      margin-bottom: 2px;
      //fill: #1C1D1F;
      ////transform: rotate(180deg);
      //margin-left: 20px;
      //animation: jump .4s linear infinite;
      //animation-direction: alternate;
      //animation-timing-function: cubic-bezier(.5, 0, .9, .7);
    }
  }
  .floor_content {
    &.__1160 {
      max-width: 830px;
    }

    .block, .advert, .img_wrap {
      padding: 30px 30px 25px;
    }

    .adv_label {
      margin-top: 0;
    }

    .hidden_text {
      left: 20px;
      right: 20px;
      bottom: 58px;
    }

    &.__1 {
      .block {
        height: 336px;
      }

      .head {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.2px;
      }
    }

    &.__2 {
      .block {
        height: 262px;

        &:first-of-type {
          margin-right: 13px;
        }

        &:last-of-type {
          margin-left: 13px;
        }
      }

      .head {
        font-size: 27px;
        line-height: 40.19px;
        letter-spacing: -0.13px;
      }
    }

    &.__3 {
      .block {
        height: 262px;

        &:first-of-type {
          max-width: none;
          min-width: 600px;
          margin-right: 13px;
        }

        &:last-of-type {
          margin-left: 13px;
        }
      }

      img {
        max-height: none;
      }

      .head {
        font-size: 30px;
        line-height: 33px;
        letter-spacing: -0.15px;
      }
    }

    &.__4 {
      .block {
        height: 224px;
        padding: 20px 20px 20px;

        &:first-of-type {
          margin-right: 13px;
        }

        &:last-of-type {
          margin-left: 13px;
        }
      }

      .head, p {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.12px;
      }
    }

    &.__5 {
      .block {
        &:first-of-type {
          margin-right: 26px;
        }

        &:last-of-type {
          margin-left: 26px;
        }
      }

      .img_wrap {
        height: 142px;
      }

      .head {
        font-size: 17px;
        line-height: 22.58px;
        letter-spacing: -0.08px;
      }
    }

    &.__6 {
      .block {
        max-width: 480px;
        min-width: 480px;
        height: 270px;
      }

      .head {
        font-size: 25px;
        line-height: 28.24px;
        letter-spacing: -0.12px;
      }
    }

    &.__7 {
      &:before, &:after {
        width: 150px;
      }

      .block {
        max-width: 200px;
        min-width: 200px;
        height: 200px;
        margin-right: 40px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &.__9 {
      .block {
        height: 306px;
        min-width: 540px;
        padding: 20px 20px 20px;

        .head, p {
          padding-bottom: 15px;
        }
      }

      .advert {
        height: 306px;
        margin-left: 13px;
        min-width: 257px;

        .head {
          font-size: 25px;
          line-height: 30px;
          letter-spacing: -0.12px;
        }
      }

      .head, p {
        font-size: 30px;
        line-height: 39px;
        letter-spacing: -0.15px;
        padding-bottom: 20px;
      }
    }

    &.__8 {
      .block_content {
        bottom: 15px;
      }

      .block_content-box {
        .tags {
          .tags_item {
            line-height: 25px;
          }
        }

        .photo_label {
          font-size: 17px;
          line-height: 25px;
        }
      }
    }

    &.__10 {
      .left360, .right360 {
        svg {
          width: 15px;
          height: 30px;
        }
      }

      .svg-ads360 {
        width: 35px;
        height: 35px;
      }

      .head {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.12px;
      }
    }

    &.__12 {
      height: 230px;

      .floor_content-image {
        top: -80px;
        bottom: -80px;
      }

      .block {
        .head {
          font-size: 40px;
          line-height: 44px;
          letter-spacing: -0.2px;
          max-width: 830px;
        }
      }
    }

    .news_list {
      margin-left: 30px;
      height: 270px;

      &:after {
        bottom: 45px;
      }

      .news_list-wrap {
        margin-left: 0;
      }

      .news_list-item {
        max-width: none;
      }
    }
  }
}

@media all and (max-width: 959px) {

  .allNews {
    //display: flex;
    //align-items: center;
    //margin-top: 22px;
    margin-right: 10px;

    span {
      //font-family: "GothamPro-Bold";
      font-size: 25px;
      letter-spacing: -0.12px;
      //color: #1C1D1F;
    }

    svg {
      width: 33.5px;
      height: 29.4px;
      //fill: #1C1D1F;
      ////transform: rotate(180deg);
      //margin-left: 20px;
      //animation: jump .4s linear infinite;
      //animation-direction: alternate;
      //animation-timing-function: cubic-bezier(.5, 0, .9, .7);
    }
  }
  .floor_content {
    &.__1160 {
      padding: 0 12px;
    }

    &.__1440 {
      padding: 0 12px;
    }

    &.__hoverUpBg {
      .block {
        &:hover {
          .head {
            &.__delay {
              opacity: 1;
            }
          }

          .hidden_text {
            display: none !important;
          }
        }
      }
    }

    .adv_label {
      margin-top: 0;
    }

    .bgTint {
      display: none;
    }

    .tags {
      display: none;
    }

    .head, p {
      color: #ffffff !important;
    }

    .hidden_text {
      bottom: 40px;
    }

    &.__1 {
      .block {
        height: 575px;
      }

      .head {
        font-size: 45px;
        line-height: 54px;
        letter-spacing: -0.22px;
      }
    }

    &.__2, &.__3 {
      padding: 0 50px;
      flex-direction: column;

      .block {
        height: 476px;
        flex: auto;

        &:first-of-type {
          margin-right: 0;
          margin-bottom: 50px;
          max-width: none;
          min-width: auto;
        }

        &:last-of-type {
          margin-left: 0;
          max-width: none;
          min-width: auto;
        }
      }

      .head {
        font-size: 35px;
        line-height: 42px;
        letter-spacing: -0.17px;
      }
    }

    &.__4 {
      padding: 0 50px;
      flex-direction: column;

      .block {
        height: 266px;
        flex: auto;

        &:before {
          display: none;
        }

        img {
          max-height: none;
        }

        padding: 20px 20px 20px;

        &:first-of-type {
          margin-right: 0;
          margin-bottom: 50px;
        }

        &:last-of-type {
          margin-left: 0;
        }
      }

      .tags {
        height: 30px;
      }

      .head, p {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.12px;
      }
    }

    &.__5 {
      display: flex;
      flex-direction: column;
      padding: 0 50px;

      .block {
        width: 100%;

        img {
          &.__desktop {
            display: none;
          }

          &.__tablets {
            display: block;
          }
        }

        &:first-of-type {
          margin-right: 0;
          margin-bottom: 46px;
        }

        &:last-of-type {
          margin-left: 0;
          margin-top: 46px;
        }

        &:hover {
          .img_wrap {
            &.__tint {
              &:after {
                display: none;
              }
            }
          }
        }
      }

      .img_wrap {
        height: 266px;

        img {
          max-height: none;
        }
      }

      .head {
        padding: 17px 20px 0;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.12px;
      }
    }

    &.__6 {
      display: flex;
      flex-direction: column;
      padding: 0 50px;

      .block {
        max-width: none;
        height: 270px;
        flex: auto;
        margin-bottom: 30px;
      }

      img {
        max-height: none;
      }
    }

    &.__7 {
      .block {
        max-width: 250px;
        min-width: 250px;
        height: 250px;
        margin-right: 50px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &.__9 {
      display: flex;
      flex-direction: column;
      padding: 0 50px;

      .block {
        height: 474px;
        min-width: auto;
        padding: 20px 20px 20px;
        margin-right: 0;
        margin-bottom: 50px;
        flex: auto;

        .head, p {
          padding-bottom: 0;
        }
      }

      .advert {
        height: auto;
        margin-left: 13px;
        max-width: none;
        min-width: auto;
        margin-left: 0;

        img:first-of-type {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          transform: translate(0, 0);

          width: 100%;
          min-width: auto;
          max-width: none;
          min-height: auto;
          max-height: 100%;
        }

        //.cover_preload {
        //  position: relative;
        //  left: auto;
        //  right: auto;
        //  top: auto;
        //  transform: translate(0, 0);
        //}

        .head {
          font-size: 35px;
          line-height: 42px;
          letter-spacing: -0.17px;
          margin-bottom: 15px;
        }
      }

      .head, p {
        font-size: 35px;
        line-height: 42px;
        letter-spacing: -0.17px;
        padding-bottom: 0;
      }
    }

    &.__10 {
      .left360, .right360 {
        svg {
          width: 22.5px;
          height: 45px;
        }
      }

      .left360 {
        left: 26px;

        &:hover {
          transform: translateY(-50%) scale(1);
        }
      }

      .right360 {
        right: 26px;

        &:hover {
          transform: translateY(-50%) scale(1);
        }
      }

      .box360 {
        //pointer-events: none;
      }

      .svg-ads360 {
        width: 50px;
        height: 50px;
        opacity: 1 !important;
      }

      .block {
        padding: 0;
        height: 600px;

      }

      .block_content {
        bottom: 30px;
      }

      .block_content-box {
        padding: 0 26px;
      }

      .head {
        font-size: 35px;
        line-height: 42px;
        letter-spacing: -0.17px;
      }
    }

    &.__8, &.__11 {
      .block {
        padding: 0;

        img {
          position: static;
          width: 100%;
          transform: translateX(0);
        }
      }

      .block_content {
        padding: 0 30px;
      }

      .block_content-box {
        padding: 0;

        .tags {
          display: block;
        }

        .photo_label {
          font-size: 16px;
          line-height: 25px;
          width: 70%;
        }
      }
    }

    &.__12 {
      padding-bottom: 37%;

      .block {
        .head {
          font-size: 25px;
          line-height: 30px;
          letter-spacing: -0.12px;
          max-width: 830px;
          padding: 0 50px;
        }
      }
    }

    .news_list {
      max-height: none;
      padding: 0;
      padding-left: 0;
      height: auto;

      &:after {
        display: none;
      }

      .news_list-item {
        margin-bottom: 16px;
        padding: 5px 5px 5px 0;
        margin-left: 20px;
        opacity: 1 !important;

        &:last-of-type {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

@media all and (max-width: 599px) {
  .floor {
    margin-bottom: 40px;
  }

  .floor_content {
    &.__1160 {
      padding: 0;
    }

    &.__1440 {
      padding: 0;
    }

    .block, .advert, .img_wrap {
      padding: 20px 20px 15px;
    }

    .hidden_text {
      bottom: 40px;
    }

    &.__1 {
      .block {
        height: 320px;
      }

      .head {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.12px;
      }
    }

    &.__2, &.__3 {
      padding: 0 20px;
      flex-direction: column;

      .block {
        height: 280px;

        &:first-of-type {
          margin-bottom: 20px;
        }
      }

      .head {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.1px;
      }
    }

    &.__4 {
      padding: 0 20px;
      flex-direction: column;

      .block {
        height: auto;
        padding: 0 0 55%;

        img {
          display: block;
          position: absolute;
          left: 50%;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          min-width: 100%;
          max-width: none;
          min-height: 100%;
          max-height: 100%;
          z-index: -2;
        }

        &.__tint {
          &:after {
            height: 100%;
          }
        }

        &:first-of-type {
          margin-bottom: 20px;
        }
      }

      .head, p {
        position: absolute;
        bottom: 15px;
        left: 20px;
        right: 20px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.1px;
      }
    }

    &.__5 {
      padding: 0 20px;

      .block {
        &:first-of-type {
          margin-bottom: 27px;
        }

        &:last-of-type {
          margin-top: 27px;
        }
      }

      .img_wrap {
        height: 161px;
        padding: 0 0 43%;

        img {
          display: block;
          position: absolute;
          left: 50%;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          min-width: 100%;
          max-width: none;
          min-height: 100%;
          max-height: 100%;
          z-index: -2;
        }
      }

      .head {
        padding: 12px 0 0;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.09px;
      }
    }

    &.__6 {
      padding: 0 20px;

      .block {
        height: auto;
        min-width: auto;
        padding: 0 !important;

        &:after {
          z-index: 2;
        }

        img {
          position: relative;
          width: 100%;
          min-width: auto;
          max-width: none;
          z-index: 1;
          transform: none;
          left: auto;
          top: auto;
        }
      }

      .cover_preload.__hide {
        position: absolute !important;
      }

      .head {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 15px;
        z-index: 3;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.1px;
      }


      .allNews {
        //display: flex;
        //align-items: center;
        //margin-top: 22px;

        span {
          //font-family: "GothamPro-Bold";
          font-size: 20px;
          letter-spacing: -0.1px;
          //color: #1C1D1F;
        }

        svg {
          width: 25px;
          height: 22px;
          //fill: #1C1D1F;
          ////transform: rotate(180deg);
          //margin-left: 20px;
          //animation: jump .4s linear infinite;
          //animation-direction: alternate;
          //animation-timing-function: cubic-bezier(.5, 0, .9, .7);
        }
      }
    }

    &.__7 {
      .floor_content-list {
        padding: 60px 20px !important;
      }

      &:before, &:after {
        display: none;
      }

      .block {
        max-width: 280px;
        min-width: 280px;
        height: 280px;
        margin-right: 30px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &.__9 {
      padding: 0 20px;

      .block {
        height: 280px;
        margin-bottom: 20px;
      }

      .advert {
        height: auto;
        margin-left: 0;
        max-width: none;
        min-width: auto;
        margin-left: 0;

        .head {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.1px;
          padding-bottom: 0;
        }
      }

      .head, p {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.1px;
        padding-bottom: 15px;
      }
    }

    &.__10 {
      .left360, .right360 {
        svg {
          width: 15px;
          height: 30px;
        }
      }

      .left360 {
        left: 20px;
      }

      .right360 {
        right: 20px;
      }

      .svg-ads360 {
        width: 35px;
        height: 35px;
      }

      .block {
        height: 320px;
      }

      .block_content {
        bottom: 20px;
      }

      .block_content-box {
        padding: 0 20px;
      }

      .head {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.1px;
      }
    }

    &.__8 {
      .block {
        height: 320px;

        img {
          display: block;
          position: absolute;
          left: 50%;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          min-width: 100%;
          max-width: none;
          min-height: 100%;
          max-height: 100%;
          z-index: -2;

          //&.__hide {
          //  position: absolute!important;
          //}
        }
      }


      .block_content-box {
        .photo_label {
          display: none;
        }
      }
    }

    &.__12 {
      height: auto;

      .block {
        .head {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.1px;
          padding: 0 20px;
        }
      }
    }

    .news_list {
      padding-right: 0 !important;
      padding-bottom: 0;
      margin-left: 0;

      .news_list-wrap {
        padding-right: 0 !important;
      }

      .news_list-item {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.09px;
        padding: 0;
        margin-left: 0;
      }
    }
  }
}
