<div class="box" [style.backgroundColor]="props.ticker_back">
  <div class="ticker_content">
    <div class="ticker_content-list_wrap">
      <div class="ticker_content-list" [class.__animate]="animate" [ngStyle]="{
      paddingLeft: fakewidth +'px',
    transform: 'translateX(-'+ position +'px)'
    }" #listEl>

        <div class="ticker_content-item" [ngClass]="{
             '__show': isEdit,
             '__1': props.ticker_text === '#FFFFFF',
             '__2': props.ticker_text === '#1C1D1F',
             '__3': props.ticker_text === '#0FD900',
             '__4': props.ticker_text === '#00C1FC',
             '__5': props.ticker_text === '#752CF5',
             '__6': props.ticker_text === '#F7002A',
             '__7': props.ticker_text === '#FC4700'
             }" *ngFor="let ticker of tickers">
          <span [style.color]="props.ticker_text">{{ticker.text}}</span>
        </div>
      </div>
    </div>
    <div class="edit_box" [ngClass]="{
             '__show': isEdit,
             '__1': props.ticker_text === '#FFFFFF',
             '__2': props.ticker_text === '#1C1D1F',
             '__3': props.ticker_text === '#0FD900',
             '__4': props.ticker_text === '#00C1FC',
             '__5': props.ticker_text === '#752CF5',
             '__6': props.ticker_text === '#F7002A',
             '__7': props.ticker_text === '#FC4700'
             }"  [style.backgroundColor]="props.ticker_back">
      <input type="text" [placeholder]="'tickers.placeholder' | translate" [(ngModel)]="message" #inpEl/>
      <button type="button" [class.__active]="message" class="" (click)="sendMessage()">
        <svg class="svg-send" [style.fill]="props.ticker_text">
          <use xlink:href="/assets/img/sprite.svg#send" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>

    </div>
  </div>
  <button type="button"  [style.backgroundColor]="props.ticker_back" [ngClass]="{
             '__edit': isEdit,
             '__1': props.ticker_text === '#FFFFFF',
             '__2': props.ticker_text === '#1C1D1F',
             '__3': props.ticker_text === '#0FD900',
             '__4': props.ticker_text === '#00C1FC',
             '__5': props.ticker_text === '#752CF5',
             '__6': props.ticker_text === '#F7002A',
             '__7': props.ticker_text === '#FC4700'
             }" class="ticker_edit" (click)="changeView()">
    <svg class="svg-edit" [style.fill]="props.ticker_text">
      <use xlink:href="/assets/img/sprite.svg#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
</div>
