:host {
  display: block;
  margin-bottom: 60px;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 35px;
  height: 45px;
}

.ticker_edit {
  position: relative;
  padding: 10px;
  height: 100%;
  width: 37px;
  display: block;
  margin-left: 16px;
  cursor: pointer;

  &.__1 {
    &:before, &:after {
      background-color: #FFFFFF;
    }
  }

  &.__2 {
    &:before, &:after {
      background-color: #1C1D1F;
    }
  }

  &.__3 {
    &:before, &:after {
      background-color: #0FD900;
    }
  }

  &.__4 {
    &:before, &:after {
      background-color: #00C1FC;
    }
  }

  &.__5 {
    &:before, &:after {
      background-color: #752CF5;
    }
  }

  &.__6 {
    &:before, &:after {
      background-color: #F7002A;
    }
  }

  &.__7 {
    &:before, &:after {
      background-color: #FC4700;
    }
  }

  &:before, &:after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &.__edit {
    &:before, &:after {
      display: block;
    }

    svg {
      display: none;
    }
  }
}

.edit_box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #1C1D1F;
  display: none;
  align-items: center;
  justify-content: flex-end;

  &.__show {
    display: flex;
  }

  &.__1 {
    input {
      color: #FFFFFF !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFFFFF;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #FFFFFF;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #FFFFFF;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #FFFFFF;
        opacity: 0.7;
      }
    }
  }

  &.__2 {
    input {
      color: #1C1D1F !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #1C1D1F;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #1C1D1F;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #1C1D1F;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #1C1D1F;
        opacity: 0.7;
      }
    }
  }

  &.__3 {
    input {
      color: #0FD900 !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #0FD900;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #0FD900;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #0FD900;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #0FD900;
        opacity: 0.7;
      }
    }
  }

  &.__4 {
    input {
      color: #00C1FC !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #00C1FC;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #00C1FC;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #00C1FC;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #00C1FC;
        opacity: 0.7;
      }
    }
  }

  &.__5 {
    input {
      color: #752CF5 !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #752CF5;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #752CF5;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #752CF5;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #752CF5;
        opacity: 0.7;
      }
    }
  }

  &.__6 {
    input {
      color: #F7002A !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #F7002A;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #F7002A;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #F7002A;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #F7002A;
        opacity: 0.7;
      }
    }
  }

  &.__7 {
    input {
      color: #FC4700 !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FC4700;
        opacity: 0.7;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #FC4700;
        opacity: 0.7;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #FC4700;
        opacity: 0.7;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #FC4700;
        opacity: 0.7;
      }
    }
  }

  input {
    height: 100%;
    background-color: transparent;
    font-family: 'GothamPro-Black';
    font-size: 20px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: 1;
    text-align: right;

    &.__752CF5 {
      color: #752CF5;
    }

    &.__F7002A {
      color: #F7002A;
    }

    &.__FC4700 {
      color: #FC4700;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: pink;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: pink;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: pink;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: pink;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    pointer-events: none;
    cursor: pointer;
    margin-left: 10px;

    &.__FFFFFF {
      &:before, &:after {
        background-color: #FFFFFF;
      }
    }

    &.__1C1D1F {
      &:before, &:after {
        background-color: #1C1D1F;
      }
    }

    &.__0FD900 {
      &:before, &:after {
        background-color: #0FD900;
      }
    }

    &.__00C1FC {
      &:before, &:after {
        background-color: #00C1FC;
      }
    }

    &.__752CF5 {
      &:before, &:after {
        background-color: #752CF5;
      }
    }

    &.__F7002A {
      &:before, &:after {
        background-color: #F7002A;
      }
    }

    &.__FC4700 {
      &:before, &:after {
        background-color: #FC4700;
      }
    }

    &.__active {
      pointer-events: auto;

      .svg-send {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }

  .svg-send {
    width: 20px;
    height: 17px;
    fill: rgba(255, 255, 255, .5);
  }
}

.ticker_content {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  .ticker_content-list_wrap {
    position: relative;
  }

  .ticker_content-list {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    &.__animate {
      transition: transform .3s linear;
      will-change: transform;
    }
  }

  .ticker_content-item {
    &:first-of-type {
      &:before {
        opacity: 0;
      }
    }
  }
}

.ticker_content-item {
  display: flex;
  align-items: center;

  &:before {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    margin: 0 38px;
  }

  &.__1 {
    &:before, &:after {
      background-color: #FFFFFF;
    }
  }

  &.__2 {
    &:before, &:after {
      background-color: #1C1D1F;
    }
  }

  &.__3 {
    &:before, &:after {
      background-color: #0FD900;
    }
  }

  &.__4 {
    &:before, &:after {
      background-color: #00C1FC;
    }
  }

  &.__5 {
    &:before, &:after {
      background-color: #752CF5;
    }
  }

  &.__6 {
    &:before, &:after {
      background-color: #F7002A;
    }
  }

  &.__7 {
    &:before, &:after {
      background-color: #FC4700;
    }
  }

  span {
    font-family: "GothamPro-Black";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
  }
}

.svg-edit {
  width: 17px;
  height: 17px;
  fill: #fff;
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  :host {
    margin-bottom: 50px;
  }
  .box {
    padding-right: 18px;
  }
}

@media all and (max-width: 959px) {
  :host {
    display: none;
  }
}
