<div class="box">
  <div class="head">{{'loginModal.title' | translate}}</div>
  <div class="row">
    <div class="label">{{'loginModal.label-1' | translate}}</div>
    <div class="social">
      <div class="social_item __fb" (click)="signInWithFB()">
        <div class="icon">
          <svg class="svg-fb">
            <use xlink:href="/assets/img/sprite.svg#fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>facebook</span>
      </div>
      <div class="social_item __tw" (click)="signInWithTwitter()">
        <div class="icon">
          <svg class="svg-twitter">
            <use xlink:href="/assets/img/sprite.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>twitter</span>
      </div>
      <div class="social_item __ggl" (click)="signInWithGoogle()">
        <div class="icon">
          <svg class="svg-google">
            <use xlink:href="/assets/img/sprite.svg#google" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>google</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="label">{{'loginModal.label-2' | translate}}</div>
    <div class="inp">
      <input type="text" autocomplete="emailNew" name="emailNew" (input)="error = ''" [(ngModel)]="email"/>
      <div class="error" *ngIf="error">{{error}}</div>
    </div>
    <button type="button" class="submit" (click)="submit()" [class.__active]="email">
      <span>{{'loginModal.submit' | translate}}</span>
      <svg class="svg-arr_long">
        <use xlink:href="/assets/img/sprite.svg#arr_long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </button>
  </div>
</div>

