:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #1C1D1F;
  //padding-top: 105px;
  padding-top: 210px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out 0.1s, visibility .15s ease-in-out 0.1s;
  overflow: hidden;

  &.__show {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }
}

.box {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 38px 20px 20px;
  overflow: auto;
}

.head {
  font-family: 'GothamPro-Black';
  font-size: 25px;
  letter-spacing: -0.12px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 34px;
}

.label {
  font-family: 'GothamPro';
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.09px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}

.social {
  display: flex;
  align-items: center;
  max-width: 330px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto 40px;
}

.social_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &.__fb {
    svg {
      fill: #3D6BCC;
    }

    span {
      color: #3D6BCC;
    }
  }

  &.__tw {
    svg {
      fill: #1899F2;
    }

    span {
      color: #1899F2;
    }
  }

  &.__ggl {
    svg {
      fill: #F23F31;
    }

    span {
      color: #F23F31;
    }
  }

  .icon {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    margin-bottom: 12px;
  }

  .svg-fb {
    width: 13px;
    height: 25px;
  }

  .svg-twitter {
    width: 25px;
    height: 19.7px;
  }

  .svg-google {
    width: 24.5px;
    height: 25px;
  }

  span {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    letter-spacing: -0.09px;
  }
}

.inp {
  position: relative;
  max-width: 293px;
  width: 100%;
  margin: 0 auto 30px;

  .error {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    margin-top: 6px;
    font-family: "GothamPro";
    font-size: 13px;
    letter-spacing: -0.06px;
    color: #ED0E38;
  }

  input {
    height: 38px;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    padding: 0 40px 0 20px;
    width: 100%;
    text-align: center;
    font-family: 'GothamPro';
    font-size: 17px;
    letter-spacing: -0.08px;
    color: #FFFFFF;
  }
}

.submit {
  display: flex;
  align-items: center;
  margin: 20px auto 32px;
  pointer-events: none;

  &.__active {
    pointer-events: auto;

    span {
      color: #FC10A2;
    }

    svg {
      fill: #FC10A2;
    }
  }

  span {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    letter-spacing: -0.09px;
    color: rgba(255, 255, 255, .3);
  }

  svg {
    width: 30px;
    height: 16.4px;
    fill: rgba(255, 255, 255, .3);
    margin-left: 16px;
    transform: rotate(180deg);
  }
}

.bottom {
  max-width: 460px;
  width: 100%;
  margin: auto auto 0;
  text-align: center;
  font-family: 'GothamPro';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08px;
  color: #fff;

  a, ::ng-deep a {
    color: #0065F2;
  }
}

@media all and (max-width: 1279px) {
  .head {
    font-size: 20px;
    letter-spacing: -0.1px;
  }
}

@media all and (max-width: 599px) {
  :host {
    //padding-top: 70px;
    padding-top: 140px;
  }
}
