.box {
  position: fixed;
  max-width: 290px;
  //width: 290px;
  background-color: #1C1D1F;
  z-index: 9999999;
  padding: 28px 0 0;
  overflow: hidden;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 7px 0;
    border-color: transparent #1C1D1F transparent transparent;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 22px 11px 15px rgba(28, 29, 31, 0), 0 2px 19px 18px #1c1d1f;
    pointer-events: none;
    top: 100%;
    transform: rotate(180deg);
    height: 0;
    z-index: 100;
  }


  .close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &:before, &:after {
      display: block;
      content: '';
      width: 15px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  font-family: 'GothamPro';
  font-size: 15px;
  line-height: 23px;
  color: #FFFFFF;

  .content {
    padding: 0 30px 18px 20px;
    position: relative;
    max-height: 280px;
    overflow: hidden;

    &::ng-deep {
      .ps__rail-y {
        //display: none!important;
        background-color: transparent;
      }
      .ps__thumb-y {
        width: 6px!important;
      }
    }
  }
}


@media all and (max-width: 959px) {
  .box {
    left: 50% !important;
    right: auto !important;
    top: 50% !important;
    bottom: auto !important;
    max-width: 90%;
    min-width: 40%;
    max-height: 80%;
    overflow: auto;
    transform: translate(-50%, -50%);

    &:before {
      display: none;
    }
  }
}

@media all and (max-width: 599px) {
  .box {
    //left: 50%!important;
    //right: auto!important;
    //top: 50%!important;
    //bottom: auto!important;
    //max-width: 90%;
    width: 100%;
    //min-width: 40%;
    //max-height: 90%;
    //overflow: auto;
    //transform: translate(-50%, -50%);
    //
    //&:before {
    //  display: none;
    //}
    &:after {
      display: none;
    }

    .content {
      //padding: 0 30px 18px 20px;
      //position: relative;
      max-height: none;
      //overflow: hidden;

      &::ng-deep {
        .ps__rail-y {
          display: none!important;
          //background-color: transparent;
        }
        .ps__thumb-y {
          //width: 6px!important;
        }
      }
    }
  }
}

