<div class="box" *ngIf="txt" [ngStyle]="{
'right.px': pos.x,
'bottom.px': pos.y
}">
  <div class="close" (click)="close.emit(true)"></div>
  <div class="content"
       [perfectScrollbar]="{wheelPropagation: false}">
    <span [innerText]="txt"></span>
  </div>
</div>
