.box {
  display: flex;
  flex-direction: column;
  position: relative;

}

.full_embed {
  display: flex;
  justify-content: center;
}

.adsbygoogle {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;

  //& > * {
  //  ::ng-deep {
  //    & > * {
  //      display: block;
  //      margin: 0 auto;
  //
  //    }
  //  }

  //}
}

::ng-deep {


  .p-tooltip {
    white-space: nowrap;
    //background-color: transparent;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    //padding-right: 10px;
    padding: 6px 12px 6px 3px;
    line-break: auto;

    &:hover {
      background-color: #EBECED;
    }

    //display: none;
    &:after {
      display: block;
      content: '';
      position: absolute;
      //left: 100%;
      right: 2px;
      bottom: 50%;
      //margin-left: 2px;
      content: '';
      background-image: url('/assets/img/tooltip.svg');
      background-repeat: no-repeat;
      width: 7px;
      height: 10px;
      background-position: 0 0;
    }
  }
}

::ng-deep {
  .mm-body__inner {
    & > div {
      display: flex;

    }
  }

  .mm-body__line {
    height: auto !important;
    flex: 1 !important;
    width: auto !important;
    margin: 0 15px;
    display: block;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      width: 100% !important;
      display: block !important;


      img {
        width: 100% !important;
        height: auto !important;
        margin-right: 0 !important;
      }
    }
  }
}

.outer_h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-results {
  opacity: 0;
  visibility: hidden;

  &.__show {
    opacity: 1;
    visibility: visible;
  }
}

.content, .article_row {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

::ng-deep {
  display: none;

  .ytp-large-play-button, .ytp-button {
    display: none !important;
  }
}

.article_row {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding-left: 200px;
  margin-bottom: 40px;

  &.__mb30 {
    margin-bottom: 30px;
  }

  &.__100 {
    padding-left: 100px;
  }

  &.__sw100 {
    padding-left: 100px;
  }

  &.__160 {
    padding-left: 160px;
  }

  &.__160-2 {
    padding-left: 160px;
  }

  &.__260 {
    padding-left: 260px;
  }

}

.article_row-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.__comments {
    position: relative;
  }

  &.__640 {
    max-width: 640px;
  }

  &.__760 {
    max-width: 760px;
  }

  &.__860 {
    max-width: 860px;
  }

  &.__840 {
    max-width: 840px;
  }

  &.__900 {
    max-width: 900px;
  }


  &.__960 {
    max-width: 960px;
  }

  &.__sw960 {
    max-width: 960px;
  }

  &.__row {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.__author {
    justify-content: space-between;
    align-items: center;

    .social {
      position: relative !important;
      left: auto !important;
      top: auto !important;
      display: flex !important;
      flex-direction: row;

      a {
        margin-bottom: 0 !important;
        margin-left: 26px;
      }
    }
  }
}

.reverse {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;

  .reverse_label {
    font-family: "GothamPro-Medium";
    font-size: 17px;
    line-height: 28.6px;
    letter-spacing: -0.25px;
    color: #999999;
    margin-right: 20px;
  }

  .reverse_btns {
    background-color: #D9D9D9;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }

  .reverse_btn {
    position: relative;
    width: 26px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      position: relative;
      display: block;
      content: '';
      z-index: 2;


    }

    &.__a {
      &:before {
        border: 5px solid transparent;
        border-top: 6px solid #1C1D1F;
        margin-top: 6px;
      }
    }

    &.__d {
      &:before {
        border: 5px solid transparent;
        border-bottom: 6px solid #1C1D1F;
        margin-bottom: 6px;
      }
    }


    &.__active {
      &.__a {
        &:before {
          border-top-color: #fff;
        }
      }

      &.__d {
        &:before {
          border-bottom-color: #fff;
        }
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-color: #1C1D1F;
        z-index: 1;
        border-radius: 50%;
      }
    }
  }

}

.all_blocks {
  display: flex;
  flex-direction: column;

  &.__reverse {
    flex-direction: column-reverse;
  }
}


.test_question {
  width: 100%;
}

.test_top {
  width: 100%;
}

.test_top-head {
  font-family: 'GothamPro-Black';
  font-size: 35px;
  letter-spacing: -0.15px;
  color: #1C1D1F;
  margin-bottom: 16px;
}

.test_top-count {
  font-family: 'GothamPro-Black';
  font-size: 30px;
  letter-spacing: -0.15px;
  color: #1C1D1F;
  margin-bottom: 16px;
}

.question_head {
  font-family: 'GothamPro-Black';
  font-size: 30px;
  letter-spacing: -0.15px;
  color: #1C1D1F;
  margin-bottom: 32px;
  white-space: pre-line;
}

.question_top {
  &.__tip {
    .question_cover {
      &:before {
        display: block;
      }

      .question_tip, .test_next {
        opacity: 1;
        pointer-events: auto;
        position: relative;
      }

      .question_video {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        video {
          width: 100%;
        }
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: auto;
        max-width: none;
        width: auto;
        z-index: 1;
        min-height: 100%;
        max-height: none;
        height: 100%;
      }
    }
  }
}


.question_cover {
  padding: 0;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;

  .question_video {
    position: relative;
    width: 100%;

    video {
      width: 100%;
    }
  }

  .playBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &.__hidden {
      display: none;
    }
  }

  &:before {
    display: none;
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(28, 29, 31, .7);
  }

  .question_tip {
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    font-family: 'GothamPro';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    white-space: pre-line;
  }


  img {
    position: relative;
    width: 100%;
  }
}

.test_next {
  position: relative;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;

  &.__show {
    display: flex;
  }

  span {
    font-family: 'GothamPro';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #1C1D1F;
  }

  svg {
    transform: rotate(180deg);
    width: 24px;
    height: 13px;
    fill: #1C1D1F;
    margin-left: 10px;
  }
}

.testFinishContent {
  position: relative;
  padding: 50px 30px 30px;
  width: 100%;
}

.testFinish {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:before {
    display: block;
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(28, 29, 31, .65);
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: auto;
    max-width: none;
    width: auto;
    z-index: 1;
    min-height: 100%;
    max-height: none;
    height: 100%;
  }

  .testFinish_head {
    font-family: 'GothamPro-Black';
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #00C1FC;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
    white-space: pre-line;
  }

  .testFinish_descr {
    font-family: 'GothamPro-Medium';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    margin-bottom: 30px;
    z-index: 3;
    position: relative;
    white-space: pre-line;
  }

  .testFinish_shareLabel {
    font-family: 'GothamPro-Medium';
    font-size: 18px;

    letter-spacing: -0.09px;
    color: #FFFFFF;
    margin-bottom: 10px;
    z-index: 3;
    position: relative;
  }

  .testFinish_shareList {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;

    a {
      margin: 0 8px;
      cursor: pointer;
      padding: 10px;
      line-height: 0;
    }

    svg {
      fill: #fff;
    }

    .svg-fb {
      width: 13px;
      height: 25px;
    }

    .svg-twitter {
      width: 25px;
      height: 19.7px;
    }

    .svg-telegram {
      width: 25px;
      height: 21px;
    }

    .svg-viber {
      width: 23.8px;
      height: 25px;
    }

    .svg-link {
      width: 25px;
      height: 25px;
    }
  }
}

.test_answ-list {
  cursor: default;
}

.answ_item {
  padding: 16px 80px 16px 20px;

  border: 2px solid #1C1D1F;
  font-family: 'GothamPro-Medium';
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #1C1D1F;
  margin-bottom: 30px;
  cursor: pointer !important;
  background-color: transparent;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  &:hover {
    color: #ffffff;
    background-color: #1C1D1F;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.__alr {
    background-color: transparent !important;
    color: #1C1D1F !important;
  }

  &.__fail {
    border-color: #F7002A !important;
    background-color: #F7002A !important;
    color: #fff !important;
  }

  &.__check {
    border-color: #0FD900 !important;
    background-color: #0FD900 !important;
    color: #fff !important;
  }

  &.__check1 {
    border-color: #1C1D1F !important;
    background-color: #1C1D1F !important;
    color: #fff !important;
  }


}

.opinions {
  width: 100%;

  .opinions_top {
    padding-left: 40px;
    max-width: 760px;
    width: 100%;
    margin-bottom: 42px;

    img {
      width: 100%;
      margin-bottom: 32px;
    }

    .opinions_title {
      font-family: 'GothamPro-Black';
      font-size: 30px;
      letter-spacing: -0.15px;

    }
  }

  .opinions_list {
    .opinions_list-item {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-right: 100px;
      margin-bottom: 30px;
      //cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      &.__disabled {
        pointer-events: none;

        &:hover {
          .opinions_item-content {
            background-color: #F5F5F5 !important;
            color: #1C1D1F !important;
          }
        }
      }


    }

    .opinions_item-img {
      min-width: 160px;
      max-width: 160px;
      margin-right: 40px;
      line-height: 0;
      position: relative;
      z-index: 2;
      cursor: pointer;

      img {
        width: 100%;
      }

      &:hover {
        .magnif {
          opacity: 1;
          visibility: visible;
        }
      }

      .magnif {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(28, 29, 31, .3);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        line-height: 0;

        svg {
          width: 14px;
          height: 14px;
          fill: #fff;
        }
      }
    }

    .opinions_item-content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 50px;
      padding: 12px 15px 12px 0;
      background-color: #F5F5F5;
      color: #1C1D1F;
      flex: 1;
      position: relative;
      transition: background-color .1s ease-in-out, color .1s ease-in-out;
      cursor: pointer;

      &:hover {
        //.opinions_item-content {
        background-color: #1C1D1F;
        color: #fff;
        //}
      }
    }

    .opinions_tint {
      z-index: 0;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0%;
      background-color: #EBD9FF;
      transition: width .6s linear;

      &.__active {
        width: 100%;
      }
    }

    .opinions_item-number {
      min-width: 40px;
      max-width: 40px;
      display: inline-block;
      text-align: right;
      white-space: nowrap;
      font-family: 'GothamPro-Black';
      font-size: 30px;
      letter-spacing: -0.15px;
      margin-right: 25px;
      position: relative;
      z-index: 2;
    }

    .opinions_item-text {
      padding-top: 5px;
      font-family: 'GothamPro-Medium';
      font-size: 20px;
      letter-spacing: -0.1px;
      line-height: 26px;
      position: relative;
      z-index: 2;
    }

    .opinions_item-percent {
      position: absolute;
      top: 12px;
      right: 0;

      font-family: 'GothamPro-Medium';
      font-size: 30px;
      letter-spacing: -0.15px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .15s ease-in-out, visibility .15s ease-in-out;

      &.__show {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .opinions_all {
    font-family: 'GothamPro-Medium';
    font-size: 30px;
    letter-spacing: -0.15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;

    &.__show {
      opacity: 1;
      visibility: visible;
    }

  }

}

.__ytb-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 0;
  width: 100%;
  flex: 1 0 auto;

  ::ng-deep {
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.sdcd {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  ::ng-deep {
    iframe {
      margin: 0 auto;
      max-width: 100%;
    }
  }

}

.theme_head {
  font-family: 'GothamPro-Black';
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.09px;
  text-transform: uppercase;
  color: #CCCCCC;
  text-align: right;
  max-width: 111px;
  margin-right: 47px;
  width: 100%;
}

.theme_content {
  display: flex;
}

.theme_img {
  max-width: 240px;
  width: 100%;
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.theme_text {
  font-family: 'GothamPro-Black';
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.12px;
  color: #1C1D1F;
}

ul, ol {
  align-self: flex-start;
  list-style: none;

  li {
    font-family: "GothamPro-Medium";
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 24px;
    position: relative;
    padding-left: 40px;

    &.__small {
      padding-left: 35px;
    }

    &.__medium {
      padding-left: 55px;
    }

    &.__large {
      padding-left: 75px;
    }


    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .mark {
    position: absolute;

  }
}

ul {
  .mark {
    top: 7px;
    left: 14px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

ol {
  .mark {
    top: -3px;
    left: 5px;
    font-family: "GothamPro-Medium";
    font-size: 27px;
    line-height: 28.6px;
    letter-spacing: -0.13px;
    color: #884AF5;
  }
}

.swiper-box {
  padding: 0 100px;
  position: relative;
  width: 100%;

  .swiper-box_wrap {
    position: relative;
    padding-bottom: 62%;
  }

  .photo_caption {
    width: 100%;
    display: block;
    text-align: right;
  }
}

.swiper-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;

  .swiper-wrapper {
    will-change: transform;
  }


  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      display: block;
      width: auto;
      height: auto;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.fullscreen_ico {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(28, 29, 31, .5);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  line-height: 0;
  z-index: 20;

  svg {
    width: 18px;
    height: 18px;
    fill: #fff;
  }
}

.prev, .next {
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  z-index: 1;
  cursor: pointer;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &.swiper-button-disabled {
    opacity: .7;
    pointer-events: none;
  }

  svg {
    fill: #1C1D1F;
    width: 17.5px;
    height: 35px;
  }
}

.prev {
  left: -100px;
}

.next {
  right: -100px;

  svg {
    transform: rotate(180deg);
  }
}

.article_row-left, .article_row-right {
  max-width: 360px;
  flex: 1;
}

.article_row-left {
  margin-right: 40px;

  &.__author {
    max-width: 260px;

    .img {
      align-items: center;
    }

    .photo_caption {
      font-size: 15px;
      letter-spacing: 0.15px;
    }
  }
}

.article_row-right {
  margin-left: 40px;
}

h1 {
  font-family: 'GothamPro-Black';
  font-size: 55px;
  line-height: 66px;
  letter-spacing: -0.28px;
  color: #1C1D1F;
  z-index: 2;
}

.lead {
  font-family: 'GothamPro-Black';
  font-size: 23px;
  line-height: 32px;
  letter-spacing: -0.11px;
  color: #1C1D1F;
}

h2 {
  font-family: "GothamPro-Medium";
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.15px;
  color: #1C1D1F;
  align-self: flex-start;
}

.social {

  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;

  &.__show {
    display: flex;
  }

  &.__1 {
    top: 0;
  }

  &.__2 {
    top: 8px;
  }

  &.__fixed {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -580px;
    z-index: 10;
  }

  &.__hide {
    opacity: 0;
    visibility: hidden;
  }


  .social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    cursor: pointer;
    margin-bottom: 28px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      svg {
        transform: scale(1.05);
      }
    }
  }

  svg {
    fill: #1C1D1F;
    transition: transform .15s ease-in-out;
  }

  .svg-fb {
    width: 12px;
    height: 23px;
  }

  .svg-twitter {
    width: 24px;
    height: 20px;
  }

  .svg-google_plus {
    width: 27px;
    height: 17px;
  }

  .svg-telegram {
    width: 23px;
    height: 20px;
  }

  .svg-viber {
    width: 24px;
    height: 25px;
  }

  .svg-link {
    width: 25px;
    height: 25px;
  }

}

.article_top {
  margin-bottom: 50px;

  .top_cover {
    position: relative;

    .top_cover-img {
      overflow: hidden;
      line-height: 0;
    }

    img {
      filter: blur(6px);

      &.ng-lazyloaded {
        filter: blur(0);
      }
    }

    &.__toggle {
      video, .top_ytb {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

      }
    }

    .playBtn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #1C1D1F;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
      z-index: 3;

      &.__show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    .top_ytb {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #1C1D1F;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
      z-index: 3;

      ::ng-deep {
        iframe {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      &.__show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

  }

  .top_cover {
    position: relative;

    img {
      width: 100%;
    }

    &.__tint {
      &:before {
        display: block;
        content: '';
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 45%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  .cover_discr {
    position: absolute;
    right: 30px;
    bottom: 28px;
    z-index: 2;
    font-family: "GothamPro";
    font-size: 13px;
    letter-spacing: 0.13px;
    color: rgba(255, 255, 255, .8);
  }

  .top_cover-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 2;
  }

  .top_row {
    position: relative;
    padding-left: 200px;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }

  &.__1 {
    .top_cover {
      margin-top: 42px;
    }

    h1 {
      font-size: 45px;
      line-height: 58.5px;
    }
  }

  &.__2, &.__5 {
    .top_cover {
      margin-bottom: 42px;
    }

    h1 {
      font-size: 45px;
      line-height: 58.5px;
    }
  }

  &.__3 {
    h1 {
      max-width: 1160px;
      margin: 0 auto;
      color: #fff;
    }

    img {
      width: 100%;
    }

    .top_cover {
      margin-bottom: 42px;
    }
  }

  &.__6 {
    h1 {
      max-width: 1160px;
      margin: 0 auto;
      color: #fff;
    }

    img {
      width: 100%;
    }

    .top_cover {
      margin-bottom: 42px;
    }
  }


}

.author {
  position: relative;
  display: flex;
  align-items: center;

  .mobile_author-common {
    display: none;
  }

  &:hover {
    .author_photo, .author_name {
      transform: scale(1.03);
    }
  }

  .author_photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;
    transition: transform .2s ease-in-out;

    img {
      width: 100%;
    }
  }

  .author_name {
    font-family: "GothamPro-Medium";
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #1C1D1F;
    transition: transform .2s ease-in-out;
  }
}

.top_discr {
  display: flex;
  align-items: center;
  margin: 42px 0 38px;

  &.__1 {
    margin: 42px 0 38px;
  }

  &.__2, &.__0 {
    margin: 32px 0 38px;
  }

  .main_tag {
    font-family: "GothamPro-Medium";
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.08px;
    color: rgba(255, 255, 255, .85);
    height: 30px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #1C1D1F;
    transition: transform .2s ease-in-out;
    margin-right: 60px;

    &:hover {
      transform: scale(1.03);
    }
  }

  .date {
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 18px;
    margin-bottom: 1px;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 1;

    &:before, span {
      font-family: "GothamPro";
      font-size: 15px;
      letter-spacing: 0.15px;
      color: rgba(35, 35, 35, .7);
    }

    &:before, span {
      display: inline-block;
      content: '|';
      font-family: "GothamPro";
      margin-right: 15px;
    }

  }
}

.textBlock {
  font-family: "GothamPro";
  font-size: 17px;
  line-height: 27px;
  color: #1C1D1F;
  flex: 1;
  margin-top: -7px;
  align-self: flex-start;
  word-break: break-word;

  ::ng-deep {
    & > p {
      margin-bottom: 14px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      color: #0045E6;
      text-decoration: underline;
    }
  }
}

.speech_text, .date-place_text {
  ::ng-deep {
    & > p {
      margin-bottom: 14px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      color: #0045E6;
      text-decoration: underline;
    }
  }
}

.textBlock, .speech_text, .date-place_text {
  ::ng-deep {
    u, em {
      text-decoration: none !important;
      font-style: normal;
    }

    em {
      padding: 6px 3px;
    }

  }

  &.__1 {
    ::ng-deep {
      em {
        background-color: #1C1D1F;
        color: #fff;
      }
    }
  }

  &.__2 {
    ::ng-deep {
      em {
        background-color: #ADE8A9;
      }
    }
  }

  &.__3 {
    ::ng-deep {
      em {
        background-color: #97E4FC;
      }
    }
  }

  &.__4 {
    ::ng-deep {
      em {
        background-color: #D0BBFA;
      }
    }
  }

  &.__5 {
    ::ng-deep {
      em {
        background-color: #F7ADBA;
      }
    }
  }

  &.__6 {
    ::ng-deep {
      em {
        background-color: #FCC6B0;
      }
    }
  }
}

.playBtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .8);
  z-index: 5;
  cursor: pointer;
  transition: background-color .15s ease-in-out, transform .15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transform: translateX(3px);
    border-left: 20px solid #1C1D1F;

  }

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
  }
}

.modalImgWrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .8);
  opacity: 0;
  visibility: hidden;
  z-index: 19;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &.__show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}


.img {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: auto;
  overflow: hidden;
  max-width: 100%;

  .photo_caption {
    text-align: right;
  }

  &.__hidden {
    & > img {
      opacity: 0;
      pointer-events: none;
      transition: none !important;
    }
  }

  &:hover {
    .magnif {
      opacity: 1;
      visibility: visible;
    }
  }

  .video_wrap {
    position: relative;
  }

  .video_cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .2s ease-in-out;

    &.__hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  video {
    width: 100%;
    max-height: 480px;
  }

  &.__40 {
    margin-bottom: 40px;
  }

  &.__760 {
    max-width: 760px;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 560px;
    min-height: auto;
    min-width: auto;
    margin: 0 auto;
  }

  .magnif {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(28, 29, 31, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    line-height: 0;

    svg {
      width: 14px;
      height: 14px;
      fill: #fff;
    }
  }
}

.photo_caption {
  display: inline-block;
  font-family: "GothamPro";
  font-size: 13px;
  letter-spacing: 0.13px;
  color: #1C1D1F;
  margin-top: 16px;
  padding-right: 20px;
  min-width: 200px;
}

.img_full  {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: auto;
  max-height: none;
  max-width: none;

  &.__width {
    img {
      width: 100vw;
      height: auto;
    }
  }

  img {
    width: 100%;
    max-height: none !important;
    max-width: none !important;
  }
}

.img_full_vh {
  //width: auto;
  //max-height: 100%;
  ////height: 100vh;
  //max-width: 100vw;
  //overflow: hidden;
  //position: relative;
  //min-width: auto;
  //max-width: none;
  //padding: 5vh 0;
  //
  padding-top: 30px;
  padding-bottom: 30px;
  //height: 100vh;
  //display: flex;
  //flex-direction: column;
  .photo_caption {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  img {
    //flex: 1;
    width: auto;
    height: auto;
    max-height: none!important;
    min-width: auto;
    max-width: none;
  }
}

.speech_author {
  width: 160px;
  flex: 1 0 auto;
  text-align: right;
  font-family: 'GothamPro-MediumItalic';
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.25px;
  color: #1C1D1F;
  margin-right: 40px;
}

.speech_text {
  font-family: 'GothamPro-Italic';
  font-size: 17px;
  line-height: 27px;
  color: #1C1D1F;
}

.date-place {
  max-width: 160px;
  width: 100%;
  flex: 1 0 auto;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span {
    display: inline-block;
    text-align: right;
    font-family: 'GothamPro';
    color: #999999;

    &:first-of-type {
      font-size: 17px;
      line-height: 27px;
      letter-spacing: -0.25px;
      margin-bottom: 10px;
    }

    &:first-of-type {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.21px;
    }

  }
}

.date-place_text {
  font-family: 'GothamPro';
  font-size: 17px;
  line-height: 27px;
  color: #1C1D1F;
}

.callout {
  font-family: "GothamPro-Medium";
  font-size: 45px;
  line-height: 54px;
  letter-spacing: -0.22px;
  color: #1C1D1F;
}

.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0;

  .svg-quote {
    position: absolute;
    width: 41px;
    height: 31px;
    fill: #1C1D1F;
  }

  .quote_left {
    left: -60px;
    top: 0;
  }

  .quote_right {
    right: -60px;
    bottom: 0;
    transform: rotate(180deg);
  }

  span {
    font-family: 'GothamPro-MediumItalic';
    font-size: 17px;
    line-height: 27.2px;
    color: #1C1D1F;
  }

  .quote_author {
    font-family: 'GothamPro-Black';
    font-size: 17px;
    line-height: 1;
    color: #1C1D1F;
    align-self: flex-end;
    margin-top: 20px;
  }
}

.all_tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .all_tags-item {
    font-family: 'GothamPro-Medium';
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #1C1D1F;
    margin-right: 26px;
    margin-bottom: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.commentsBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: #1C1D1F;

  svg {
    width: 21px;
    height: 17px;
    fill: #fff;
    margin-right: 18px;
  }

  .btnTxt {
    font-family: 'GothamPro-Medium';
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #FFFFFF;
  }

  .count {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    font-family: 'GothamPro';
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
  }
}

.commemts_list {
  margin: 10px 0;
  width: 100%;
  max-height: 400px;
  position: relative;
  padding-left: 44px;

  .commemts_list-item {
    background-color: #FAFAFA;
    margin: 8px 0;
    padding: 12px 30px;
    position: relative;
  }

  .user_avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -44px;

    img {
      width: 100%;
    }
  }

  .user_name {
    font-family: 'GothamPro-Medium';
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #1C1D1F;
    margin-bottom: 12px;
  }

  .user_text {
    font-family: 'GothamPro';
    font-size: 17px;
    line-height: 27px;
    color: #1C1D1F;
    margin-bottom: 10px;
  }

  .comment_img {
    line-height: 0;
    margin-bottom: 12px;
  }

  .comment_bottom {
    display: flex;
    align-items: center;
  }

  .comment_bottom-date {
    font-family: 'GothamPro';
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #919499;
  }

  .comment_bottom-btn {
    font-family: 'GothamPro';
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #1C1D1F;
    margin-left: 10px;
    padding: 2px;
    cursor: pointer;
  }
}

.user_pane {
  width: 100%;
  position: relative;
  padding-left: 44px;


  .user_avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -44px;
    transform: translateY(-9px);

    img {
      width: 100%;
    }
  }

  .user_name {
    font-family: 'GothamPro-Medium';
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #1C1D1F;
    margin-bottom: 6px;
    padding: 0 20px;
    position: relative;
    margin-top: 20px;
  }

  .close_paint-layer {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 0;
    top: 0;
    cursor: pointer;

    canvas {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &:before, &:after {
      display: block;
      content: '';
      width: 24px;
      height: 2px;
      background-color: #28302C;
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

  }

  .inp {
    display: flex;
    align-items: center;
    width: 100%;

    &.__disabled {
      pointer-events: none;
    }
  }

  .inp_wrap {
    position: relative;

    &.__disabled {
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 15;
      }

      input {
        pointer-events: none;
      }
    }
  }

  .paint_layer {
    margin-bottom: 10px;
    height: 400px;
    max-height: 0px;
    overflow: hidden;
    border: 1px solid #DFE0DF;
    position: absolute;
    margin-right: 36px;
    opacity: 0;
    visibility: hidden;

    &.__show {
      position: relative;
      opacity: 1;
      visibility: visible;
      max-height: none;
      overflow: visible;
    }
  }

  .paint_colors {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    .paint_colors-item_wrap {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;

      &:last-of-type {

        .paint_colors-item {
          border: 1px solid #DFE0DF;
        }
      }
    }

    .paint_colors-item {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      overflow: hidden;
      box-sizing: border-box;
      cursor: pointer;


      &.__active {
        width: 20px;
        height: 20px;
      }


    }
  }

  .paintBtns {
    display: flex;
    align-items: center;
  }

  .inp_wrap {
    flex: 1;
  }

  input {
    display: block;
    width: 100%;
    border-bottom: 2px solid #919499;
    font-family: 'GothamPro';
    font-size: 17px;
    letter-spacing: -0.08px;
    color: #1C1D1F;
    height: 36px;
    padding: 0 20px;

    &:focus {
      border-bottom: 2px solid #1C1D1F;
    }
  }

  button {
    margin-left: 26px;

    &.btnSubmit {
      pointer-events: none;
    }

    &.__active {
      pointer-events: auto;

      svg {
        fill: #1C1D1F;
      }
    }

    &:hover {
      svg {
        fill: #1C1D1F;
      }
    }
  }

  .svg-paint {
    width: 30px;
    height: 27.6px;
    fill: #919499;
    transition: fill .15s ease-in-out;
  }

  .svg-submit {
    width: 25px;
    height: 25px;
    fill: #919499;
    transition: fill .15s ease-in-out;
  }
}

.similar, .mediametrics {
  display: flex;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto 40px;

  .similar_item {
    padding: 0;
    flex: 1;

    &:first-of-type {
      margin-right: 38px;
    }

    &:last-of-type {
      margin-left: 38px;
    }

    &:hover {
      .img_wrap {
        &.__tint {
          &:after {
            opacity: 1;
          }
        }
      }

      .tags {
        opacity: 1;

      }
    }

    img {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: none;
      min-width: 100%;
      width: auto;
      top: 0;
      height: 100%;
      z-index: -2;
      line-height: 0;
      transition: transform .6s ease-in-out;
      transition-delay: .01ms;
    }

    .tags {
      height: auto;
      z-index: 2;
      overflow: hidden;
      margin-top: 0;
      display: flex;
      align-items: center;
      opacity: 0;
      flex-wrap: wrap;
      transition: height .2s ease-in-out, margin-top .2s ease-in-out, opacity .2s ease-in-out;

    }

    .tags_item {
      font-family: "GothamPro";
      font-size: 15px;
      line-height: 1.3;
      letter-spacing: 0.15px;
      color: #FFFFFF;
      margin-right: 20px;
      transition: opacity .15s ease-in-out;
      margin-bottom: 5px;
      cursor: pointer;

      &.__opacity {
        opacity: .7;
      }

      &:hover {
        opacity: 1;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    .head, p {
      font-family: "GothamPro-Black";
      color: #ffffff;
      z-index: 1;
      transition: color 0.3s ease-in-out;

      &.__delay {
        transition: opacity 0.3s ease-in-out;
        transition-delay: 0.2s;
      }
    }

    .block, .advert, .img_wrap {
      overflow: hidden;
      position: relative;
      line-height: 0;
      padding: 40px 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &.__tint {
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 40%;
          opacity: 0;
          background: linear-gradient(0deg, rgba(28, 29, 31, 1) 0%, rgba(28, 29, 31, 0) 100%);
          z-index: -1;
          transition: opacity .3s ease-in-out;
        }
      }
    }

    .tags {
      padding-bottom: 10px;
    }

    .img_wrap {
      position: relative;
      height: 204px;
      width: 100%;
      padding: 20px 20px 0;
    }

    .head {
      display: block;
      padding: 20px;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.12px;
      color: #1C1D1F !important;
    }
  }
}

@media all and (max-width: 1279px) {
  .content, .article_row {
    max-width: 830px;
  }

  .article_row {
    max-width: 830px;
    padding-left: 110px;

    &.__mb30 {
      margin-bottom: 30px;
    }

    &.__100 {
      padding-left: 60px;
    }

    &.__sw100 {
      padding-left: 60px;
    }

    &.__160 {
      padding-left: 60px;
    }

    &.__160-2 {
      padding-left: 130px;
    }

    &.__260 {
      padding-left: 110px;
    }

  }

  .article_row-content {
    &.__760 {
      max-width: 610px;
    }

    &.__640 {
      max-width: 610px;
    }

    &.__860 {
      max-width: 770px;
    }

    &.__840 {
      max-width: 770px;
    }

    &.__900 {
      max-width: 750px;
    }

    &.__960 {
      max-width: 770px;
    }

    &.__sw960 {
      max-width: 710px;
    }
  }

  .reverse {
    margin-left: 0;
  }

  .test_top-head {
    font-size: 30px;
    letter-spacing: -0.12px;
    margin-bottom: 14px;
  }

  .test_top-count {
    font-size: 25px;
    letter-spacing: -0.12px;
    margin-bottom: 14px;
  }

  .question_head {
    font-size: 25px;
    letter-spacing: -0.12px;
    margin-bottom: 28px;
  }

  .question_cover {
    .question_tip {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.09px;
    }
  }

  .testFinish {
    .testFinish_head {
      font-size: 25px;
      line-height: 35px;
      letter-spacing: -0.12px;
    }

    .testFinish_descr {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.09px;
    }

    .testFinish_shareLabel {
      font-size: 18px;
      letter-spacing: -0.09px;
    }
  }

  .answ_item {
    padding: 12px 40px 12px 20px;
    font-size: 18px;
    letter-spacing: -0.09px;
  }

  .opinions {
    .opinions_top {
      padding-left: 30px;
      max-width: 610px;

      .opinions_title {
        font-size: 25px;
      }
    }
  }

  .sdcd {
    max-width: 450px;
  }

  .theme_head {
    margin-right: 30px;
  }

  .theme_img {
    max-width: 209px;
    margin-right: 30px;
  }

  .theme_text {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
  }

  .swiper-box {
    padding: 0 48px;
  }

  .prev, .next {
    width: 48px;
  }

  .prev {
    left: -48px;
  }

  .next {
    right: -48px;
  }

  .article_row-left, .article_row-right {
    max-width: 320px;
  }

  .article_row-left {
    margin-right: 30px;
  }

  .article_row-right {
    margin-left: 30px;
  }

  h1 {
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.22px;
  }

  .lead {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: -0.1px;
  }

  h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.12px;
  }

  .social {
    &.__fixed {
      margin-left: -415px;
    }
  }

  .article_top {
    .top_row {
      padding-left: 110px;
      max-width: 830px;
    }

    &.__3, &.__6 {
      h1 {
        max-width: 830px;
      }
    }
  }

  .author {
    .author_name {
      max-width: 300px;
    }
  }

  .img {
    img {
      max-height: 480px;
    }

    &.__760 {
      max-width: 610px;
    }
  }

  .speech_author {
    width: 150px;
    margin-right: 30px;
  }

  .date-place {
    max-width: 150px;
    margin-right: 30px;
  }

  .callout {
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: -0.17px;
  }

  .commemts_list {
    margin: 12px 0;
    max-height: 500px;

    .commemts_list-item {
      padding: 10px 20px;
    }
  }

  .user_pane {
    .paint_layer {
      height: 320px;
    }
  }

  .similar, .mediametrics {
    max-width: 830px;

    .similar_item {
      &:first-of-type {
        margin-right: 26px;
      }

      &:last-of-type {
        margin-left: 26px;
      }

      .img_wrap {
        height: 142px;
      }

      .head {
        font-size: 17px;
        line-height: 22.58px;
        letter-spacing: -0.08px;
      }
    }
  }
}

@media all and (max-width: 959px) {


  .content, .article_row {
    max-width: 575px;
  }

  .article_row {
    max-width: 575px;
    padding-left: 75px;
    margin-bottom: 30px;

    &.__mb30 {
      margin-bottom: 20px;
    }

    &.__100 {
      padding-left: 75px;
    }

    &.__sw100 {
      padding-left: 75px;
    }

    &.__160 {
      padding-left: 75px;
    }

    &.__160-2 {
      padding-left: 75px;
    }


    &.__260 {
      padding-left: 75px;
    }

  }

  .article_row-content {
    &.__author {
      align-items: flex-start !important;
      justify-content: space-between !important;
    }

    .author {
      justify-content: flex-start;

      & > .author_name, & > .date {
        display: block !important;
      }
    }

    &.__760 {
      max-width: none;
    }

    &.__640 {
      max-width: none;
    }

    &.__860 {
      max-width: none;
    }

    &.__840 {
      max-width: none;
    }

    &.__900 {
      max-width: 480px;
    }

    &.__960 {
      max-width: none;
    }


    &.__sw960 {
      max-width: none;
    }

    &.__row {
      flex-direction: column;
      align-items: center;
    }

    &.__author {
      flex-direction: column;
      //justify-content: space-between;
      //align-items: center;
      .social {
        margin-top: 20px;
        //position: relative!important;
        //left: auto!important;
        //top: auto!important;
        //display: flex!important;
        //flex-direction: row;

        a {
          &:first-of-type {
            margin-left: 0;
          }

          //margin-bottom: 0 !important;
          margin-left: 18px;
        }
      }
    }
  }

  .reverse {
    margin-top: 30px;
  }

  .test_top-head {
    font-size: 25px;
    letter-spacing: -0.11px;
    margin-bottom: 12px;
  }

  .test_top-count {
    font-size: 22px;
    letter-spacing: -0.11px;
    margin-bottom: 12px;
  }

  .question_head {
    font-size: 22px;
    letter-spacing: -0.11px;
    margin-bottom: 22px;
  }

  .testFinish {
    .testFinish_head {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.1px;
    }

    .testFinish_descr {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.09px;
    }

    .testFinish_shareLabel {
      display: none;
    }
  }

  .answ_item {
    padding: 12px 40px 12px 20px;
    font-size: 18px;
    letter-spacing: -0.09px;
  }

  .opinions {
    .opinions_top {
      padding-left: 0px;
      max-width: 480px;
      margin-bottom: 28px;

      img {
        margin-bottom: 20px;
      }

      .opinions_title {
        font-size: 22px;
        line-height: 30px;
      }
    }

    .opinions_list {
      .opinions_list-item {
        padding-right: 70px;
      }

      .opinions_item-img {
        min-width: 100px;
        max-width: 100px;
        margin-right: 16px;

        .magnif {
          width: 35px;
          height: 35px;
          display: none;

          svg {
            width: 13px;
            height: 13px;

          }
        }
      }

      .opinions_item-content {
        padding: 12px 10px 12px 0;
      }

      .opinions_item-number {
        font-size: 25px;
        line-height: 32px;
        margin-right: 16px;
      }

      .opinions_item-text {
        font-size: 18px;
        line-height: 23px;
      }

      .opinions_item-percent {
        font-size: 25px;
        line-height: 42px;
      }
    }

    .opinions_all {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .theme_head {
    text-align: left;
    max-width: none;
    margin-right: 0;
    margin-bottom: 14px;
    width: 100%;

  }

  .theme_content {
    flex-direction: column;
    width: 100%;
  }

  .theme_img {
    display: none;
  }

  .theme_text {
    align-self: flex-start;
  }

  ul, ol {
    li {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }


  ol {
    .mark {
      left: auto;
      right: 95%;
      font-size: 23px;
      line-height: 28.6px;
      letter-spacing: -0.11px;
    }
  }

  .swiper-box {
    padding: 0;
  }

  .prev, .next {
    z-index: 15;
    width: 70px;

    .ico_wrap {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: rgba(28, 29, 31, .3);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      fill: #fff;
      width: 7px;
      height: 14px;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .article_row-left, .article_row-right {
    max-width: 350px;
    margin-bottom: 26px;
  }

  .article_row-left {
    margin-right: 0;

    &.__author {
      max-width: 350px;
    }
  }

  .article_row-right {
    margin-left: 0;
    order: -1;
  }

  h1 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.2px;
  }

  .lead {

    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;

  }

  h2 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.11px;

  }

  .social {
    &.__fixed {
      margin-left: -287.5px;
    }

    .social-item {
      width: 20px;
      margin-bottom: 25px;
    }


    .svg-fb {
      width: 10.4px;
      height: 20px;
    }

    .svg-twitter {
      width: 20px;
      height: 16px;
    }


    .svg-telegram {
      width: 20px;
      height: 17px;
    }

    .svg-viber {
      width: 19px;
      height: 20px;
    }

    .svg-link {
      width: 20px;
      height: 20px;
    }
  }

  .article_top {
    margin-bottom: 30px;

    img {
      width: auto;
    }

    .cover_discr {
      bottom: 18px;
    }

    .top_cover-content {
      bottom: 36px;
    }

    .top_row {
      padding-left: 75px;
      max-width: 575px;
    }

    &.__1, &.__4 {
      .top_cover {
        margin-top: 30px;
      }

      h1 {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.2px;
      }
    }

    &.__2, &.__5 {
      .top_cover {
        margin-bottom: 30px;
      }

      h1 {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.2px;
      }
    }

    &.__3, &.__6 {
      h1 {
        max-width: 540px;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -0.17pxж
      }


      .top_cover {
        margin-bottom: 30px;
        overflow: hidden;
        height: 410px;

        img {
          display: block;
          position: absolute;
          left: 50%;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          min-width: 100%;
          max-width: none;
          min-height: 100%;
          max-height: 100%;
          z-index: -2;
        }
      }
    }

  }

  .author {
    & > .author_name, & > .date {
      display: none;
    }

    .mobile_author-common {
      display: flex;
      flex-direction: column;
    }

    .author_name {
      max-width: none;
    }

    .author_photo {
      min-width: 50px;
      max-width: 50px;
    }

    &:hover {
      .author_photo, .author_name {
        transform: scale(1);
      }
    }

    .author_photo {
      width: 50px;
      height: 50px;
    }
  }

  .top_discr {
    margin: 38px 0 35px;

    &.__1 {
      margin: 38px 0 35px;
    }

    &.__2, &.__0 {
      margin: 30px 0 36px;
    }

    .main_tag {
      margin-right: 50px;
    }

    .date {
      margin-top: 5px;
      position: static;
      left: auto;
      top: auto;
      margin-left: 0;
      margin-bottom: 0;
      transform: translateY(0);

      &:before {
        display: none;
      }
    }
  }

  .img {
    img {
      max-height: none;
    }

    &.__760 {
      max-width: 540px;
      padding-left: 60px;
    }

    .magnif {
      width: 35px;
      height: 35px;

      svg {
        width: 13px;
        height: 13px;

      }
    }
  }

  .img_full, .img_full_vh {
    img {
      width: 100%;
      height: auto;
    }
  }
  .img_full_vh {
    min-width: auto;
    max-width: none;

    &.__width {
      img {
        width: 100vw;
        height: auto;
      }
    }
    img {
      width: auto;
      height: 100%;
      min-width: auto;
      max-width: none;
    }
  }


  .speech_author {
    width: auto;
    align-self: flex-start;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .date-place {
    width: auto;
    max-width: none;
    align-self: flex-start;
    margin-right: 0;
    align-items: flex-start;
    margin-bottom: 15px;

    span {
      &:first-of-type {
        margin-bottom: 6px;
      }
    }
  }

  .callout {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.12px;

  }

  .quote {
    max-width: 380px;
    padding: 30px 0 0;

    .svg-quote {
      width: 32px;
      height: 24px;
    }

    .quote_left {
      left: -45px;
    }

    .quote_right {
      right: -45px;
    }

    .quote_author {
      margin-top: 14px;
    }
  }

  .all_tags {
    align-self: flex-start;
  }


  .commemts_list {
    margin: 10px 0;
    max-height: 400px;

    .commemts_list-item {
      padding: 10px 25px;
    }
  }

  .user_pane {
    .close_paint-layer {
      display: none;
    }

    .paint_layer {
      height: 265px;
      margin-right: 0;
      margin-bottom: 55px;
    }

    .paint_colors {
      bottom: -30px;
    }

  }

  .outer_h2 {
    padding-left: 75px;
  }
  .mediametrics {
    max-width: 575px;
    padding-left: 75px;

    ::ng-deep {
      & > div {
        width: 100%;
      }
    }

  }
  .similar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }
}

@media all and (max-width: 599px) {
  .fullscreen_ico {
    display: none;
  }
  app-slider-full-screen {
    display: none;
  }
  .content, .article_row {
    max-width: none !important;
  }

  .article_row {
    padding: 0;

    &.__100 {
      padding: 0;

      .textBlock {
        padding: 0;
      }
    }

    &.__sw100 {
      padding: 0;
    }

    &.__160-2 {
      padding: 0;
    }

    &.__160, &.__260 {
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  .article_row-content {
    max-width: none !important;

    &.__comments {
      padding: 0 20px;
    }

    &.__900 {
      max-width: none;
    }

    &.__row {
      padding: 0 20px !important;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
    }
  }

  .reverse {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    order: 11;
  }


  .test_question {
    padding: 0 20px;
  }
  .test_top {
    padding: 0 20px;
  }
  .test_top-head {
    font-size: 25px;
    letter-spacing: -0.1px;
    margin-bottom: 12px;
  }

  .test_top-count {
    font-size: 20px;
    letter-spacing: -0.1px;
    margin-bottom: 12px;
  }

  .question_head {
    font-size: 20px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
  }

  .question_cover {
    .question_tip {
      font-size: 17px;
      line-height: 27px;
      letter-spacing: -0.08px;
    }
  }

  .testFinish {
    .testFinish_head {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.1px;
    }

    .testFinish_descr {
      font-size: 17px;
      line-height: 27px;
      letter-spacing: -0.08px;
    }

    .testFinish_shareList {
      a {
        margin: 0 6px;
      }
    }
  }

  .answ_item {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -0.08px;
  }

  .opinions {
    .opinions_top {
      max-width: none;
      margin-bottom: 26px;

      img {
        margin-bottom: 14px;
      }

      .opinions_title {
        padding: 0 20px;
      }
    }

    .opinions_list {
      .opinions_list-item {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 0;
        margin-bottom: 20px;
        padding: 0 20px;
      }

      .opinions_item-img {
        order: 1;
      }

      .opinions_item-content {
        order: 3;
        width: 100%;
        flex: 1 0 auto;
        padding-left: 20px;
      }

      .opinions_item-number {
        display: none;
      }

      .opinions_item-text {
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.08px;
      }

      .opinions_item-percent {
        position: relative;
        width: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: auto;
        right: auto;
        background-color: #884AF5;
        color: #fff;
        order: 2;
      }
    }

    .opinions_all {
      font-size: 20px;
      letter-spacing: -0.1px;
      padding: 0 20px;
    }
  }


  ul, ol {
    li {
      margin-bottom: 16px;
      padding-left: 33px;

      &.__small {
        padding-left: 33px;
      }

      &.__medium {
        padding-left: 33px;
      }

      &.__large {
        padding-left: 33px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul {
    .mark {
      left: 11px;
    }
  }

  ol {
    .mark {
      left: auto;
      right: 94%;
      font-size: 21px;
    }
  }

  .prev {
    left: 12px;
  }

  .next {
    right: 12px;
  }

  .article_row-left, .article_row-right {
    max-width: 350px;
    margin-bottom: 26px;
  }

  .article_row-left {
    margin-right: 0;

    &.__author {
      max-width: 350px;
    }
  }

  .article_row-right {
    margin-left: 0;
    order: -1;

    .photo_caption {
      padding-right: 0;
      text-align: right;
    }
  }

  h1 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.12px;
  }

  .lead {

    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.09px;

  }

  h2 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;
    padding: 0 20px;

  }

  .social {
    display: flex;
    flex-direction: row;
    position: static;
    left: auto;
    top: auto;
    margin-top: 18px;
    order: 10;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;

    &.__fixed {
      top: auto;
      left: auto;
      position: static;
      margin-left: 0;
    }

    &.__hide {
      opacity: 1;
      visibility: visible;
    }

    .social-item {
      width: auto;
      padding: 10px;
      margin-bottom: 0;
    }

    .svg-fb {
      width: 13px;
      height: 25px;
    }

    .svg-twitter {
      width: 25px;
      height: 20px;
    }


    .svg-telegram {
      width: 25px;
      height: 21px;
    }

    .svg-viber {
      width: 24px;
      height: 25px;
    }

    .svg-link {
      width: 25px;
      height: 25px;
    }

  }

  .article_top {
    margin-bottom: 30px;

    .cover_discr {
      right: 20px;
      bottom: 10px;
    }

    .top_cover-content {
      bottom: 40px
    }

    .top_row {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      padding-right: 20px;
    }

    &.__0 {
      h1 {
        padding: 0 20px;
      }
    }

    &.__1, &.__4 {
      .top_cover {
        margin-top: 30px;
        height: 260px;
        overflow: hidden;

        img {
          position: absolute;
          left: 50%;
          top: 0;
          height: 100%;
          transform: translateX(-50%);
          z-index: 0;
          width: auto;
          max-width: none;
          min-width: 100%;
        }
      }

      h1 {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: -0.12px;
        padding: 0 20px;
      }
    }

    &.__2, &.__5 {

      .top_cover {
        margin-bottom: 30px;
        height: 260px;
        overflow: hidden;

        img {
          position: absolute;
          left: 50%;
          top: 0;
          height: 100%;
          transform: translateX(-50%);
          z-index: 0;
          width: auto;
          max-width: none;
          min-width: 100%;
        }
      }

      h1 {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: -0.12px;
      }
    }

    &.__3, &.__6 {

      .top_cover {
        position: relative;
        margin-bottom: 0;
        height: 320px;
        overflow: hidden;

        img {

          position: absolute;
          left: 50%;
          top: 0;
          height: 100%;
          transform: translateX(-50%);
          z-index: 0;
          width: auto;
          max-width: none;
          min-width: 100%;
        }
      }

      h1 {
        max-width: none;
        padding: 0 20px;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: -0.12px;

      }
    }
  }

  .author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > .author_name, & > .date {
      display: none;
    }

    .mobile_author-common {
      display: flex;
      flex-direction: column;
    }

    .author_photo {
      min-width: 50px;
      max-width: 50px;
    }
  }

  .top_discr {
    flex-direction: column;
    align-items: flex-start;

    .main_tag {
      margin-right: 0;
      margin-bottom: 25px;
    }

    .date {
      margin-top: 5px;
      position: static;
      left: auto;
      top: auto;
      margin-left: 0;
      margin-bottom: 0;
      transform: translateY(0);

      &:before {
        display: none;
      }
    }
  }

  .textBlock {
    padding: 0 20px;
  }

  .img {
    img {
      max-height: none;
    }

    &.__760 {
      max-width: none;
      padding-left: 0;
    }

    .magnif {
      display: block !important;
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  .photo_caption {
    margin-top: 8px;
    padding-right: 10px;
  }

  .speech_author {
    margin-bottom: 8px;
  }


  .date-place {
    margin-bottom: 8px;
  }

  .callout {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }

  .quote {
    max-width: none;
    padding: 0 30px 0 50px;

    .svg-quote {
      width: 25px;
      height: 19px;
    }

    .quote_left {
      left: 10px;
    }

    .quote_right {
      right: 10px;
    }

    .quote_author {
      margin-top: 14px;
      margin-right: 24px;
    }
  }

  .all_tags {
    align-self: flex-start;
    padding: 0;

    .all_tags-item {
      margin-bottom: 10px;
    }
  }
  .commemts_list {
    padding-left: 0;
    max-height: 300px;

    .commemts_list-item {
      margin: 10px 0;
      padding: 10px;
    }

    .user_avatar {
      display: none;
    }
  }

  .user_pane {
    padding-left: 0;

    .user_name {
      margin-top: 0;
    }

    .user_avatar {
      display: none;
    }

    .paint_layer {
      padding-bottom: 61%;
      height: auto;
      margin-bottom: 45px;

      canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .paint_colors {
      justify-content: space-between;
      bottom: -30px;
      width: 100%;
      max-width: 240px;
    }

    button {
      margin-left: 18px;
    }

    .svg-paint {
      width: 25px;
      height: 23px;
    }

    .svg-submit {
      width: 22px;
      height: 22px;
    }
  }

  .mediametrics, .outer_h2 {
    padding-left: 0;
    padding: 0 20px;

    ::ng-deep {
      & > div {

      }
    }
  }

  .similar {
    display: none;
  }
}








