:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #1C1D1F;
  padding-top: 200px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out 0.1s, visibility .15s ease-in-out 0.1s;
  overflow: auto;

  &.__show {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }
}

.box {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.top {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tags {
  max-width: 1280px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tags_item {
  font-family: 'GothamPro-Bold';
  line-height: 30px;
  letter-spacing: -0.15px;
  color: #FC10A2;
  margin: 0 30px 50px;
  cursor: pointer;

  &.__25 {
    font-size: 25px;
  }

  &.__30 {
    font-size: 30px;
  }

  &.__35 {
    font-size: 35px;
  }

  &.__40 {
    font-size: 40px;
  }

  &.__45 {
    font-size: 45px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom_row {
  display: flex;
  align-items: center;
}

.bottom_row-top {
  margin-bottom: 40px;
}

.bottom_row-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 60px;

  .menu_item {
    font-family: 'GothamPro-Bold';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 20px;
    cursor: pointer;
  }
}

.langs {
  display: flex;
  align-items: center;

  .langs_item {
    font-family: 'GothamPro';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.08px;
    color: rgba(255, 255, 255, .85);
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;

    &.__selected {
      font-family: 'GothamPro-Bold';
      color: #FFFFFF;
      pointer-events: none;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  margin-right: 0 !important;

  .social-item {
    display: flex;
    align-items: center;
    margin: 0 13px;
    padding: 8px;
    cursor: pointer;

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }

  svg {
    fill: rgba(255, 255, 255, .85);
    transition: fill .15s ease-in-out;
  }

  .svg-fb {
    width: 12px;
    height: 23px;
  }

  .svg-twitter {
    width: 24px;
    height: 20px;
  }

  .svg-google_plus {
    width: 27px;
    height: 17px;
  }

  .svg-telegram {
    width: 23px;
    height: 20px;
  }

  .svg-sdcd {
    width: 50.7px;
    height: 22px;
  }

  .svg-share {
    width: 22px;
    height: 22px;
  }

  .svg-inst {
    width: 22px;
    height: 22px;
  }

  .svg-ytb {
    width: 31px;
    height: 22px;
  }
}

.inp {
  margin-right: 38px;

  input {
    width: 260px;
    height: 40px;
    font-family: 'GothamPro';
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.08px;
    color: #1C1D1F;
    padding: 0 18px;
  }
}

.subscribe {
  display: flex;
  align-items: center;

  span {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.09px;
    color: #FFFFFF;
  }

  svg {
    width: 25px;
    height: 18px;
    fill: #B3B3B3;
    margin-left: 18px;
  }
}

@media all and (max-width: 1439px) {
  .tags_item {
    margin: 0 25px 40px;

    &.__25 {
      font-size: 20px;
    }

    &.__30 {
      font-size: 25px;
    }

    &.__35 {
      font-size: 30px;
    }

    &.__40 {
      font-size: 35px;
    }

    &.__45 {
      font-size: 35px;
    }
  }
}

@media all and (max-width: 1279px) {
  .tags_item {
    margin: 0 25px 40px;

    &.__25 {
      font-size: 18px;
    }

    &.__30 {
      font-size: 23px;
    }

    &.__35 {
      font-size: 28px;
    }

    &.__40 {
      font-size: 30px;
    }

    &.__45 {
      font-size: 32px;
    }
  }
  .menu {
    margin-right: 60px;

    .menu_item {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.09px;
    }
  }
  .langs {
    .langs_item {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: -0.08px;
    }
  }
  .social {
    margin-right: 70px;
  }
  .inp {
    margin-right: 28px;
  }
}

@media all and (max-width: 959px) {
  .top {
    padding-bottom: 40px;
  }
  .bottom_row-top {
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: center;
  }
  .bottom_row-bottom {
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu {
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;

    .menu_item {
      margin-bottom: 10px;
    }
  }
  .social {
    width: 100%;
    flex: 1 0 auto;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .inp {
    margin-right: 36px;
  }
}

@media all and (max-width: 599px) {
  :host {
    padding-top: 140px;
  }
  .top {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .tags {
    padding: 0;
  }
  .tags_item {
    margin: 0 12px 20px;

    &.__25 {
      font-size: 23px;
    }

    &.__30 {
      font-size: 23px;
    }

    &.__35 {
      font-size: 25px;
    }

    &.__40 {
      font-size: 28px;
    }

    &.__45 {
      font-size: 18px;
    }
  }
  .bottom_row-top {
    margin-bottom: 20px;
  }
  .bottom_row-bottom {
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
  }
  .menu {
    .menu_item {
      margin: 0 15px;
      margin-bottom: 15px;
    }
  }
  .social {
    margin-bottom: 30px;
    flex-wrap: wrap;

    &:after {
      display: block;
      content: '';
      width: 100%;
      order: 2;
      height: 0;
      opacity: 0;
    }

    .social-item {
      margin: 0 11px;
      order: 1;

      &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
        order: 3;
        margin-top: 15px;
      }
    }
  }
  .inp {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
