<div class="box">
  <div class="top">
    <div class="tags">
      <a *ngFor="let tag of tags" [routerLink]="tag | tagLink" (click)="changePage()" [style.color]="color === '#1C1D1F' ? '#fff' : color" [class]="'tags_item __' + tag.size">#{{tag.name}}
      </a>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom_row bottom_row-top">
      <div class="menu">
        <a routerLink="/tags" (click)="changePage()" class="menu_item">{{'menuModal.link-1' | translate}}</a>
        <a routerLink="/spetsproekty" (click)="changePage()" class="menu_item">{{'special-projects.title' | translate}}</a>
        <a routerLink="/about" (click)="changePage()" class="menu_item">{{'menuModal.link-2' | translate}}</a>
        <a routerLink="/ads" (click)="changePage()" class="menu_item">{{'menuModal.link-3' | translate}}</a>
      </div>
      <div class="langs">
        <div class="langs_item" *ngFor="let lang of langs" (click)="changeLang(lang.value)" [class.__selected]="lang.selected">{{lang.text}}</div>
      </div>
    </div>
    <div class="bottom_row bottom_row-bottom">
      <div class="social">
        <a href="https://www.facebook.com/iod.media" target="_blank" class="social-item">
          <svg class="svg-fb">
            <use xlink:href="/assets/img/sprite.svg#fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <a href="https://twitter.com/IOD_MEDIA" target="_blank" class="social-item">
        <svg class="svg-twitter">
          <use xlink:href="/assets/img/sprite.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
        <a href="https://www.instagram.com/iod.media/" target="_blank" class="social-item">
        <svg class="svg-inst">
          <use xlink:href="/assets/img/sprite.svg#inst" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
        <a href="https://www.youtube.com/channel/UCFA6qyo6YLbqBT173pan6iw" target="_blank" class="social-item">
        <svg class="svg-ytb">
          <use xlink:href="/assets/img/sprite.svg#ytb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
        <a href="https://t.me/iod_media" class="social-item" target="_blank">
        <svg class="svg-telegram">
          <use xlink:href="/assets/img/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
        <a href="https://soundcloud.com/iodmedia" target="_blank" class="social-item">
        <svg class="svg-sdcd">
          <use xlink:href="/assets/img/sprite.svg#sdcd" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
        <a href="https://rss.iod.media/all.xml" target="_blank" class="social-item">
        <svg class="svg-share">
          <use xlink:href="/assets/img/sprite.svg#share" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      </div>
    </div>
  </div>
</div>
