<div class="box">
  <div class="head">{{'searchModal.title' | translate}}</div>
  <div class="inp">
    <input type="text" [(ngModel)]="txt" (input)="search()" #inpEl/>
    <svg class="svg-glasses">
      <use xlink:href="/assets/img/sprite.svg#glasses" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="list_wrap">
    <div class="list" [perfectScrollbar]="{}">
      <a [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" class="list_item" *ngFor="let article of articles">
        <div class="img">
          <img [src]="article.cover_xs" alt="">
        </div>
        <div class="content">
          <div class="content_title">{{article.title}}</div>
          <div class="content_date">{{date_s.convert(article.publish_time)}}</div>
        </div>
      </a>
    </div>
  </div>
  <a [routerLink]="redirectLink + encodeTxt"
     [href]="redirectLink + encodeTxt"
     (click)="close()"
     *ngIf="articles.length"
     class="redirect"> <span>{{'searchModal.link' | translate}}</span>
    <svg class="svg-arr_long">
      <use xlink:href="/assets/img/sprite.svg#arr_long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
</div>
