:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #1C1D1F;
  padding-top: 255px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out 0.1s, visibility .15s ease-in-out 0.1s;
  overflow: hidden;

  &.__show {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }
}

.box {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 38px;
  overflow: hidden;
}

.head {
  font-family: 'GothamPro-Black';
  font-size: 25px;
  letter-spacing: -0.12px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}

.inp {
  position: relative;
  max-width: 560px;
  width: 100%;
  margin: 0 auto 30px;

  input {
    height: 38px;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    padding: 0 40px 0 20px;
    width: 100%;
    font-family: 'GothamPro';
    font-size: 17px;
    letter-spacing: -0.08px;
    color: #FFFFFF;
  }

  svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 9px;
    fill: #fff;
  }
}

.list_wrap {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;

  &:before {
    display: block;
    content: '';
    position: absolute;
    left: -40px;
    right: -40px;
    box-shadow: 0 59px 41px 25px rgba(28, 29, 31, 0), 0 59px 41px 25px rgba(28, 29, 31, 1);
    pointer-events: none;
    top: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 500px;
    z-index: 100;
  }
}

.list {
  position: relative;
  height: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  .ps__rail-x, .ps__rail-y {
    order: 1;
  }
}

.list_item {
  display: flex;
  margin-bottom: 30px;
  order: 2;

  &:last-of-type {
    margin-bottom: 70px;
  }
}

.img {
  max-width: 110px;
  width: 100%;
  margin-right: 16px;
}

.content {
  .content_title {
    font-family: 'GothamPro-Bold';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.09px;
    color: #FFFFFF;
    margin-bottom: 7px;
  }

  .content_date {
    font-family: 'GothamPro';
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #AFB0B3;
  }
}

.redirect {
  display: flex;
  align-items: center;
  margin: 20px auto 32px;

  span {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    letter-spacing: -0.09px;
    color: #FC10A2;
  }

  svg {
    width: 30px;
    height: 16.4px;
    fill: #FC10A2;
    margin-left: 16px;
    transform: rotate(180deg);
  }

  &.__disabled {
    pointer-events: none;
    opacity: 0;
  }
}

@media all and (max-width: 1279px) {
  .head {
    font-size: 20px;
    letter-spacing: -0.1px;
  }
}

@media all and (max-width: 959px) {
  .box {
    padding-top: 30px;
  }
}

@media all and (max-width: 599px) {
  :host {
    padding-top: 150px;
  }
  .box {
    padding: 20px 15px 0;
  }
  .inp {
    margin: 0 auto 26px;

    input {
      padding: 0 20px;
    }

    svg {
      display: none;
    }
  }
  .list_item {
    margin-bottom: 18px;
    flex: 1 0 auto;
  }
  .img {
    display: none;
  }
  .content {
    .content_title {
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.08px;
    }

    .content_date {
      font-size: 14px;
      letter-spacing: 0.14px;
    }
  }
  .redirect {
    margin: 16px auto 25px;
  }
}
