//.preloader-box {
//  position: fixed;
//  z-index: 9999;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  //background-color: rgba(28, 29, 31, .1);
//  background-color: rgba(255, 255, 255, 0);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  transition: background-color .2s ease-in-out;
//  pointer-events: none;
//
//  &.__show {
//    background-color: rgba(255, 255, 255, 1);
//
//    transition: none;
//  }
//
//  //display: none;
//}
