.box {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.news_top {
  font-family: "GothamPro-Black";
  font-size: 40px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.news_list {
  display: flex;
  flex-direction: column;
  //max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

.news_list-item {
  overflow: hidden;
  position: relative;
  line-height: 0;
  padding: 40px 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  transition: opacity .3s ease-in-out;
  height: 470px;
  width: 100%;
  margin-bottom: 50px;
  
  &:hover {
    .icon {
      opacity: 1;
    }
    
    &:after {
      opacity: .9;
    }
    
  }
  
  &:after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(180deg);
    background : linear-gradient(0deg, rgba(28, 29, 31, 1) 0%, rgba(28, 29, 31, 0.15) 100%);
    transition: opacity .25s ease-in-out;
  }
  
  .icon {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 4;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    svg {
      width: 33px;
      height: 29px;
      fill: #fff;
      animation: jump .4s linear infinite;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(.5, 0, .9, .7);
    }
    
    span {
      font-family: "GothamPro-Bold";
      font-size : 25px;
      letter-spacing : -0.12px;
      color : #FFFFFF;
      margin-right: 16px;
    }
  }
  
  img {
    display: block;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    max-height: 100%;
    z-index: 1;
  }
  
  .head {
    font-family: "GothamPro-Black";
    color: #ffffff;
    z-index: 3;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: -0.28px;
  }
}
@keyframes jump {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(20px);
  }
}
@media all and (max-width: 1279px) {
  .box {
    max-width: none;
    padding: 0 65px;
  }
  .news_top {
    font-size: 35px;
    letter-spacing: -0.17px;
  }
  
  .news_list {
    max-width: 830px;
  }
  
  .news_list-item {
    padding: 30px 30px 25px;
    height: 336px;
  
    .head {
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.2px;
    }
  }
}

@media all and (max-width: 959px) {
  .box {
    padding: 0;
  }
  .news_top {
    font-size: 30px;
    letter-spacing: -0.15px;
    margin-bottom: 35px;
  }
  
  .news_list {
    //max-width: 830px;
    padding: 0 12px;
  }

  //.news_list {
  //  max-width: 540px;
  //}
  .news_list-item {
    height: 575px;
  
    .head {
      font-size: 45px;
      line-height: 54px;
      letter-spacing: -0.22px;
    }
  }

}
//
@media all and (max-width: 599px) {
  .box {
    //padding: 0 20px;
  }
  .news_top {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
  }
  
  .news_list {
    //max-width: 830px;
    //padding: 0;
  }
  
  .news_list-item {
    margin-bottom: 40px;
    padding: 20px 20px 15px;
    height: 320px;
  
    .head {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.12px;
    }
  }
}
