<div class="box" [immediateCheck]="true" infiniteScroll [fromRoot]="true" (scrolled)="changePage()">
  <div class="news_top">#{{'special-projects.title' | translate}}</div>
  <div class="news_list">
    <a (click)="getArticleUrl(article, $event)" [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" class="news_list-item" *ngFor="let article of data">
      <img [lazyLoad]="article.cover_md" [defaultImage]="article.cover_preload" alt="">
      <span class="head" [style.color]="article.color">{{article.title}}</span>

      <div class="icon">
        <span>{{'special-projects.to-read' | translate}}</span>
        <svg class="svg-cursor-1">
          <use xlink:href="/assets/img/sprite.svg?v=1#cursor-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </a>
  </div>
</div>
