@mixin font-face($path, $name) {
  font-family: $name;
  src: url("/assets/fonts/" + $name + "/" + $name + ".eot");
  src: url("/assets/fonts/" + $name + "/" + $name + ".eot?#iefix") format('embedded-opentype'),
    //url("/assets/fonts/" + $path + "/" + $path + ".woff2") format('woff2'),
  url("/assets/fonts/" + $name + "/" + $name + ".woff") format('woff'),
  url("/assets/fonts/" + $name + "/" + $name + ".ttf") format('truetype');
  //url("/assets/fonts/" + $path + "/" + $path + ".svg#") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face("gothampro", "GothamPro");
}

@font-face {
  @include font-face("gothampro-bold", "GothamPro-Bold");
}

@font-face {
  @include font-face("gothampro-black", "GothamPro-Black");
}

@font-face {
  @include font-face("gothampro-medium", "GothamPro-Medium");
}

@font-face {
  @include font-face("gothampro-mediumitalic", "GothamPro-MediumItalic");
}

@font-face {
  @include font-face("gothampro-italic", "GothamPro-Italic");
}

b {
  font-family: 'GothamPro-Bold';
}

//@font-face { @include font-face("SFProDisplay-Heavy"); }
//@font-face { @include font-face("SFProDisplay-Regular"); }

//%dR {
//	font-family: 'SFProDisplay-Regular';
//	font-weight: normal;
//	font-style: normal;
//}
//
//%dH {
//	font-family: 'SFProDisplay-Heavy';
//	font-weight: 900;
//	font-style: normal;
//}
//
//%dB {
//	font-family: 'SFProDisplay-Bold';
//	font-weight: bold;
//	font-style: normal;
//}

