.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-ads360 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-arr {
	font-size:(52.12/10)*1rem;
	width:(28.18/52.12)*1em;
}
.icon-arr_long {
	font-size:(16.36/10)*1rem;
	width:(30/16.36)*1em;
}
.icon-comment {
	font-size:(17/10)*1rem;
	width:(21.6/17)*1em;
}
.icon-cursor {
	font-size:(31.1/10)*1rem;
	width:(27.6/31.1)*1em;
}
.icon-cursor-1 {
	font-size:(29.32/10)*1rem;
	width:(33.44/29.32)*1em;
}
.icon-download {
	font-size:(26.71/10)*1rem;
	width:(21.81/26.71)*1em;
}
.icon-edit {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-email {
	font-size:(19/10)*1rem;
	width:(26.55/19)*1em;
}
.icon-fb {
	font-size:(23/10)*1rem;
	width:(11.96/23)*1em;
}
.icon-full_screen {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-glasses {
	font-size:(13.69/10)*1rem;
	width:(37.98/13.69)*1em;
}
.icon-google {
	font-size:(25/10)*1rem;
	width:(24.43/25)*1em;
}
.icon-google_plus {
	font-size:(17/10)*1rem;
	width:(26.72/17)*1em;
}
.icon-header_covid {
	font-size:(83.2/10)*1rem;
	width:(1920/83.2)*1em;
}
.icon-inst {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-link {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-logo {
	font-size:(45/10)*1rem;
	width:(181.4/45)*1em;
}
.icon-logo_footer {
	font-size:(30/10)*1rem;
	width:(122.05/30)*1em;
}
.icon-logo_small {
	font-size:(30/10)*1rem;
	width:(48.96/30)*1em;
}
.icon-logout {
	font-size:(25/10)*1rem;
	width:(20.17/25)*1em;
}
.icon-magnif {
	font-size:(14.9/10)*1rem;
	width:(14.9/14.9)*1em;
}
.icon-paint {
	font-size:(27.54/10)*1rem;
	width:(30/27.54)*1em;
}
.icon-phone {
	font-size:(20.01/10)*1rem;
	width:(20/20.01)*1em;
}
.icon-quote {
	font-size:(31.12/10)*1rem;
	width:(41.61/31.12)*1em;
}
.icon-rss {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-sdcd {
	font-size:(22/10)*1rem;
	width:(50.66/22)*1em;
}
.icon-send {
	font-size:(17/10)*1rem;
	width:(20/17)*1em;
}
.icon-share {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-share2 {
	font-size:(20/10)*1rem;
	width:(25.71/20)*1em;
}
.icon-small_screen {
	font-size:(23/10)*1rem;
	width:(23/23)*1em;
}
.icon-submit {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-telegram {
	font-size:(19.32/10)*1rem;
	width:(23.03/19.32)*1em;
}
.icon-tooltip {
	font-size:(8.53/10)*1rem;
	width:(5.89/8.53)*1em;
}
.icon-twitter {
	font-size:(19.32/10)*1rem;
	width:(23.98/19.32)*1em;
}
.icon-user {
	font-size:(25/10)*1rem;
	width:(23.08/25)*1em;
}
.icon-viber {
	font-size:(25/10)*1rem;
	width:(23.71/25)*1em;
}
.icon-ytb {
	font-size:(22/10)*1rem;
	width:(31.43/22)*1em;
}
