<div class="box">
  <div class="top">
    <div class="langs">
      <div class="langs_item" [class.__active]="lang" (click)="changeLang('uk')">укр</div>
      <div class="langs_item" [class.__active]="!lang" (click)="changeLang('ru')">рус</div>
    </div>
    <div class="top_social">
      <a href="https://www.facebook.com/iod.media" target="_blank" class="top_social-item">
        <svg class="svg-fb">
          <use xlink:href="/assets/img/sprite.svg#fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="https://twitter.com/IOD_MEDIA" target="_blank" class="top_social-item">
        <svg class="svg-twitter">
          <use xlink:href="/assets/img/sprite.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/iod.media/" target="_blank" class="top_social-item">
        <svg class="svg-inst">
          <use xlink:href="/assets/img/sprite.svg#inst" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="https://www.youtube.com/channel/UCFA6qyo6YLbqBT173pan6iw" target="_blank" class="top_social-item">
        <svg class="svg-ytb">
          <use xlink:href="/assets/img/sprite.svg#ytb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="https://t.me/iod_media" target="_blank" class="top_social-item">
        <svg class="svg-telegram">
          <use xlink:href="/assets/img/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="https://soundcloud.com/iodmedia" target="_blank" class="top_social-item">
        <svg class="svg-sdcd">
          <use xlink:href="/assets/img/sprite.svg#sdcd" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>

<!--      <a href="https://rss.iod.media/all.xml" target="_blank" class="top_social-item">-->
<!--        <svg class="svg-rss">-->
<!--          <use xlink:href="/assets/img/sprite.svg#rss" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--      </a>-->
<!--      <a href="javascript:void(0);" class="top_social-item" #liveEl>-->

<!--      </a>-->
    </div>
  </div>
  <div class="tags">
    <a *ngFor="let tag of tags" [routerLink]="tag | tagLink" class="tags_item">#{{tag.name}}
    </a>
  </div>
  <div class="menu">
    <a routerLink="/tags" class="menu_item">{{'menuModal.link-1' | translate}}</a>
    <a routerLink="/spetsproekty" class="menu_item">{{'special-projects.title' | translate}}</a>
    <a routerLink="/about" class="menu_item">{{'menuModal.link-2' | translate}}</a>
    <a routerLink="/ads" class="menu_item">{{'menuModal.link-3' | translate}}</a>
  </div>
  <div class="bottom">
    <span class="copy">{{'footer.copy' | translate}}</span>
    <a [routerLink]="'/' | langLink" class="link_logo">
      <svg class="svg-logo_footer">
        <use xlink:href="/assets/img/sprite.svg#logo_footer" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="https://wander.black" target="_blank" class="agency">{{'footer.makeBy' | translate}}</a>
  </div>
  <div class="cookies">
    <span [innerHtml]="'footer.cookies-1' | translate : {link: 'https://en.wikipedia.org/wiki/HTTP_cookie'}"></span>
    <span [innerHtml]="'footer.cookies-2' | translate : {email: 'office@iod.media'}"></span>
  </div>
</div>

