:host {
  background-color: #1C1D1F;
}

.box {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 44px 60px;
}

.cookies {
  font-family: 'GothamPro';
  font-size: 13px;
  line-height: 20.8px;
  letter-spacing: -0.06px;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 35px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;

  &::ng-deep {

    a {
      text-decoration: underline;
      &:hover {
        color: #FFFFFF !important;
        opacity: 1 !important;
      }
    }
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  margin-bottom: 36px;
}

.bigmir {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.langs {
  display: flex;
  align-items: center;

  .langs_item {
    font-family: 'GothamPro';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.08px;
    color: rgba(255, 255, 255, .85);
    padding: 4px;
    margin: 0 9px;
    cursor: pointer;
    transition: color .15s ease-in-out;

    &.__active {
      pointer-events: none;
      font-family: 'GothamPro-Bold';
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.top_link {
  margin: 0 26px;
  font-family: 'GothamPro';
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .85);
  transition: color .15s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.top_social {
  display: flex;
  align-items: center;

  .top_social-item {
    display: flex;
    align-items: center;
    margin: 0 13px;
    padding: 8px;
    cursor: pointer;
    line-height: 0;

    a {
      line-height: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }

  svg {
    fill: rgba(255, 255, 255, .85);
    transition: fill .15s ease-in-out;
  }

  .svg-fb {
    width: 12px;
    height: 23px;
  }

  .svg-twitter {
    width: 24px;
    height: 20px;
  }

  .svg-google_plus {
    width: 27px;
    height: 17px;
  }

  .svg-telegram {
    width: 23px;
    height: 20px;
  }

  .svg-sdcd {
    width: 50.7px;
    height: 22px;
  }

  .svg-inst {
    width: 22px;
    height: 22px;
  }

  .svg-ytb {
    width: 31px;
    height: 22px;
  }

  .svg-rss {
    width: 22px;
    height: 22px;
  }
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;

  .tags_item {
    display: inline-block;
    margin: 0 18px;
    padding: 4px;
    font-family: 'GothamPro';
    font-size: 16px;
    color: rgba(255, 255, 255, .85);
    transition: color .15s ease-in-out;
    margin-bottom: 12px;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  .menu_item {
    display: inline-block;
    margin: 0 18px;
    padding: 4px;
    font-family: 'GothamPro';
    font-size: 16px;
    color: rgba(255, 255, 255, .85);
    transition: color .15s ease-in-out;
    margin-bottom: 12px;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  .copy, .agency {
    font-family: 'GothamPro';
    font-size: 13px;
    line-height: 30px;
    letter-spacing: -0.06px;
    color: rgba(255, 255, 255, .5);
    transition: color .15s ease-in-out;
  }

  .link_logo {
    display: inline-block;
    margin: 0 50px;

    &:hover {
      svg {
        fill: rgba(255, 255, 255, .85);
      }
    }

    svg {
      width: 124px;
      height: 30px;
      fill: rgba(255, 255, 255, .5);
      transition: fill .15s ease-in-out;
    }
  }
}

@media all and (max-width: 959px) {
  .box {
    padding: 38px 60px;
  }
  .top {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .langs {
    margin-bottom: 10px;

    .langs_item {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.1px;
      color: rgba(255, 255, 255, 1);
    }
  }
  .top_link {
    margin: 0 0 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
  }
  .top_social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:after {
      display: block;
      content: '';
      width: 100%;
      order: 2;
      height: 0;
      opacity: 0;
    }

    .top_social-item {
      margin: 0 7px;
      padding: 12px;

      &:last-of-type {
        margin: 0 7px;
      }

      &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7) {
        order: 3;
        margin-top: 15px;
      }
    }

    svg {
      fill: rgba(255, 255, 255, 1);
    }

    .svg-fb {
      width: 15px;
      height: 29px;
    }

    .svg-twitter {
      width: 30px;
      height: 25px;
    }

    .svg-google_plus {
      width: 34px;
      height: 22px;
    }

    .svg-telegram {
      width: 29px;
      height: 25px;
    }

    .svg-inst {
      width: 26px;
      height: 26px;
    }

    .svg-ytb {
      width: 33px;
      height: 23px;
    }
  }
  .tags {
    display: none;
  }
  .menu {
    flex-direction: column;
    margin-bottom: 20px;

    .menu_item {
      margin: 0 0 10px;
      font-size: 20px;
      color: rgba(255, 255, 255, 1);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .bottom {
    flex-direction: column;

    .copy, .agency {
      font-size: 15px;
      line-height: 30px;
      letter-spacing: -0.07px;
    }

    .link_logo {
      margin: 12px 0 30px;

      svg {
        fill: rgba(255, 255, 255, .85);
      }
    }
  }
}

@media all and (max-width: 599px) {
  .box {
    padding: 38px 10px;
  }
  .top {
    margin-bottom: 25px;
  }
  .langs {
    margin-bottom: 20px;

    .langs_item {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.12px;
    }
  }
  .top_link {
    margin: 0 0 25px;
  }
  .top_social {
    flex-wrap: wrap;
    justify-content: center;

    &:after {
      display: block;
      content: '';
      width: 100%;
      order: 2;
      height: 0;
      opacity: 0;
    }

    .top_social-item {
      padding: 10px;

      &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7) {
        order: 3;
        margin-top: 15px;
      }
    }

    .svg-fb {
      width: 13px;
      height: 25px;
    }

    .svg-twitter {
      width: 26px;
      height: 21px;
    }

    .svg-google_plus {
      width: 29px;
      height: 19px;
    }

    .svg-telegram {
      width: 26px;
      height: 21px;
    }
  }
  .menu {
    .menu_item {
      padding: 10px;
      text-align: center;
      white-space: normal;
    }
  }
  .bottom {
    .copy, .agency {
      text-align: center;
    }
  }
}
