:host {
  background-color: #fff;
  z-index: 10000;

  &.__isMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .menu_btn-wrap {
      .menu_btn {
        &:before {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          width: 36px;
        }

        &:after {
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
          width: 36px;
        }
      }
    }
  }
}

.covid_img {
  margin-top: 35px;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 84px;
  img {
    width: auto;
    display: block;
    height: 100%;
    min-width: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 0;
    //fill: #ed1c24
  }
}

.box {
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.left, .right {
  display: flex;
  align-items: center;
  height: 100%;
}

.left {
  .tags_item {
    margin-right: 48px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.right {
  padding-right: 35px;

  .tags_item {
    margin-left: 48px;

    &:first-of-type {
      margin-right: 0;
    }
  }
}

.menu_btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 100%;

  .menu_btn {
    width: 50px;
    height: 36px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: transform .15s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:before, &:after {
      display: block;
      content: '';
      height: 3px;
      background-color: #28302C;
      position: absolute;
      right: 0;
    }

    &:before {
      width: 40px;
      margin-bottom: 10px;
      top: 10px;
    }

    &:after {
      display: block;
      content: '';
      height: 3px;
      background-color: #28302C;
      width: 24px;
      bottom: 10px;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
}

.tags_item {
  display: inline-block;
  font-family: 'GothamPro-Bold';
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.09px;
  color: #1C1D1F;
  padding: 5px;
  transition: transform .15s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.specprojects {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 16px;

  font-family: 'GothamPro-Bold';
  font-size: 18px;
  letter-spacing: -0.09px;
  color: #FC10A2;
  border: 2px solid #FC10A2;
  margin-left: 40px;
  transition: transform .15s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  line-height: 0;

  &:hover {
    svg {
      transform: scale(1.03);
    }
  }

  .svg-logo {
    width: 182px;
    height: 45px;
    fill: #1C1D1F;
    transition: transform .15s ease-in-out;
  }

  .svg-logo_small {
    width: 49px;
    height: 30px;
    display: none;
    fill: #1C1D1F;
  }
}

.langs {
  display: flex;
  align-items: center;
  margin-left: 36px;

  .langs_item {
    padding: 8px;
    font-family: 'GothamPro';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.09px;
    color: #1C1D1F;
    cursor: pointer;
    transition: transform .15s ease-in-out;

    &.__active {
      font-family: 'GothamPro-Bold';
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: transform .15s ease-in-out;
  margin-left: 35px;
  position: relative;

  &.__active {
    &:before, &:after {
      display: block;
    }

    .svg-glasses {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &:before, &:after {
    content: '';
    height: 3px;
    width: 36px;
    background-color: #28302C;
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    transform: scale(1.05);
  }

  .svg-glasses {
    width: 38px;
    height: 14px;
  }
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: transform .15s ease-in-out;
  margin-left: 35px;
  position: relative;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &.__active {
    &:before, &:after {
      display: block;
    }

    .svg-user {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &:before, &:after {
    content: '';
    height: 3px;
    width: 36px;
    background-color: #28302C;
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    transform: scale(1.05);
  }

  .svg-user {
    width: 23px;
    height: 25px;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 10px;
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  .covid_img {
    height: 55px;
    position: relative;

    img {
      max-width: none;
      width: auto;
      height: inherit;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .left {
    padding-left: 15px;
  }
  .right {
    padding-right: 15px;
  }
  .menu_btn-wrap {
    width: 80px;
  }
  .tags {
    display: none;
  }
  .langs {
    margin-left: 30px;

    .langs_item {
      padding: 10px;
    }
  }
  .glasses {
    margin-left: 30px;
  }
  .auth {
    margin-left: 30px;
  }
  .user {
    margin-left: 30px;
  }
}

@media all and (max-width: 959px) {
  .left {
    padding-left: 12px;
  }
  .right {
    padding-right: 12px;
  }
  .menu_btn-wrap {
    width: 75px;

    .menu_btn {
      &:hover {
        transform: scale(1);
      }
    }
  }
  .logo {
    &:hover {
      svg {
        transform: scale(1);
      }
    }
  }
  .langs {
    display: none;

    .langs_item {
      &:hover {
        transform: scale(1);
      }
    }
  }
  .glasses {
    margin-left: 24px;

    &:hover {
      transform: scale(1);
    }
  }
  .auth {
    margin-left: 24px;
  }
  .user {
    margin-left: 24px;
  }
}

@media all and (max-width: 599px) {
  .covid_img {
    height: 40px;
    margin-top: 25px;
    //position: relative;
    //img {
    //  max-width: available;
    //  width: auto;
    //  height: inherit;
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  left: 50%;
    //  transform: translateX(-50%);
    //}
  }
  .box {
    height: 70px;
  }
  .left {
    padding-left: 10px;
  }
  .right {
    padding-right: 10px;
  }
  .menu_btn-wrap {
    width: auto;

    .menu_btn {
      &:before {
        width: 33px;
      }

      &:after {
        width: 18px;
      }
    }
  }
  .logo {
    .svg-logo {
      display: none;
    }

    .svg-logo_small {
      display: block;
    }
  }
  .glasses {
    margin-left: 14px;

    &:hover {
      transform: scale(1);
    }

    .svg-glasses {
      width: 30px;
      height: 11px;
    }
  }
  .auth {
    margin-left: 14px;

    &:hover {
      transform: scale(1);
    }

    .svg-user {
      width: 18px;
      height: 20px;
    }
  }
  .user {
    margin-left: 14px;
  }
}
