<div class="covid_img">
  <img src="/assets/img/header_covid.png" alt=""/>
  <!--  <svg class="svg-header_covid">-->
  <!--    <use xlink:href="/assets/img/sprite.svg#header_covid" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--  </svg>-->

</div>
<div class="box">
  <div class="left">
    <div class="menu_btn-wrap">
      <div class="menu_btn" (click)="menuToggle()"></div>
    </div>
    <div class="tags">
      <a *ngIf="tags.length" [routerLink]="tags[0] | tagLink" class="tags_item">#{{tags[0].name}}</a>
      <a *ngIf="tags.length" [routerLink]="tags[1] | tagLink" class="tags_item">#{{tags[1].name}}</a>
    </div>
  </div>
  <a [routerLink]="'/' | langLink" (click)="closeAll()" class="logo">
    <svg class="svg-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.4 45">
      <defs>
        <style>.cls-2 {
          fill: #ff6600;
        }</style>
      </defs>
      <g id="Layer_2" data-name="Layer 2">
        <g id="black">
          <path class="cls-1" d="M127.23,19.76a4.07,4.07,0,0,0-1.54-1.48,5.53,5.53,0,0,0-2.76-.58l-.91,0h0V31.52h0l.53,0h.37a5.79,5.79,0,0,0,2.75-.55,3.9,3.9,0,0,0,1.54-1.44,6.4,6.4,0,0,0,.79-2.24,16.53,16.53,0,0,0,.23-2.85,16.11,16.11,0,0,0-.2-2.58A6,6,0,0,0,127.23,19.76Z"/>
          <polygon class="cls-1" points="159.48 25.98 162.82 25.98 161.16 20.57 159.48 25.98"/>
          <path class="cls-1" d="M54.47,22.86c-.18,1.64-.38,3.12-.6,4.39s-.46,2.39-.7,3.32c-.09.37-.18.72-.27,1h4.92V18.22h-3C54.73,19.91,54.62,21.47,54.47,22.86Z"/>
          <path class="cls-1"
                d="M0,4.66V45H181.4V4.66ZM24.4,35.6H20.23V23L13.15,35.6H9.48V14.24h4.17V27l7.08-12.75H24.4Zm11.43,0a9,9,0,0,1-2.57-17.52v-2.7H33c-.33,0-.6-.19-.6-.43V14.6c0-.24.27-.43.6-.43h6.3c.33,0,.6.19.6.43v.32c0,.24-.27.43-.6.43H39.1v2.89a9,9,0,0,1-3.27,17.33ZM64,39.51H60.21V35.6H50.33v3.91H46.51v-7.9h2.08l.29-.82a26.87,26.87,0,0,0,.77-3.09c.28-1.36.53-3.08.76-5.14a67.14,67.14,0,0,0,.35-7.35v-1H62V31.61h2Zm10.08-3.92H70v-4.1h4.09Zm22-.3H91.91V22.75L89.5,26.89H87.73l-2.45-4V35.29H81.16V13.94h3.59l4,6.51,3.82-6.51h3.54Zm17.85,0H100.74V13.94h13.05v4h-8.88v4.43h8.2v4h-8.2v5h9Zm18.12-6.81a9.84,9.84,0,0,1-1.56,3.57,8.37,8.37,0,0,1-3,2.55,10.54,10.54,0,0,1-4.66.94h-.94c-.41,0-.81,0-1.21-.06l-1.11-.07a6.15,6.15,0,0,1-1-.1l-.77-.16V14.06l.83-.11c.72-.1,1.47-.16,2.24-.19s1.41,0,1.94,0a11.41,11.41,0,0,1,4.51.8,7.71,7.71,0,0,1,3.05,2.3A9.16,9.16,0,0,1,132,20.28a17.3,17.3,0,0,1,.48,4.2A18.71,18.71,0,0,1,132.05,28.48Zm17.59-10.56h-5.38V31.31h5.38v4H134.72v-4h5.36V17.92h-5.36v-4h14.92Zm16.19,17.37L164,29.91h-5.86l-1.72,5.38h-4.28l7-21.35h4.05l7,21.35Z"/>
          <rect class="cls-2" x="33.97" width="4.1" height="9.64"/>
          <path class="cls-2" d="M36,21.31a5.3,5.3,0,1,0,5.25,5.25A5.29,5.29,0,0,0,36,21.31Z"/>
        </g>
      </g>
    </svg>
    <svg class="svg-logo_small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.96 30">
      <defs>
        <style>.cls-2 {
          fill: #f60;
        }</style>
      </defs>
      <title>Asset 4</title>
      <g id="Layer_2" data-name="Layer 2">
        <g id="black">
          <path class="cls-1" d="M36.32,15.24c-.12,1.1-.26,2.08-.41,2.93s-.3,1.59-.46,2.21c-.07.25-.13.48-.18.7h3.28V12.15h-2Q36.47,13.85,36.32,15.24Z"/>
          <path class="cls-1" d="M0,3.11V30H49V3.11ZM16.27,23.73H13.48V15.32L8.76,23.73H6.32V9.49H9.1V18l4.72-8.51h2.45Zm7.62,0A6,6,0,0,1,22.18,12v-1.8H22c-.22,0-.4-.12-.4-.28V9.73c0-.16.18-.28.4-.28h4.2c.22,0,.4.12.4.28V10c0,.16-.18.28-.4.28h-.11v1.93a6,6,0,0,1-2.18,11.55Zm18.8,2.63H40.14V23.73H33.55v2.61H31V21.08H32.4l.18-.55a16.29,16.29,0,0,0,.52-2.06c.19-.91.36-2.06.51-3.43a45.66,45.66,0,0,0,.23-4.9V9.49h7.49V21.08h1.36Z"/>
          <path class="cls-2" d="M24,14.21a3.53,3.53,0,1,0,3.5,3.5A3.52,3.52,0,0,0,24,14.21Z"/>
          <rect class="cls-2" x="22.65" width="2.73" height="6.43"/>
        </g>
      </g>
    </svg>
  </a>
  <div class="right">
<!--    <div class="tags" *ngIf="checkLangCookie">-->
<!--      <a *ngIf="tags.length" [routerLink]="tags[2] | tagLink" class="tags_item">#{{tags[2].name}}</a>-->
<!--      &lt;!&ndash;      <a  *ngIf="tags.length" [routerLink]="tags[3] | tagLink"  class="tags_item">#{{tags[3].name}}</a>&ndash;&gt;-->
<!--    </div>-->
    <div class="tags">
      <a href="" routerLink="/spetsproekty" class="specprojects">{{'special-projects.title' | translate}}</a>
    </div>

    <div class="langs">
<!--    <div class="langs" *ngIf="!checkLangCookie">-->
      <div class="langs_item" [class.__active]="lang" (click)="changeLang('uk')">укр</div>
      <div class="langs_item" [class.__active]="!lang" (click)="changeLang('ru')">рус</div>
    </div>
    <div class="glasses" (click)="searchToggle()" [class.__active]="searchIsOpen">
      <svg class="svg-glasses">
        <use xlink:href="/assets/img/sprite.svg#glasses" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="auth" *ngIf="!isLogin" (click)="authToggle()" [class.__active]="authIsOpen">
      <svg class="svg-user">
        <use xlink:href="/assets/img/sprite.svg#user" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <a href="" class="user" routerLink="/account" (click)="closeAll()" *ngIf="isLogin">
      <img [src]="user.avatar ? user.avatar : '/assets/img/default_user.png'" alt="">
    </a>
  </div>
</div>
