:host {
  display: flex;
  align-items: center;
  margin: 0 auto;
  align-self: center;
  cursor: pointer;
}

span {
  display: inline-block;
  font-family: 'GothamPro-Bold';
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.12px;
  color: #1C1D1F;
  
  &.text_left {
    margin-right: 15px;
  }
  
  &.text_right {
    margin-left: 15px;
  }
}

svg {
  width: 30px;
  height: 30px;
  fill: #1C1D1F;
}

@media all and (max-width: 1279px) {
  span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}

@media all and (max-width: 959px) {
  span {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.1px;
    
    &.text_left {
      margin-right: 20px;
    }
    
    &.text_right {
      margin-left: 20px;
    }
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

@media all and (max-width: 599px) {
  span {
    font-size: 20px;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}
