<span class="text_left">{{textLeft}}</span>
<svg class="svg-cursor">
  <use xlink:href="/assets/img/sprite.svg#cursor" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
</svg>
<span  class="text_right" *ngIf="textRight">{{textRight}}</span>
