:host {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 50vh;
  align-items: center;
}

.title {
  font-family: 'GothamPro-Black';
  font-size: 45px;
  letter-spacing: -0.22px;
  text-transform: uppercase;
  color: #1C1D1F;
  margin-bottom: 20px;
}

.code {
  font-family: 'GothamPro-Black';
  font-size: 200px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #999999;
}

@media all and (max-width: 1279px) {
  .title {
    font-size: 35px;
    letter-spacing: -0.17px;
  }
  .code {
    font-size: 150px;
    letter-spacing: -0.75px;
  }
}

@media all and (max-width: 959px) {
  .title {
    font-size: 30px;
    letter-spacing: -0.15px;
  }
  .code {
    font-size: 100px;
    letter-spacing: -0.5px;
  }
}

@media all and (max-width: 599px) {
  .title {
    font-size: 20px;
    letter-spacing: -0.1px;
  }
  .code {
    font-size: 60px;
    letter-spacing: -0.3px;
  }
}
