.box {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.news_top {
  font-family: "GothamPro-Black";
  font-size: 40px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #1C1D1F;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.news_list {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

.news_list-item {
  display: flex;
  margin-bottom: 60px;
  
  .news_cover {
    max-width: 200px;
    width: 100%;
    margin-right: 40px;
    line-height: 0;
    
    img {
      width: 100%;
    }
  }
  
  .news_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  
  .news_data-head {
    font-family: "GothamPro-Black";
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #1C1D1F;
  }
  
  .news_data-discr {
    margin-top: 15px;
  }
  
  .news_discr-date {
    font-family: "GothamPro";
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #AFB0B3;
    margin-bottom: 10px;
  }
  
  .item_tags {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    flex-wrap: wrap;
  }
  
  .tag {
    font-family: "GothamPro";
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.17px;
    color: #28302C;
    margin-right: 12px;
    cursor: pointer;
    white-space: nowrap;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 1279px) {
  .box {
    max-width: none;
    padding: 0 65px;
  }
  .news_top {
    font-size: 35px;
    letter-spacing: -0.17px;
  }
  
  .news_list-item {
    margin-bottom: 50px;
    
    &:last-of-type {
      margin-bottom: 50px;
    }
    
    .news_cover {
      max-width: 240px;
      margin-right: 30px;
    }
    
    .news_data-head {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.1px;
    }
    
    .tag {
      font-size: 14px;
      letter-spacing: 0.14px;
    }
  }
}

@media all and (max-width: 959px) {
  .box {
    padding: 0 30px;
  }
  .news_top {
    font-size: 30px;
    letter-spacing: -0.15px;
    margin-bottom: 35px;
  }
  
  .news_list {
    max-width: 540px;
  }
  
  .news_list-item {
    margin-bottom: 40px;
    
    &:last-of-type {
      margin-bottom: 40px;
    }
    
    
    .news_data-head {
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.08px;
    }
    
    .news_discr-date {
      margin-bottom: 0;
    }
    
    .news_cover {
      max-width: 125px;
      margin-right: 20px;
    }
    
    .item_tags {
      display: none;
    }
  }
}

@media all and (max-width: 599px) {
  .box {
    padding: 0 20px;
  }
  .news_top {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
  }
  
  
  .news_list-item {
    //display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
    &:last-of-type {
      margin-bottom: 30px;
    }
    
    .news_cover {
      position: relative;
      max-width: none;
      margin-bottom: 14px;
      margin-right: 0;
      height: 160px;
      overflow: hidden;
      img {
        display: block;
        position: absolute;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        max-height: none;
        z-index: -2;
        
      }
    }
    
    .news_data {
      justify-content: flex-start;
    }
    
    .news_data-head {
      font-size : 17px;
      line-height : 22px;
      letter-spacing : -0.08px;
    }
    
    .news_data-discr {
      margin-top: 6px;
    }
  }
}
