<div class="box" [immediateCheck]="true" infiniteScroll [fromRoot]="true" (scrolled)="changePage()">
  <div class="news_top">#{{'news.title' | translate}}</div>
  <div class="news_list">
    <div class="news_list-item" *ngFor="let article of data">
      <a (click)="getArticleUrl(article, $event)" [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug  | langLink)" class="news_cover">
        <img [lazyLoad]="article.cover_xs" [defaultImage]="article.cover_preload" alt=""> </a>
      <div class="news_data">
        <a (click)="getArticleUrl(article, $event)" [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" class="news_data-head">{{article.title}}</a>
        <div class="news_data-discr">
          <div class="news_discr-date">{{date_s.convert(article.publish_time)}}</div>
          <div class="item_tags">
            <a class="tag" *ngFor="let tag of article.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
