<div class="box">
  <div class="row">
    <div class="row_content">
      <h1>{{'about.title' | translate}}</h1>
      <p>{{about.text}}</p>
    </div>
  </div>
  <div class="row __black">
    <div class="row_content">
      <div class="col">
        <div class="col_group">
          <div class="head">{{'about.ads-label' | translate}}</div>
          <div class="value"><a [href]="'tel:'+ about.ads_tel">{{about.ads_tel}}</a>
            <span class="separator">|</span>
            <a [href]="'mailto:'+ about.ads_email">{{about.ads_email}}</a></div>
        </div>
        <div class="col_group">
          <div class="head">{{'about.media-label' | translate}}</div>
          <a [href]="about.media_kit" target="_blank" [class.__disabled]="!about.media_kit" class="value btn">
            <span>{{'about.download' | translate}}</span>
            <svg class="svg-download">
              <use xlink:href="/assets/img/sprite.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="col_group">
          <div class="head">{{'about.work-label' | translate}}</div>
          <div class="value"><a [href]="'tel:'+ about.work_tel">{{about.work_tel}}</a>
            <span class="separator">|</span>
            <a [href]="'mailto:'+ about.work_email">{{about.work_email}}</a></div>
        </div>
        <div class="col_group">
          <div class="head">{{'about.author-label' | translate}}</div>
          <div class="value"><a [href]="'mailto:'+ about.hr_email">{{about.hr_email}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row_content">
      <h2>{{'about.title-2' | translate}}</h2>
      <div class="team_list">
        <div class="member" *ngFor="let member of team">
          <div class="member_photo">
            <img [src]="member.photo" alt="">
          </div>
          <div class="member_name">{{member.name}}</div>
          <div class="member_role">{{member.position}}</div>
          <a [href]="member.link" *ngIf="member.link">
            <span>{{'about.author_sheets' | translate}}</span>
            <svg class="svg-arr_long">
              <use xlink:href="/assets/img/sprite.svg#arr_long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </div>
        <div class="member __hidden"></div>
      </div>
    </div>
  </div>
</div>
