.box {
  max-width: 660px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.head {
  font-family: "GothamPro-Black";
  font-size: 45px;
  letter-spacing: -0.22px;
  text-transform: uppercase;
  color: #1C1D1F;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.row_title {
  font-family: "GothamPro-Black";
  font-size: 25px;
  letter-spacing: -0.12px;
  text-transform: uppercase;
  color: #1C1D1F;
  text-align: center;
  margin: 0 auto 32px;
}

.row {
  width: 100%;
  margin-bottom: 45px;
  
  &.__disabled {
    pointer-events: none;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.row_content {
  display: flex;
  
  .data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.avatar {
  position: relative;
  max-width: 160px;
  min-width: 160px;
  height: 160px;
  width: 100%;
  margin-right: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  
  &:hover {
    .download_icon {
      opacity: 1;
    }
  }
  
  .download_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 50%;
    background-color: rgba(28, 29, 31, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  
  .svg-download {
    width: 16.8px;
    height: 17px;
    fill: #fff;
  }
  
  img {
    width: 100%;
  }
  
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
  }
}

.inp {
  position: relative;
  
  .inp_label {
    font-family: "GothamPro";
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #919499;
    margin-bottom: 4px;
    padding-left: 6px;
  }
  
  input {
    height: 38px;
    background-color: transparent;
    border-bottom: 2px solid #28302C;
    padding: 0 6px;
    width: 100%;
    
    font-family: 'GothamPro';
    font-size: 17px;
    letter-spacing: -0.08px;
    color: #28302C;
  }
  
  .error {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    margin-top: 6px;
    
    font-family: "GothamPro";
    font-size: 13px;
    letter-spacing: -0.06px;
    color: #ED0E38;
  }
}


.submit {
  display: flex;
  align-items: center;
  margin: 30px 0 0 auto;
  
  &.__disabled {
    display: none;
  }
  
  span {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    letter-spacing: -0.09px;
    color: #28302C;
  }
  
  svg {
    width: 30px;
    height: 16.4px;
    fill: #28302C;
    margin-left: 16px;
    transform: rotate(180deg);
  }
}

.tabs_container {
  margin-bottom: 26px;
}

.label_big {
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  letter-spacing: -0.1px;
  color: #1C1D1F;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  align-items: center;
  
  .tab {
    min-width: 170px;
    height: 35px;
    border: 2px solid #1C1D1F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GothamPro';
    font-size: 18px;
    letter-spacing: -0.09px;
    color: #1C1D1F;
    
    &:first-of-type {
      border-right: none;
    }
    
    &:last-of-type {
      border-left: none;
    }
    
    
    &.__active {
      background-color: #1C1D1F;
      color: #FFFFFF;
    }
  }
}

.choosen {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  
  .choosen_item {
    display: flex;
    align-items: center;
    margin-right: 34px;
    margin-bottom: 14px;
    
    span {
      font-family: 'GothamPro-Medium';
      font-size: 17px;
      letter-spacing: 0.17px;
      color: #1C1D1F;
    }
    
    .choosen_delete {
      position: relative;
      width: 19px;
      height: 19px;
      margin-left: 8px;
      cursor: pointer;
      
      &:before, &:after {
        display: block;
        content: '';
        width: 24px;
        height: 2px;
        background-color: #1C1D1F;
        position: absolute;
        left: 50%;
        top: 50%;
      }
      
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}


.autocomplete_inp {
  margin-bottom: 46px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.autocomplete_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 10px;
  background-color: #fff;
  z-index: 10;
  
  .dropdown_list {
    position: relative;
    max-height: 258px;
  }
  
  .dropdown_item {
    font-family: 'GothamPro-Medium';
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #1C1D1F;
    padding: 12px;
    cursor: pointer;
  }
}

.logout {
  display: flex;
  align-items: center;
  margin: 30px auto 0;
  padding: 10px;
  
  span {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    letter-spacing: -0.09px;
    color: #1C1D1F;
  }
  
  svg {
    width: 20px;
    height: 25px;
    margin-left: 16px;
    fill: #1C1D1F;
  }
}

@media all and (max-width: 1279px) {
  .head {
    font-size: 35px;
    letter-spacing: -0.17px;
  }
  
  .autocomplete_inp {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 959px) {
  .box {
    padding: 0 30px;
  }
  
  .head {
    font-size: 30px;
    letter-spacing: -0.15px;
    margin-bottom: 26px;
  }
  
  .row_title {
    font-size: 20px;
    letter-spacing: -0.1px;
    margin: 0 auto 22px;
  }
  
  
  .submit {
    margin: 24px 0 0 auto;
  }
  
  .tabs_container {
    margin-bottom: 20px;
  }
  
  .autocomplete_inp {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 599px) {
  .box {
    padding: 0 20px;
  }
  
  .head {
    font-size: 20px;
    letter-spacing: -0.1px;
    margin-bottom: 20px;
  }
  
  .row_title {
    font-size: 17px;
    letter-spacing: -0.08px;
    margin: 0 auto 17px;
  }
  
  .row {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 28px;
  }
  
  .row_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .data {
      width: 100%;
    }
  }
  
  .avatar {
    margin-right: 0;
    margin-bottom: 18px;
  }
  
  .inp {
    width: 100%;
  }
  
  
  .submit {
    margin: 24px 0 0 auto;
  }
  
  .tabs_container {
    margin-bottom: 20px;
  }
  
  .label_big {
    font-size: 17px;
    letter-spacing: -0.08px;
  }
  
  .tabs {
    flex-direction: column;
    align-items: flex-start;
    
    .tab {
      &:first-of-type {
        border-right: 2px solid #1C1D1F;
        border-bottom: none;
      }
      
      &:last-of-type {
        border-left: 2px solid #1C1D1F;
        border-top: none;
      }
    }
  }
  
  
  .autocomplete_inp {
    margin-bottom: 20px;
  }
}


