<div class="box">
  <div class="head">{{'profile.title' | translate}}</div>
  <div class="row" [class.__disabled]="checkProvider !== 'email'">
    <div class="row_title">{{'profile.user-data-label' | translate}}</div>
    <div class="row_content">
      <div class="avatar">
        <input type="file" (change)="getPhoto($event)" title=""/>
        <div class="download_icon">
          <svg class="svg-download">
            <use xlink:href="/assets/img/sprite.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <img [src]="userTop.photo | img" alt="">
      </div>
      <div class="data">
        <div class="inp">
          <div class="inp_label">{{'profile.name-label' | translate}}</div>
          <input type="text" [(ngModel)]="userTop.name"/>
          <div class="error" *ngIf="topError">{{topError}}</div>
        </div>
        <button type="button"  [class.__disabled]="checkProvider !== 'email'" (click)="saveTop()" class="submit">
          <span>{{'profile.save' | translate}}</span>
          <svg class="svg-arr_long">
            <use xlink:href="/assets/img/sprite.svg#arr_long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row_title">{{'profile.subs-title' | translate}}</div>
    <div class="tabs_container">
      <div class="label_big">{{'profile.subs-tag-title' | translate}}</div>
      <div class="tabs">
        <button type="button" (click)="changeTab(tab)" class="tab __active" [class.__active]="tab.selected" *ngFor="let tab of tabs;">{{tab.text}}</button>
      </div>
    </div>
    <div class="autocomplete_inp" *ngIf="currentTab.type !== 0 && currentTab.type !== 2">
      <div class="inp" (clickOutside)="tagsDropdownList = []">
        <input type="text" (input)="tagsHandler($event)" (click)="tagsHandler($event)" [placeholder]="'profile.tag-placeholder' | translate" #tagEl/>
        <div class="autocomplete_dropdown" [hidden]="!tagsDropdownList.length">
          <div class="dropdown_list" [perfectScrollbar]="{wheelPropagation: false}">
            <div class="dropdown_item" (click)="tagAdd(tag, tagEl)" *ngFor="let tag of tagsDropdownList">#{{tag.name}}</div>
          </div>
        </div>
      </div>
      <div class="choosen">
        <div class="choosen_item" *ngFor="let tag of choosenTags">
          <span>#{{tag.name}}</span>
          <div class="choosen_delete" (click)="deleteChoosenItem(tag, choosenTags)"></div>
        </div>
      </div>
    </div>
    <div class="autocomplete_inp">
      <div class="label_big">{{'profile.subs-author-title' | translate}}</div>
      <div class="inp" (clickOutside)="authorsDropdownList = []">
        <input type="text" (input)="authorsHandler($event)" (click)="authorsHandler($event)" [placeholder]="'profile.author-placeholder' | translate" #authorsEl/>
        <div class="autocomplete_dropdown" [hidden]="!authorsDropdownList.length">
          <div class="dropdown_list" [perfectScrollbar]="{wheelPropagation: false}">
            <div class="dropdown_item" (click)="authorAdd(author, authorsEl)" *ngFor="let author of authorsDropdownList">{{author.name}}</div>
          </div>
        </div>
      </div>
      <div class="choosen">
        <div class="choosen_item" *ngFor="let author of choosenAuthors">
          <span>{{author.name}}</span>
          <div class="choosen_delete" (click)="deleteChoosenItem(author, choosenAuthors)"></div>
        </div>
      </div>
    </div>
    <button type="button" (click)="saveBottom()" class="submit">
      <span>{{'profile.save' | translate}}</span>
      <svg class="svg-arr_long">
        <use xlink:href="/assets/img/sprite.svg#arr_long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </button>
  </div>
  <button type="button" (click)="auth.logout();" class="logout">
    <span>{{'profile.logout' | translate}}</span>
    <svg class="svg-logout">
      <use xlink:href="/assets/img/sprite.svg#logout" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
</div>
