<app-preloader></app-preloader>
<div class="app">
  <app-header (menuCheck)="menuIsOpen = $event"
              (authCheck)="authIsOpen = $event"
              (searchCheck)="searchIsOpen = $event"
              [searchIsOpen]="searchIsOpen"
              [authIsOpen]="authIsOpen"
              [menuIsOpen]="menuIsOpen"
              [class.__isMenu]="menuIsOpen"></app-header>
  <app-top-banner></app-top-banner>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <app-menu [class.__show]="menuIsOpen" (hide)="menuIsOpen = false"></app-menu>
  <app-search-modal  [class.__show]="searchIsOpen" [isOpen]="searchIsOpen" (hide)="searchIsOpen = false"></app-search-modal>
  <app-login-modal [class.__show]="authIsOpen" (hide)="authIsOpen = false"></app-login-modal>
  <app-notif-modal [class.__show]="notifIsOpen" [txt]="notifTxt" (hide)="notifIsOpen = false"></app-notif-modal>
</div>
<app-btn-scroll-up *ngIf="platform.check()"></app-btn-scroll-up>

