.app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.appLogin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #1C1D1F;
  padding-top: 105px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out 0.1s, visibility .15s ease-in-out 0.1s;
  overflow: hidden;
  
  &.__show {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }
}

.outlet {
  padding-top: 10px;
  position: relative;
  flex: 1;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1279px) {
  .outlet {
    padding-top: 5px;
    padding-bottom: 40px;
  }
}

@media all and (max-width: 959px) {
  .outlet {
    padding-top: 0;
    padding-bottom: 45px;
  }
}

@media all and (max-width: 599px) {
  .outlet {
    padding-top: 5px;
    padding-bottom: 40px;
  }
}
