<div class="box">
  <div class="search_top">#{{'caricature.title' | translate}}</div>
  <div class="search_list">
    <a (click)="galleryHandler()" [routerLink]="('/caricature/' + item.slug) | langLink" class="search_list-item" *ngFor="let item of data">
      <div class="item_photo">
        <button class="magnif">
          <svg class="svg-magnif">
            <use xlink:href="/assets/img/sprite.svg#magnif" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </button>
        <img [lazyLoad]="item.img_md" [defaultImage]="item.cover_preload" alt=""/>
      </div>
      <div class="photo_caption">{{item.caption}}</div>
    </a>
    <div class="search_list-item __fake"></div>
    <div class="search_list-item __fake"></div>
    <div class="search_list-item __fake"></div>
  </div>

  <app-more-btn *ngIf="pagination.currentPage !== pagination.lastPage" (click)="changePage()" [textLeft]="'moreBtn.left-1' | translate" [textRight]="''"></app-more-btn>

</div>
