.box {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
  &:after {
    display: block;
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(243, 244, 245, 1) 0%, rgba(243, 244, 245, 0) 100%);
  }
}

.search_top {
  font-family: "GothamPro-Black";
  font-size: 40px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #1C1D1F;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.search_list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search_list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 42px;
  flex: 1 0 28%;
  max-width: 350px;
  min-width: 250px;
  
  &:hover {
    .magnif {
      opacity: 1;
      visibility: visible;
    }
  }
  
  &:nth-of-type(3n+ 2) {
    margin: 0 40px;
  }
  
  &.__fake {
    margin-bottom: 0 !important;
  }
}

.item_photo {
  position: relative;
  line-height: 0;
  margin-bottom: 15px;
  width: 100%;
  
  img {
    width: 100%;
  }
}

.magnif {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(28, 29, 31, .3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  
  svg {
    width: 14px;
    height: 14px;
    fill: #fff;
  }
}

.photo_caption {
  font-family: "GothamPro";
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.08px;
  color: #1C1D1F;
  text-align: right;
}

@media all and (max-width: 1279px) {
  .box {
    max-width: none;
    padding: 0 65px;
  }
  .search_top {
    font-size: 35px;
    letter-spacing: -0.17px;
  }
  .search_list {
    position: relative;
  }
  .search_list-item {
    margin-bottom: 38px;
    flex: 1 0 25%;
    max-width: 350px;
    min-width: 230px;
  }
}

@media all and (max-width: 959px) {
  .box {
    padding: 0 30px;
  }
  .search_top {
    font-size: 30px;
    letter-spacing: -0.15px;
    margin-bottom: 35px;
  }
  .search_list-item {
    margin-bottom: 42px;
    flex: 1 0 45%;
    max-width: 50%;
    min-width: 230px;
    
    &:nth-of-type(3n+ 2) {
      margin: 0;
    }
    
    &:nth-of-type(odd) {
      margin-right: 20px;
    }
  }
  .magnif {
    width: 35px;
    height: 35px;
    
    svg {
      width: 13px;
      height: 13px;
    }
  }
}

@media all and (max-width: 599px) {
  .box {
    padding: 0 20px;
  }
  .search_top {
    font-size: 20px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
  }
  .search_list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .search_list-item {
    flex: auto;
    max-width: none;
    min-width: auto;
    width: 100%;
    margin-bottom: 38px;
    
    &:nth-of-type(3n+ 2) {
      margin-bottom: 38px;
    }
    
    &:nth-of-type(odd) {
      margin-bottom: 38px;
    }
  }
  .item_photo {
    margin-bottom: 6px;
  }
  .magnif {
    opacity: 1;
    visibility: visible;
  }
}
