.container {
  padding: 0;
  max-width: 1160px;
}

a {
  display: block;
  width: 100%;
  line-height: 0;
  padding: 8px 0 30px;
  
  &.__disabled {
    pointer-events: none;
  }
  
  img {
    width: 100%;
    height: auto;
    max-height: 250px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    
    &.__width {
      width: auto;
      height: 100%;
    }
  }
}

@media (max-width: 1279px) {
  .container {
    max-width: 830px;
  }
  
}

@media (max-width: 959px) {
  .container {
    padding: 0 12px;
  }
  
  a {
    padding: 0 0 30px;
  }
}


@media (max-width: 599px) {
  
  .container {
    padding: 0 20px;
  }
  a {
    padding: 8px 0 30px;
  }
}
