<div class="box" [hidden]="hidden" *ngIf="banner">
  <div class="container">
    <a [href]="banner.url" [class.__disabled]="!banner.url" target="_blank" *ngIf="banner.img_md"> <img [src]="banner.img_md" (load)="check(img)" [class.__width]="checkImg" alt="" #img> </a>
  </div>
</div>
