<div class="box" #boxEl>
  <div class="content">
    <div class="cover">
      <img [defaultImage]="tag.cover_fb_preload" [lazyLoad]="tag.cover_fb"  alt="">
    </div>
    <div class="top">

      <h1>#{{tag.name}}</h1>
      <div class="share">
        <a href="javascript:void(0);" (click)="openWindow(share.fb)" class="share-item">
          <svg class="svg-fb">
            <use xlink:href="/assets/img/sprite.svg#fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a> <a [href]="share.tw" class="share-item">
        <svg class="svg-twitter">
          <use xlink:href="/assets/img/sprite.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a> <a href="javascript:void(0);" (click)="openWindow(share.tm)" class="share-item">
        <svg class="svg-telegram">
          <use xlink:href="/assets/img/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a> <a href="javascript:void(0);" (click)="openWindow(share.vb)" class="share-item">
        <svg class="svg-viber">
          <use xlink:href="/assets/img/sprite.svg#viber" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a> <a href="javascript:void(0);" (click)="_common.copyText(true)" class="share-item">
        <svg class="svg-link">
          <use xlink:href="/assets/img/sprite.svg#link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      </div>
    </div>
    <p class="subscr">{{tag.descr}}</p>
    <div class="tags_list">
      <div class="tags_list-item" *ngFor="let article of articles">
        <a (click)="getArticleUrl(article, $event)" [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug  | langLink)" class="search_list-item" class="tag_cover">
          <img [defaultImage]="article.cover_preload" [lazyLoad]="article.cover_xs" alt="">
        </a>
        <div class="tag_data">
          <a (click)="getArticleUrl(article, $event)" [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" class="tag_data-head">{{article.title}}</a>
          <div class="tag_data-discr">
            <div class="tag_discr-date">{{date_s.convert(article.publish_time)}}</div>
            <a [routerLink]="('/author/' + article.author.slug) | langLink" class="tag_discr-author">{{article.author.name}} {{article.author.sirname}}</a>
          </div>
        </div>
      </div>
    </div>
    <app-more-btn *ngIf="articles.length > pagination.total || pagination.currentPage !== pagination.lastPage" (click)="changePage()" [textLeft]="'moreBtn.left-1' | translate" [textRight]="''"></app-more-btn>
  </div>
  <div class="page_img" [class.__absolute]="imgIsAbs">
    <div class="img">
<!--      <img [src]="tag.cover_xl" alt="">-->
      <img [defaultImage]="tag.cover_preload" [lazyLoad]="tag.cover_xl"  alt="">
    </div>
  </div>
</div>
