.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
}

.content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-family: "GothamPro-Black";
  font-size: 45px;
  letter-spacing: -0.22px;
  color: #1C1D1F;
}

.cover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.share {
  display: flex;
  align-items: center;

  .share-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      svg {
        transform: scale(1.05);
      }
    }
  }

  svg {
    fill: #1C1D1F;
    transition: transform .15s ease-in-out;
  }

  .svg-fb {
    width: 10.4px;
    height: 20px;
  }

  .svg-twitter {
    width: 20px;
    height: 15.7px;
  }

  .svg-telegram {
    width: 20px;
    height: 16.8px;
  }

  .svg-viber {
    width: 19px;
    height: 20px;
  }

  .svg-link {
    width: 20px;
    height: 20px;
  }
}

.subscr {
  font-family: "GothamPro-Medium";
  font-size: 17px;
  line-height: 27.2px;
  color: #575C66;
  margin-bottom: 50px;
}

.tags_list {
  display: flex;
  flex-direction: column;
}

.tags_list-item {
  display: flex;
  margin-bottom: 60px;

  .tag_cover {
    max-width: 260px;
    width: 100%;
    margin-right: 40px;
    line-height: 0;
  }

  img {
    width: 100%;
  }

  .tag_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .tag_data-head {
    font-family: "GothamPro-Black";
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.12px;
    color: #1C1D1F;
  }

  .tag_data-discr {
    margin-top: 10px;
  }

  .tag_discr-date {
    font-family: "GothamPro";
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #AFB0B3;
    margin-bottom: 10px;
  }

  .tag_discr-author {
    font-family: "GothamPro-Medium";
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #1C1D1F;
  }
}

.page_img {
  width: 30%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  &.__absolute {
    position: absolute;
    top: auto;
    height: 100vh;
  }

  .img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      min-height: 100%;
      height: auto;
      max-width: none;
      min-width: 100%;
      width: auto;
    }
  }
}

@media all and (max-width: 1279px) {
  .box {
    max-width: none;
    padding: 0 65px;
  }
  .content {
    max-width: 600px;
  }
  h1 {
    font-size: 35px;
    letter-spacing: -0.17px;
    margin-bottom: 20px;
  }
  .top {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .subscr {
    margin-bottom: 40px;
  }
  .tags_list-item {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 50px;
    }

    .tag_cover {
      max-width: 240px;
      margin-right: 30px;
    }

    .tag_data-head {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.1px;
    }
  }
  .page_img {
    width: 27%;
  }
}

@media all and (max-width: 959px) {
  .box {
    max-width: none;
    padding: 0 30px;
  }
  .content {
    max-width: none;
  }
  h1 {
    font-size: 30px;
    line-height: 23.4px;
    letter-spacing: -0.15px;
    margin-bottom: 25px;
  }
  .cover {
    opacity: 1;
    visibility: visible;
    position: relative;
    pointer-events: auto;
    margin-bottom: 25px;
  }
  .top {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .share {
    .svg-fb {
      width: 13px;
      height: 25px;
    }

    .svg-twitter {
      width: 25px;
      height: 20px;
    }

    .svg-telegram {
      width: 25px;
      height: 21px;
    }

    .svg-viber {
      width: 23.7px;
      height: 25px;
    }

    .svg-link {
      width: 25px;
      height: 25px;
    }
  }
  .tags_list-item {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 50px;
    }

    .tag_cover {
      max-width: 260px;
      margin-right: 25px;
    }
  }
  .page_img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
  }
}

@media all and (max-width: 599px) {
  .box {
    max-width: none;
    padding: 0 20px;
  }
  .content {
    max-width: none;
  }
  h1 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-bottom: 20px;
  }
  .cover {
    line-height: 0;
    margin-bottom: 20px;
  }
  .top {
    margin-bottom: 20px;
  }
  .subscr {
    margin-bottom: 25px;
  }
  .tags_list-item {
    flex-direction: column;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 30px;
    }

    .tag_cover {
      max-width: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      position: relative;
      height: 120px;
      overflow: hidden;
      padding-bottom: 43%;

      img {
        display: block;
        position: absolute;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        max-height: none;
      }
    }

    .tag_data {
      justify-content: flex-start;
    }

    .tag_data-head {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.09px;
    }

    .tag_data-discr {
      display: none;
    }
  }
}
