:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 15px;
}

.box {
  display: flex;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.col {
  position: relative;
  flex: 1;
  
  &:first-of-type {
    margin-right: 20px;
  }
  
  &:last-of-type {
    min-height: 500px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  
  &.__fixed {
    position: fixed;
    top: 20px;
    max-width: 560px;
    margin-right: 40px;
  }
  
  &.__absolute {
    position: absolute;
    top: auto;
    bottom: 0;
    max-width: none;
    margin-right: 0;
  }
  
  .author_photo {
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;
    line-height: 0;
    
    img {
      width: 100%;
    }
    
    &:hover {
      &:before {
        opacity: 1;
      }
      
      .hidden_text {
        opacity: 1;
      }
    }
  }
  
  p {
    font-family: "GothamPro-Medium";
    font-size: 17px;
    line-height: 27.2px;
    color: #575C66;
  }
  
  .author_name {
    font-family: "GothamPro-Black";
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.22px;
    color: #1C1D1F;
    margin-bottom: 18px;
    padding-right: 15px;
  }
}

.share {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  
  .share-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 25px;
    
    &:last-of-type {
      margin-right: 0;
    }
    
    &:hover {
      svg {
        transform: scale(1.05);
      }
    }
  }
  
  svg {
    fill: #1C1D1F;
    transition: transform .15s ease-in-out;
  }
  
  .svg-fb {
    width: 10.4px;
    height: 20px;
  }
  
  .svg-twitter {
    width: 20px;
    height: 15.7px;
  }
  
  .svg-telegram {
    width: 20px;
    height: 16.8px;
  }
  
  .svg-viber {
    width: 19px;
    height: 20px;
  }
  
  .svg-link {
    width: 20px;
    height: 20px;
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.article {
  max-width: 260px;
  width: 100%;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  
  &:nth-of-type(even) {
    margin-right: 0;
  }
  
  &.__fake {
    margin-bottom: 0;
  }
}

.article_cover {
  margin-bottom: 12px;
  line-height: 0;
  
  img {
    width: 100%;
  }
}

.title {
  font-family: "GothamPro-Black";
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.09px;
  color: #1C1D1F;
  margin-bottom: 12px;
}

.date {
  font-family: "GothamPro";
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #AFB0B3;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  .tags_item {
    font-family: "GothamPro";
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #1C1D1F;
    margin-right: 10px;
    margin-bottom: 6px;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 1279px) {
  :host {
    padding-top: 10px;
  }
  
  .box {
    max-width: none;
    padding: 065px;
  }
  
  .col {
    &:first-of-type {
    }
    
    &:last-of-type {
    }
  }
  
  .author {
    &.__fixed {
      max-width: 50%;
      padding-right: 85px;
    }
    
    &.__absolute {
      max-width: none;
      padding-right: 0;
    }
    
    .author_photo {
      &:before {
      }
      
      img {
      }
      
      &:hover {
        &:before {
        }
        
        .hidden_text {
        }
      }
    }
    
    .hidden_text {
    }
    
    p {
    }
    
    .author_name {
      font-size: 35px;
      line-height: 45.5px;
      letter-spacing: -0.17px;
    }
  }
  
  .share {
    .share-item {
      &:last-of-type {
      }
      
      &:hover {
        svg {
        }
      }
    }
    
    svg {
    }
    
    .svg-fb {
    }
    
    .svg-twitter {
    }
    
    .svg-google_plus {
    }
    
    .svg-telegram {
    }
    
    .svg-viber {
    }
    
    .svg-link {
    }
  }
  
  .articles {
  }
  
  .article {
    max-width: none;
    min-width: 170px;
    flex: 1;
    margin-bottom: 30px;
    
    &:nth-of-type(even) {
    }
  }
  
  .article_cover {
  }
  
  .title {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.08px;
    margin-bottom: 8px;
  }
  
  .date {
    margin-bottom: 8px;
  }
  
  .tags {
    .tags_item {
      font-size: 13px;
      letter-spacing: 0.13px;
      
      &:last-of-type {
      }
    }
  }
  
  .tags_list-pigination {
  }
}

@media all and (max-width: 959px) {
  .box {
    max-width: 800px;
    padding: 030px;
    flex-direction: column;
  }
  
  .col {
    &:first-of-type {
      margin-right: 0;
    }
    
    &:last-of-type {
      margin-left: 0;
    }
  }
  
  .author {
    position: relative !important;
    top: auto !important;
    max-width: none !important;
    padding: 0 !important;
    bottom: auto !important;
    margin: 0040px !important;
    
    &.__fixed {
    }
    
    &.__absolute {
      max-width: none;
      padding-right: 0;
    }
    
    .author_photo {
      margin-bottom: 19px;
      
      &:before {
        display: none;
      }
      
      img {
      }
      
      &:hover {
        &:before {
        }
        
        .hidden_text {
        }
      }
    }
    
    .hidden_text {
      display: none;
    }
    
    p {
    }
    
    .author_name {
      font-size: 30px;
      line-height: 45.5px;
      letter-spacing: -0.15px;
    }
  }
  
  .share {
    .share-item {
      margin-right: 30px;
      
      &:last-of-type {
      }
      
      &:hover {
        svg {
        }
      }
    }
    
    svg {
    }
    
    .svg-fb {
      width: 13px;
      height: 25px;
    }
    
    .svg-twitter {
      width: 25px;
      height: 20px;
    }
    
    .svg-google_plus {
    }
    
    .svg-telegram {
      width: 25px;
      height: 21px;
    }
    
    .svg-viber {
      width: 23.7px;
      height: 25px;
    }
    
    .svg-link {
      width: 25px;
      height: 25px;
    }
  }
  
  .articles {
  }
  
  .article {
    min-width: 250px;
    flex: 1;
    margin-right: 20px;
    margin-bottom: 36px;
    
    &:nth-of-type(even) {
    }
  }
  
  .article_cover {
    margin-bottom: 15px;
  }
  
  .title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.09px;
  }
  
  .date {
    margin-bottom: 10px;
  }
  
  .tags {
    .tags_item {
      font-size: 17px;
      letter-spacing: 0.17px;
      margin-right: 20px;
      
      &:last-of-type {
      }
    }
  }
  
  .tags_list-pigination {
  }
}

@media all and (max-width: 599px) {
  :host {
    padding-top: 5px;
  }
  
  .box {
    max-width: 500px;
    padding: 020px;
  }
  
  .col {
    &:first-of-type {
    }
    
    &:last-of-type {
    }
  }
  
  .author {
    margin: 0030px !important;
    
    &.__fixed {
    }
    
    &.__absolute {
    }
    
    .author_photo {
      margin-bottom: 13px;
      
      &:before {
      }
      
      img {
      }
      
      &:hover {
        &:before {
        }
        
        .hidden_text {
        }
      }
    }
    
    .hidden_text {
      display: none;
    }
    
    p {
    }
    
    .author_name {
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: -0.12px;
    }
  }
  
  .share {
    .share-item {
      margin-right: 30px;
      
      &:last-of-type {
      }
      
      &:hover {
        svg {
        }
      }
    }
    
    svg {
    }
    
    .svg-fb {
    }
    
    .svg-twitter {
    }
    
    .svg-google_plus {
    }
    
    .svg-telegram {
    }
    
    .svg-viber {
    }
    
    .svg-link {
    }
  }
  
  .articles {
  }
  
  .article {
    flex: 1;
    margin-right: 0;
    margin-bottom: 27px;
    
    &:nth-of-type(even) {
    }
  }
  
  .article_cover {
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    position: relative;
    height: 120px;
    overflow: hidden;
    padding-bottom: 43%;
    
    img {
      display: block;
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      max-height: none;
    }
  }
  
  .title {
    margin-bottom: 0;
  }
  
  .date {
    display: none;
  }
  
  .tags {
    display: none;
    
    .tags_item {
      &:last-of-type {
      }
    }
  }
  
  .tags_list-pigination {
  }
}
