<div class="box" #boxEl>
  <div class="col">
    <div class="author" #authorEl [ngClass]="{
    '__fixed':authorFixed,
    '__absolute':authorAbsolute
    }">
      <div class="author_photo">
        <img [defaultImage]="author.photo_preload" [lazyLoad]="author.photo" alt="">
<!--        <img [src]="author.photo_preload" alt="">-->
      </div>
      <div class="author_name">
        {{author.name}} {{author.sirname}}
      </div>
      <div class="share">
        <a [href]="author.facebook" *ngIf="author.facebook" target="_blank" class="share-item">
          <svg class="svg-fb">
            <use xlink:href="/assets/img/sprite.svg#fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <a [href]="author.twitter" *ngIf="author.twitter" target="_blank" class="share-item">
          <svg class="svg-twitter">
            <use xlink:href="/assets/img/sprite.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <a [href]="'https://t.me/@' + author.telegram" *ngIf="author.telegram" target="_blank" class="share-item">
          <svg class="svg-telegram">
            <use xlink:href="/assets/img/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <a [href]="'tel:' + author.phone" *ngIf="author.phone" class="share-item">
          <svg class="svg-viber">
            <use xlink:href="/assets/img/sprite.svg#phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <a href="javascript:void(0);" (click)="_common.copyText(true)" class="share-item">
          <svg class="svg-link">
            <use xlink:href="/assets/img/sprite.svg#link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>
      <p>{{author.bio}}</p>
    </div>
  </div>
  <div class="col">
    <div class="articles">
      <div class="article" *ngFor="let article of articles">
        <a (click)="getArticleUrl(article, $event)" [href]="(article.is_link ? article.redirect_url : '/article/' + article.slug | langLink)" class="article_cover">
          <img [defaultImage]="article.cover_preload" [lazyLoad]="article.cover_xs" alt="">
        </a>
        <a *ngIf="!article.is_link" [routerLink]="('/article/' + article.slug)  | langLink" [href]="('/article/' + article.slug) | langLink" class="title">{{article.title}}</a>
        <a *ngIf="article.is_link" [href]="article.redirect_url" class="title">{{article.title}}</a>
        <div class="date">{{date_s.convert(article.publish_time)}}</div>
        <div class="tags">
          <a class="tags_item" *ngFor="let tag of article.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
        </div>
      </div>
      <div class="article __fake"></div>

    </div>
    <app-more-btn *ngIf="articles.length > pagination.total || pagination.currentPage !== pagination.lastPage"
                  (click)="changePage()"
                  [textLeft]="'moreBtn.left-1' | translate"
                  [textRight]="''"></app-more-btn>
  </div>
</div>
