:host {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 20px 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out 0.1s, visibility .15s ease-in-out 0.1s;
  
  &.__show {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }
}

.box {
  max-width: 570px;
  padding: 45px;
  min-height: 134px;
  width: 100%;
  background-color: #1C1D1F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  .close {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    
    &:before, &:after {
      display: block;
      content: '';
      width: 24px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
  }
  
  span {
    font-family : 'GothamPro-Bold';
    font-size : 17px;
    line-height : 22px;
    letter-spacing : -0.08px;
    color : #FFFFFF;
    text-align: center;
  }
}

@media all and (max-width: 599px) {
  :host {
    padding-top: 70px;
  }
}
