h1 {
  font-family: "GothamPro-Black";
  font-size: 45px;
  letter-spacing: -0.22px;
  text-transform: uppercase;
  color: #1C1D1F;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  padding: 0;
}

.tags_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .tag {
    &.__1 {
      font-size: 26px;
    }
    
    &.__2 {
      font-size: 32px;
    }
    
    &.__3 {
      font-size: 38px;
    }
    
    &.__4 {
      font-size: 42px;
    }
    
    &.__5 {
      font-size: 48px;
    }
  }
}

.tags_additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .tag {
    &.__1 {
      font-size: 18px;
    }
    
    &.__2 {
      font-size: 22px;
    }
    
    &.__3 {
      font-size: 26px;
    }
    
    &.__4 {
      font-size: 30px;
    }
    
    &.__5 {
      font-size: 34px;
    }
  }
}


.tag {
  padding: 10px;
  margin: 0 30px 30px;
  font-family: "GothamPro-Bold";
  letter-spacing: -0.15px;
  color: #1C1D1F;
}


@media all and (max-width: 1279px) {
  h1 {
    font-size : 35px;
    letter-spacing : -0.17px;
    margin-bottom: 25px;
  }
  
  .tags_main {
    .tag {
      &.__1 {
        font-size: 24px;
      }
      
      &.__2 {
        font-size: 30px;
      }
      
      &.__3 {
        font-size: 34px;
      }
      
      &.__4 {
        font-size: 38px;
      }
      
      &.__5 {
        font-size: 42px;
      }
    }
  }
  
  .tags_additional {
    .tag {
      &.__1 {
        font-size: 17px;
      }
      
      &.__2 {
        font-size: 21px;
      }
      
      &.__3 {
        font-size: 25px;
      }
      
      &.__4 {
        font-size: 29px;
      }
      
      &.__5 {
        font-size: 33px;
      }
    }
  }
  
  
  .tag {
    margin: 0 20px 20px;
  }
}

@media all and (max-width: 959px) {
  h1 {
    font-size : 30px;
    letter-spacing : -0.15px;
    margin-bottom: 16px;
  }
  
  .tags_main {
    .tag {
      &.__1 {
        font-size: 20px;
      }
      
      &.__2 {
        font-size: 24px;
      }
      
      &.__3 {
        font-size: 28px;
      }
      
      &.__4 {
        font-size: 32px;
      }
      
      &.__5 {
        font-size: 36px;
      }
    }
  }
  
  .tags_additional {
    .tag {
      &.__1 {
        font-size: 17px;
      }
      
      &.__2 {
        font-size: 20px;
      }
      
      &.__3 {
        font-size: 23px;
      }
      
      &.__4 {
        font-size: 26px;
      }
      
      &.__5 {
        font-size: 29px;
      }
    }
  }
  
  
  .tag {
    margin: 0 20px 20px;
  }
}

@media all and (max-width: 599px) {
  h1 {
    font-size : 25px;
    letter-spacing : -0.12px;
    margin-bottom: 10px;
  }
  
  .tag {
    margin: 0 10px 10px;
    font-size: 18px !important;
  }
}

