<div class="box">
  <div class="container">
    <h1>{{'tags.title' | translate}}</h1>
    <div class="tags_main">
      <a href="" [routerLink]="tag | tagLink" [class]="'tag __' + tag.size" *ngFor="let tag of tagsMain">#{{tag.name}}</a>
    </div>
    <div class="tags_additional">
      <a href="" [routerLink]="tag | tagLink" [class]="'tag __' + tag.size" *ngFor="let tag of tagsAdditional">#{{tag.name}}</a>
    </div>
  </div>
</div>

