<div class="box">
  <div class="search_top">
    <ng-container *ngIf="pagination.route === 'tag'">{{'search.title' | translate}} #{{tagName}}</ng-container>
    <ng-container *ngIf="pagination.route === 'articles'">{{'search.title-articles' | translate}} "{{pagination.slug}}"</ng-container>
  </div>
  <div class="search_list">
    <a (click)="getArticleUrl(item, $event)" [href]="(item.is_link ? item.redirect_url : '/article/' + item.slug | langLink)" class="search_list-item" *ngFor="let item of data">
      <div class="item_cover">
        <img [lazyLoad]="item.cover_xs" [defaultImage]="item.cover_preload" alt=""/>
      </div>
      <div class="item_head">{{item.title}}</div>
      <div class="item_date">{{date_s.convert(item.publish_time)}}</div>
      <div class="item_tags">
        <a class="tag" *ngFor="let tag of item.tags" [routerLink]="tag | tagLink">#{{tag.name}}</a>
      </div>
    </a>
    <div class="search_list-item __fake"></div>
    <div class="search_list-item __fake"></div>
    <div class="search_list-item __fake"></div>
  </div>
  <app-more-btn *ngIf="data.length > pagination.total || pagination.currentPage !== pagination.lastPage"
                (click)="changePage()"
                [textLeft]="'moreBtn.left-1' | translate"
                [textRight]="''"></app-more-btn>
</div>
