.box {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.search_top {
  font-family: "GothamPro-Black";
  font-size: 40px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #1C1D1F;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.search_list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search_list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  flex: 1 0 28%;
  max-width: 350px;
  min-width: 250px;
  
  &:nth-of-type(3n+ 2) {
    margin-right: 40px;
    margin-left: 40px;
  }
  
  &.__fake {
    margin-bottom: 0 !important;
  }
}

.item_cover {
  line-height: 0;
  margin-bottom: 21px;
  width: 100%;
  
  img {
    width: 100%;
  }
}

.item_head {
  font-family: "GothamPro-Black";
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.12px;
  color: #1C1D1F;
  margin-bottom: 10px;
  padding: 0 10px 0 18px;
}

.item_date {
  font-family: "GothamPro";
  font-size: 17px;
  letter-spacing: 0.17px;
  color: #CCCCCC;
  margin-bottom: 8px;
  padding: 0 10px 0 18px;
}

.item_tags {
  display: flex;
  align-items: center;
  padding: 0 10px 0 18px;
  flex-wrap: wrap;
}

.tag {
  font-family: "GothamPro";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.17px;
  color: #28302C;
  margin-right: 12px;
  cursor: pointer;
  white-space: nowrap;
  
  &:last-of-type {
    margin-right: 0;
  }
}

@media all and (max-width: 1279px) {
  .box {
    max-width: none;
    padding: 0 65px;
  }
  .search_top {
    font-size: 35px;
    letter-spacing: -0.17px;
  }
  .search_list {
    position: relative;
  }
  .search_list-item {
    flex: 1 0 25%;
    max-width: 350px;
    min-width: 230px;
  }
  .item_cover {
    margin-bottom: 12px;
  }
  .item_head {
    font-size: 17px;
    line-height: 22.58px;
    letter-spacing: -0.08px;
    padding: 0;
    margin-bottom: 5px;
  }
  .item_date {
    font-size: 14px;
    letter-spacing: 0.14px;
    padding: 0;
    margin-bottom: 3px;
  }
  .item_tags {
    padding: 0;
  }
  .tag {
    font-size: 14px;
    letter-spacing: 0.14px;
  }
}

@media all and (max-width: 959px) {
  .box {
    padding: 0 30px;
  }
  .search_top {
    font-size: 30px;
    letter-spacing: -0.15px;
    margin-bottom: 35px;
  }
  .search_list-item {
    flex: 1 0 45%;
    max-width: 50%;
    min-width: 230px;
    
    &:nth-of-type(3n+ 2) {
      margin-right: 0;
      margin-left: 0;
    }
    
    &:nth-of-type(odd) {
      margin-right: 20px;
    }
  }
  .item_head {
    font-size: 17px;
    line-height: 22.58px;
    letter-spacing: -0.08px;
    padding: 0;
    margin-bottom: 8px;
  }
  .item_date {
    font-size: 14px;
    letter-spacing: 0.14px;
    padding: 0;
    margin-bottom: 5px;
  }
  .item_tags {
    padding: 0;
  }
  .tag {
    font-size: 14px;
    letter-spacing: 0.14px;
  }
}

@media all and (max-width: 599px) {
  .box {
    padding: 0 20px;
  }
  .search_top {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
  }
  .search_list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .search_list-item {
    flex: auto;
    max-width: none;
    min-width: auto;
    width: 100%;
    margin-bottom: 30px;
    
    &:nth-of-type(3n+ 2) {
      margin-bottom: 30px;
    }
    
    &:nth-of-type(odd) {
      margin-bottom: 30px;
    }
  }
  .item_cover {
    position: relative;
    margin-bottom: 12px;
    height: 120px;
    overflow: hidden;
    padding-bottom: 43%;
    
    img {
      display: block;
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: none;
    }
  }
  .item_head {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.09px;
    margin-bottom: 10px;
  }
  .item_date {
    margin-bottom: 0;
  }
  .item_tags {
    display: none;
  }
}
