<div class="box" (click)="scrollUp()" appBtnScrollVisibility>
  <svg class="svg-arr">
    <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>
</div>
