.box {
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  line-height: 0;

  position: fixed;
  right: 50px;
  bottom: 40px;
  z-index: 900;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(28, 29, 31, .5);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
  cursor: pointer;
  padding-bottom: 3px;

  &:hover {
    transform: scale(1.1);
  }

  svg {
    fill: #ffffff;
    transform: rotate(90deg);
    width: 13px;
    height: 21px;
  }

  &.__show {
    opacity: 1;
    visibility: visible;
  }

  @media all and (max-width: 599px) {
    width: 45px;
    height: 45px;
    right: 20px;
    bottom: 20px;

    &:hover {
      transform: scale(1);
    }

    svg {
      fill: #ffffff;
      transform: rotate(90deg);
      width: 9px;
      height: 19px;
    }
  }
}
