<div class="box">
  <div class="content">
    <a class="small_screen" [routerLink]="link">
      <svg class="svg-small_screen">
        <use xlink:href="/assets/img/sprite.svg#small_screen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a> <a routerLink="/caricatures" class="head __tablets">#{{'caricature.title' | translate}}</a>
    <div class="prev btnPrev __desktop" (click)="changeCaricature(true)" [class.swiper-button-disabled]="caricature.current === caricature.total">
      <svg class="svg-arr">
        <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="swiper_wrap">
      <div class="swiper-container" [ngStyle]="{
      width: sW + 'px',
      height: sH + 'px'
      }" #wrapEl>
        <div class="swiper-wrapper">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <img [src]="slide.src" alt="">
          </div>
        </div>
        <div class="prev __tablets" (click)="changeCaricature(true)" [class.swiper-button-disabled]="caricature.current === caricature.total">
          <svg class="svg-arr">
            <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="next __tablets" (click)="changeCaricature(false)" [class.swiper-button-disabled]="caricature.current === 1">
          <svg class="svg-arr">
            <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="name">{{caricature.caption}}</div>
      <div class="row" [style.width.px]="sW">
        <a routerLink="/caricatures" class="head __desktop">#{{'caricature.title' | translate}}</a>
        <div class="share">
          <svg class="svg-share2" [class.__hide]="shareIsOpen" (click)="shareIsOpen = true">
            <use xlink:href="/assets/img/sprite.svg#share2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="share_list" [class.__hide]="!shareIsOpen">
          <a href="javascript:void(0);" (click)="openWindow(share.fb)" class="share_list-item">
            <svg class="svg-fb">
              <use xlink:href="/assets/img/sprite.svg#fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
          <a [href]="share.tw" class="share_list-item">
            <svg class="svg-twitter">
              <use xlink:href="/assets/img/sprite.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
          <a href="javascript:void(0);" (click)="openWindow(share.tm)" class="share_list-item">
            <svg class="svg-telegram">
              <use xlink:href="/assets/img/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
          <a href="javascript:void(0);" (click)="openWindow(share.vb)" class="share_list-item">
            <svg class="svg-viber">
              <use xlink:href="/assets/img/sprite.svg#viber" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
          <a href="javascript:void(0);" (click)="_common.copyText(true)" class="share_list-item">
            <svg class="svg-link">
              <use xlink:href="/assets/img/sprite.svg#link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
          <div class="closeShare" (click)="shareIsOpen = false"></div>
        </div>
      </div>
    </div>
    <div class="next btnNext __desktop" (click)="changeCaricature(false)" [class.swiper-button-disabled]="caricature.current === 1">
      <svg class="svg-arr">
        <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
</div>
