.box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10001;
  background-color: #1C1D1F;
  overflow: auto;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.content {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.small_screen {
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
  z-index: 10;
  
  &:hover {
    svg {
      transform: scale(1.15);
    }
  }
  
  svg {
    width: 23px;
    height: 23px;
    fill: #fff;
  }
}

.swiper_wrap {
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.prev, .next {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
  opacity: 1;
  line-height: 0;
  outline: 0;
  
  &.__desktop {
    display: flex;
  }
  
  &.__tablets {
    display: none;
  }
  
  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  svg {
    width: 28px;
    height: 52px;
    fill: #fff;
    transition: transform .15s ease-in-out;
  }
}

.prev {
  left: 0;
  
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}

.next {
  right: 0;
  
  svg {
    transform: rotate(180deg);
  }
  
  &:hover {
    svg {
      transform: rotate(180deg) scale(1.1);
    }
  }
}

.swiper-container {
  margin: 30px auto 27px;
  flex: 1;
  
  .swiper-wrapper {
    height: 100% !important;
    transition: none !important;
  }
  
  .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
}

.name {
  font-family: 'GothamPro';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translate(-50%, 0);
  width: auto;
  height: auto;
  font-family: 'GothamPro';
  font-size: 17px;
  letter-spacing: 0.17px;
  color: rgba(255, 255, 255, .5);
  
  .swiper-pagination-current {
    color: rgba(255, 255, 255, 1);
  }
}

.head {
  font-family: 'GothamPro';
  font-size: 17px;
  letter-spacing: 0.17px;
  color: #FFFFFF;
  
  &.__tablets {
    display: none;
  }
  
  &.__desktop {
    display: block;
  }
}

.svg-share2 {
  width: 25.7px;
  height: 20px;
  fill: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity .15s ease-in-out;
  
  &.__hide {
    display: none;
  }
  
  &:hover {
    opacity: .85;
  }
}

.share_list {
  display: flex;
  align-items: center;
  
  &.__hide {
    display: none;
  }
  
  .share_list-item {
    margin-left: 20px;
    cursor: pointer;
    line-height: 0;
  }
  
  svg {
    fill: #fff;
  }
  
  .svg-fb {
    width: 10.4px;
    height: 20px;
  }
  
  .svg-twitter {
    width: 20px;
    height: 15.7px;
  }
  
  .svg-telegram {
    width: 20px;
    height: 16.8px;
  }
  
  .svg-viber {
    width: 19px;
    height: 20px;
  }
  
  .svg-link {
    width: 20px;
    height: 20px;
  }
  
  .closeShare {
    width: 22px;
    height: 22px;
    position: relative;
    margin-left: 18px;
    cursor: pointer;
    
    &:before, &:after {
      display: block;
      content: '';
      width: 20px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
    }
    
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@media all and (max-width: 1279px) {
  .small_screen {
    top: 20px;
    right: 20px;
  }
  .prev, .next {
    svg {
      width: 17.5px;
      height: 35px;
    }
  }
  .swiper-container {
    margin: 20px auto 17px;
  }
  .name {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.08px;
  }
  .pagination {
    ::ng-deep {
      font-size: 15px;
      letter-spacing: 0.15px;
    }
  }
  .head {
    font-size: 15px;
    letter-spacing: 0.15px;
  }
}

@media all and (max-width: 959px) {
  .content {
    padding-bottom: 80px;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .small_screen {
    top: 20px;
    right: 20px;
  }
  .swiper_wrap {
    position: relative;
    max-width: none;
    max-height: none;
    flex: none;
    padding: 0;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    
    &.__desktop {
      display: none;
    }
    
    &.__tablets {
      display: flex;
    }
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(28, 29, 31, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
      width: 10px;
      height: 20px;
    }
  }
  .prev {
    left: 20px;
  }
  .next {
    right: 20px;
  }
  .swiper-container {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto 17px;
    
    img {
      width: 100%;
    }
  }
  .name {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.08px;
    margin-bottom: 14px;
    margin-bottom: 12px;
  }
  .row {
    max-width: 730px;
    padding: 0 145px;
    flex-direction: column;
    padding: 0;
    max-width: none;
    justify-content: center;
  }
  .pagination {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    transform: translate(0, 0);
    margin-bottom: 30px;
  }
  .head {
    font-size: 25px;
    letter-spacing: 0.25px;
    padding: 60px 0;
    text-align: center;
    
    &.__desktop {
      display: none;
    }
    
    &.__tablets {
      display: block;
    }
  }
  .svg-share2 {
    display: none !important;
  }
  .share_list {
    display: flex !important;
    
    .share_list-item {
      margin: 0 15px;
    }
    
    .svg-fb {
      width: 13px;
      height: 25px;
    }
    
    .svg-twitter {
      width: 25px;
      height: 19.7px;
    }
    
    .svg-telegram {
      width: 25px;
      height: 21px;
    }
    
    .svg-viber {
      width: 23.7px;
      height: 25px;
    }
    
    .svg-link {
      width: 25px;
      height: 25px;
    }
    
    .closeShare {
      display: none;
    }
  }
}

@media all and (max-width: 699px) {
  .content {
    padding-bottom: 60px;
  }
  .prev, .next {
    width: 35px;
    height: 35px;
    
    svg {
      width: 7px;
      height: 14px;
    }
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
  .name {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.08px;
  }
  .pagination {
    margin-bottom: 24px;
  }
  .head {
    font-size: 20px;
    letter-spacing: 0.2px;
    padding: 20px 0;
  }
  .share_list {
    .share_list-item {
      margin: 0 15px;
    }
    
    .svg-fb {
      width: 13px;
      height: 25px;
    }
    
    .svg-twitter {
      width: 25px;
      height: 19.7px;
    }
    
    .svg-telegram {
      width: 25px;
      height: 21px;
    }
    
    .svg-viber {
      width: 23.7px;
      height: 25px;
    }
    
    .svg-link {
      width: 25px;
      height: 25px;
    }
  }
}
