<div class="row">
  <div class="row_content">
    <h1>{{'ads.title' | translate}}</h1>
    <p [innerHTML]="'ads.text' | translate"></p>
  </div>
</div>
<div class="row __black">
  <div class="row_content">
    <div class="col">
      <div class="col_group __first">
        <div class="head">{{'about.ads-label' | translate}}</div>
        <div class="value"><a [href]="'tel:'+ about.ads_tel">{{about.ads_tel}}</a>
          <span class="separator">|</span>
          <a [href]="'mailto:'+ about.ads_email">{{about.ads_email}}</a></div>
        <div class="value __top"><a [href]="'tel:+380937653463'">380937653463</a>
       </div>
      </div>
    </div>
    <div class="col">
      <div class="col_group">
        <div class="head">Бриф</div>
        <div class="value"><a target="_blank" [href]="'https://docs.google.com/forms/d/e/1FAIpQLSeRjbbRvRzcccxzDGRVM53S9pyDvblwY2WupyS5hGWz3srsMg/viewform'">{{'ads.col-value' | translate}}</a></div>
      </div>
    </div>
    <div class="col">
      <div class="col_group">
        <div class="head">{{'about.media-label' | translate}}</div>
        <a [href]="about.media_kit" target="_blank" [class.__disabled]="!about.media_kit" class="value btn">
          <span>{{'about.download' | translate}}</span>
          <svg class="svg-download">
            <use xlink:href="/assets/img/sprite.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
