.box {
  padding-top: 5px;
}

.row {
  padding-bottom: 0!important;
  width: 100%;

  &:last-of-type {
    padding-bottom: 0;
  }

  &.__black {
    //background-color: #000000;
    color: #000000;
    padding: 0 0 50px!important;

    .row_content {
      max-width: 900px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.row_content {
  max-width: 1160px;
  margin: 0 auto;
}

h1, h2 {
  font-family: "GothamPro-Black";
  font-size: 45px;
  letter-spacing: -0.22px;
  color: #1C1D1F;
  text-align: center;
  margin: 0 auto 40px;
  text-transform: uppercase;
}

h2 {
  margin: 55px auto 50px;
}

p {
  font-family: "GothamPro-Bold";
  font-size: 20px;
  line-height: 32.2px;
  letter-spacing: -0.1px;
  color: #231F20;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.col_group {
  margin-bottom: 40px;

  .btn {
    display: flex;
    align-items: center;
    color: #000000 !important;

    svg {
      width: 22px;
      height: 27px;
      fill: #000000;
      margin-left: 16px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .head {
    font-family: "GothamPro-Bold";
    font-size: 18px;
    letter-spacing: -0.09px;
    margin-bottom: 16px;
  }

  .value {
    font-family: "GothamPro";
    font-size: 18px;
    letter-spacing: -0.09px;
    margin-bottom: 6px;
    width: 100%;
    text-align: left;
    &:last-of-type {
      margin-bottom: 0;
    }

    &.__disabled {
      pointer-events: none;
    }

    a {
      color: #000000 !important;

      &:hover {
        color: #000000 !important;
      }
    }

    .separator {
      display: inline-block;
      margin: 0 12px;
    }
  }
}


.team_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 360px;
  width: 100%;
  margin-bottom: 45px;

  &.__hidden {
    margin-bottom: 0;
    opacity: 0;
  }

  .member_photo {
    width: 100%;
    margin-bottom: 24px;

    img {
      width: 100%;
    }
  }

  .member_name {
    width: 100%;
    font-family: "GothamPro-Black";
    font-size: 25px;
    letter-spacing: -0.12px;
    color: #000000;
    margin-bottom: 10px;
  }

  .member_role {
    width: 100%;
    font-family: "GothamPro";
    font-size: 18px;
    letter-spacing: -0.09px;
    color: #000000;
  }

  a {
    display: flex;
    align-items: center;
    margin-top: 16px;

    span {
      display: inline-block;
      font-family: "GothamPro";
      font-size: 18px;
      letter-spacing: -0.09px;
      color: #000000;
      margin-right: 16px;
    }

    svg {
      width: 30px;
      height: 16.4px;
      fill: #000000;
      transform: rotate(180deg);
    }
  }
}

@media all and (max-width: 1279px) {
  .box {
    padding-top: 0;
  }

  .row {
    padding: 0 60px 40px;

    &:last-of-type {
      padding: 0 14px;
    }

    &.__black {
      .row_content {
        max-width: 800px;
      }
    }
  }

  .row_content {
    max-width: none;
  }

  h1, h2 {
    font-size: 35px;
    letter-spacing: -0.17px;
    margin: 0 auto 35px;
  }

  h2 {
    margin: 45px auto 40px;
  }

  .member {
    flex-basis: 31%;
    max-width: none;
    width: auto;
  }
}

@media all and (max-width: 959px) {
  .row {
    &.__black {
      padding: 50px 0;

      .row_content {
        max-width: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  h1, h2 {
    font-size: 30px;
    letter-spacing: -0.15px;
    margin: 0 auto 26px;
  }

  h2 {
    margin: 40px auto 35px;
  }

  .col {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .col_group {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.__first {
    align-items: center;
      justify-content: center;
      text-align: center!important;

      & > * {
        order: 2;
        text-align: center;
      }
      .head {
        order: 0;
      }
      .__top {
        order: 1;
      }
    }

    .head {
      font-size: 20px;
      letter-spacing: -0.1px;
    }

    .value {
      font-size: 20px;
      letter-spacing: -0.1px;
    }
  }


  .member {
    flex-basis: 48%;

    .member_name {
      font-size: 22px;
      letter-spacing: -0.11px;
    }
  }
}

@media all and (max-width: 599px) {
  .row {
    padding: 0 20px 30px;

    &:last-of-type {
      padding: 0 20px;
    }

    &.__black {
      padding: 40px 20px;
    }
  }

  h1, h2 {
    font-size: 25px;
    letter-spacing: -0.12px;
    margin: 0 auto 20px;
  }

  h2 {
    margin: 32px auto 26px;
  }

  p {
    font-size: 18px;
    letter-spacing: -0.09px;
    margin-bottom: 60px;
  }

  .col_group {

    .value {
      display: flex;
      flex-direction: column;

      span {
        display: inline-block;
        margin-bottom: 6px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .separator {
        display: none;
      }
    }

    .btn {
      flex-direction: row !important;
    }
  }

  .member {
    flex-basis: 100%;
  }
}

