@import "reset";
@import "blank";

p {
  display: block;
}

.preloader-box {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  
  transition: none;
  
  &.__hide {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s ease-in-out;
  }
}

html,
body {
  position: relative;
  height: 100%;
  
  &.scrollOff {
    overflow: hidden;
  }
}

body {
  min-height: 100%;
  overflow-y: scroll;
  
  
  
  &.__bg {
    background-color: #1C1D1F;
    
    app-header {
      background-color: transparent;
      
      .menu_btn-wrap {
        .menu_btn {
          &:before, &:after {
            background-color: #fff !important;
          }
          
          &:after {
            background-color: #fff !important;
          }
        }
      }
      
      .tags_item {
        color: #fff;
      }
      
      .logo {
        svg {
          fill: #fff !important;
        }
      }
      
      .langs {
        .langs_item {
          color: #fff !important;
        }
      }
      
      .glasses {
        &.__active {
          &:before, &:after {
            background-color: #fff;
          }
        }
        
        svg {
          fill: #fff
        }
      }
  
      .auth {
        &.__active {
          &:before, &:after {
            background-color: #fff;
          }
        }
        svg {
          fill: #fff;
        }
        
      }
    }
  }
}


.container {
  max-width: 1540px;
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~swiper/dist/css/swiper.min.css';
