<div class="box">
  <div class="content">
    <div class="small_screen" (click)="close()">
      <svg class="svg-small_screen">
        <use xlink:href="/assets/img/sprite.svg#small_screen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="fullscreenBtnPrev prev btnPrev __desktop" (click)="changeSlideHandler(false)">
      <svg class="svg-arr">
        <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="swiper_wrap">
      <div class="swiper-container" [ngStyle]="{
      width: sW + 'px',
      height: sH + 'px'
      }" #wrapEl>
        <div class="swiper-wrapper"[ngStyle]="{
      height: sH + 'px'
      }">
          <div *ngFor="let slide of slides$ | async" class="swiper-slide"[ngStyle]="{
      height: sH + 'px'
      }">
            <img [src]="slide.photo_xl" [class.__height]="img.naturalHeight > img.naturalWidth" alt="" #img>
          </div>
        </div>
        <div class=" prev __tablets" (click)="changeSlideHandler(false)">
          <svg class="svg-arr">
            <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="next __tablets" (click)="changeSlideHandler(true)">
          <svg class="svg-arr">
            <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="name" *ngIf="caption$ | async as caption">{{caption}}</div>
      <div class="paginationCount"><span>{{swiper?.activeIndex + 1}}</span>/{{(slides$ | async).length}}</div>
    </div>
    <div class="fullscreenBtnNext next btnNext __desktop" (click)="changeSlideHandler(true)">
      <svg class="svg-arr">
        <use xlink:href="/assets/img/sprite.svg#arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
</div>
